@{
    ViewBag.Title = "Home Page";


}

<style>
    .carousel-item {
        width: 100%;
        min-height: 1279px;
        background-size: 100% 100%;
    }

    .form-control {
        max-width: 100%;
    }
    /* Fade transition for carousel items */
    .carousel .item {
        left: 0 !important;
        -webkit-transition: opacity .4s; /*adjust timing here */
        -moz-transition: opacity .4s;
        -o-transition: opacity .4s;
        transition: opacity .4s;
    }
    .carousel-control {
        background-image: none !important; /* remove background gradients on controls */
    }
    /* Fade controls with items */
    .next.left,
    .prev.right {
        opacity: 1;
        z-index: 1;
    }
    .active.left,
    .active.right {
        opacity: 0;
        z-index: 2;
    }
</style>
<div>
    <div id="mainCarousel" class="carousel slide" data-ride="carousel">
       
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Resources/coal-fired-power-plant-3767893_1920.jpg" />
            </div>
            <div class="item">
                <img src="~/Resources/fan-3645379_1920.jpg" />
            </div>
            <div class="item">
                <img src="~/Resources/industry-1761801_1920.jpg" />
            </div>
            <div class="item">
                <img src="~/Resources/power-station-374097_1920.jpg" />
            </div>
        </div>
       
    </div>
    @*<img id="MainPageImage" src="~/Resources/power-station-374097_1920.jpg" />*@
</div>

<div class="row">
    <div class="col-md-8">
        <h2>CEMS</h2>
        <p>
            Continuous Emissions Monitoring Systems (<a href="https://en.wikipedia.org/wiki/Continuous_emissions_monitoring_system">CEMS</a>) are tools used to gather valuable data from power plant <a href="https://en.wikipedia.org/wiki/Flue_gas">flue gas</a> as a way to comply with the <a href="https://www.epa.gov/">United States Environmental Protection Agency's</a> <a href="https://www.epa.gov/airmarkets/acid-rain-program">Acid Rain Program</a> and other federal and state emission program/standards.
        </p>
        <hr />
        <h2>Goal</h2>
        <p>
            The purpose of CEMS Study&trade; is to provide valuable quick-reference material for individuals ranging from savvy CEMS professionals to the occasional environmentalist or CEMS newcomer.  Reference materials range from <a href="https://www.epa.gov/laws-regulations/regulations">40 CFR</a> regulations to <a href="https://ecmps.camdsupport.com/learn_intro.shtml">Emissions Collection and Monitoring Plan Systems (ECMPS)</a>.
        </p>
        <hr />
        <h2>Contact</h2>
        <p>
            If you wish to see any other CEMS-related information added to this site, please use the Contact link to submit your suggestions.  As always, your recommendations are greatly appreciated.
        </p>
        <p>
            @*TRIGGER CONTACT MODAL*@
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ContactModal">Contact &raquo;</button>
        </p>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h3>Business 1</h3>
            <p>
                Business 1 Image Link here
            </p>
        </div>
        <div class="well">
            <h3>Business 2</h3>
            <p>
                Business 2 Image Link here
            </p>
        </div>
        <div class="well">
            <h2>Advertise your CEMS Business Here!!</h2>
            <p>
                If you would like to advertise your CEMS business on this site, please submit a request via the Marketing link.
            </p>
            <p>
                @*TRIGGER CONTACT MODAL*@
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MarketingModal">Marketing &raquo;</button>
            </p>
        </div>
    </div>

</div>
<div class="well">
    <h2 class="text-center">Google Ads Here</h2>
</div>

<!--MODAL SECTION-->
<!-- Contact Modal -->
<div class="modal fade" id="ContactModal" tabindex="-1" role="dialog" aria-labelledby="ContactModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <img src="~/Resources/AppLogo.png" class="img-rounded" alt="Home" width="200" />
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2 class="modal-title" id="ContactModalLabel" style="margin-top: 10px">
                        Contact Form
                    </h2>
                </div>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label for="contact-firstName" style="margin-top: 10px">First Name:</label>
                        </div>
                        <div class="input-group col-md-9">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input type="text" class="form-control" id="contact-firstName" placeholder="First Name">
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label for="contact-lastName" style="margin-top: 10px">Last Name:</label>
                        </div>
                        <div class="input-group col-md-9">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input type="text" class="form-control" id="contact-lastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <label for="contact-email" style="margin-top: 10px">Email:</label>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input type="text" class="form-control" id="contact-email" placeholder="Email">
                        </div>
                    </div>
                    <div class="text-center">
                        <small id="emailHelp" class="text-muted">** We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">

                        <label for="contact-textarea">Message</label>
                        <textarea class="form-control" id="contact-textarea" rows="3" placeholder="Message"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Send Message</button>
            </div>
        </div>
    </div>
</div>

<!-- Marketing Modal -->
<div class="modal fade" id="MarketingModal" tabindex="-1" role="dialog" aria-labelledby="MarketingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <img src="~/Resources/AppLogo.png" class="img-rounded" alt="Home" width="200" />
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h2 class="modal-title" id="ContactModalLabel" style="margin-top: 10px">
                        Marketing
                    </h2>
                </div>
            </div>
            <div class="modal-body">
                <form>
                    <h3 class="text-center">Contact</h3>
                    <div class="form-group">
                        <div class="col-md-3" style="margin-top: 10px">
                            <label for="marketing-firstName">First Name:</label>
                        </div>
                        <div class="input-group col-md-9">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input type="text" class="form-control" id="marketing-firstName" placeholder="First Name" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3" style="margin-top: 10px">
                            <label for="marketing-lastName">Last Name:</label>
                        </div>
                        <div class="input-group col-md-9">
                            <span class="input-group-addon">
                                <i class="fa fa-user"></i>
                            </span>
                            <input type="text" class="form-control" id="marketing-lastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3" style="margin-top: 10px">
                            <label for="marketing-phone">Phone:</label>
                        </div>
                        <div class="input-group col-md-9">
                            <span class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </span>
                            <input type="text" class="form-control" id="marketing-phone" placeholder="(xxx) xxx-xxxx">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3" style="margin-top: 10px">
                            <label for="marketing-email">Email:</label>
                        </div>
                        <div class="input-group col-md-9">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope-square"></i>
                            </span>
                            <input type="email" class="form-control" id="marketing-email" placeholder="YourEmail@Domain.com">
                        </div>
                    </div>
                    <div class="text-center">
                        <small id="emailHelp" class="text-muted">** We'll never share your email with anyone else.</small>
                    </div>
                    <hr />

                    <h3 class="text-center">Business</h3>
                    <div class="form-group">
                        <div class="col-md-3" style="margin-top: 10px">
                            <label for="marketing-businessName">Name:</label>
                        </div>
                        <div class="input-group col-md-9">
                            <span class="input-group-addon">
                                <i class="fa fa-building"></i>
                            </span>
                            <input type="text" class="form-control" id="marketing-businessName" placeholder="Business Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3" style="margin-top: 10px">
                            <label for="marketing-businessAddress1">Address 1:</label>
                        </div>
                        <div class="input-group col-md-9">
                            <span class="input-group-addon">
                                <i class="fa fa-building"></i>
                            </span>
                            <input type="text" class="form-control" id="marketing-businessAddress1" placeholder="Business Address 1">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3" style="margin-top: 10px">
                            <label for="marketing-businessAddress2">Address 2:</label>
                        </div>
                        <div class="input-group col-md-9">
                            <span class="input-group-addon">
                                <i class="fa fa-building"></i>
                            </span>
                            <input type="text" class="form-control" id="marketing-businessAddress2" placeholder="Business Address 2">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3" style="margin-top: 10px">
                            <label for="marketing-city">City:</label>
                        </div>
                        <div class="input-group col-md-9">
                            <span class="input-group-addon">
                                <i class="fa fa-building"></i>
                            </span>
                            <input type="text" class="form-control" id="marketing-city" placeholder="Business City">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3" style="margin-top: 10px">
                            <label for="marketing-state">State:</label>
                        </div>
                        <div class="input-group col-md-9">
                            <span class="input-group-addon">
                                <i class="fa fa-building"></i>
                            </span>
                            <select class="form-control" id="marketing-state" style="width: 100px">
                                <option>AA</option>
                                <option>BB</option>
                                <option>CC</option>
                                <option>DD</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3" style="margin-top: 10px">
                            <label for="marketing-postalCode">Postal:</label>
                        </div>
                        <div class="input-group col-md-5 col-sm-6 col-xs-12" >
                            <span class="input-group-addon">
                                <i class="fa fa-building"></i>
                            </span>
                            <input type="text" class="form-control" id="marketing-postalCode" placeholder="Business ZIP Code">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3" style="margin-top: 10px">
                            <label for="marketing-businessPhone">Phone:</label>
                        </div>
                        <div class="input-group col-md-5 col-sm-6 col-xs-12">
                            <span class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </span>
                            <input type="text" class="form-control" id="marketing-businessPhone" placeholder="(xxx) xxx-xxxx">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3" style="margin-top: 10px">
                            <label for="marketing-businessWebsite">Website:</label>
                        </div>
                        <div class="input-group col-md-9">
                            <span class="input-group-addon">
                                <i class="fa fa-globe"></i>
                            </span>
                            <input type="url" class="form-control" id="marketing-businessWebsite" placeholder="www.YourWebsite.com">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Inquire</button>
            </div>
        </div>
    </div>
</div>