@{
    ViewBag.Title = "Home Page";
}

<style>
    #MainPageImage {
        width: 100%;
        background-size: 100% 100%;
    }
</style>
<div>

    <img id="MainPageImage" src="~/Resources/power-station-374097_1920.jpg"/>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>CEMS</h2>
        <p>
            Continuous Emissions Monitoring Systems (<a href="https://en.wikipedia.org/wiki/Continuous_emissions_monitoring_system">CEMS</a>) are used to gather valuable data from power plant <a href="https://en.wikipedia.org/wiki/Flue_gas">flue gas</a> as a way to comply with the <a href="https://www.epa.gov/">United States Environmental Protection Agency's</a> <a href="https://www.epa.gov/airmarkets/acid-rain-program">Acid Rain Program</a> and other federal and state emission program/standards.
        </p>
        
        <h2>Objective</h2>
        <p>
            The purpose of CEMS Study&trade; is to provide valuable quick-reference material for those who work in the CEMS industry ranging from technicians working in the field who need to verify regulation specifications to systems analysts who need quick access to formulas.  Reference material range from <a href="https://www.epa.gov/laws-regulations/regulations">40 CFR</a> regulations to <a href="https://ecmps.camdsupport.com/learn_intro.shtml">Emissions Collection and Monitoring Plan Systems (ECMPS)</a>.
        </p>

        <h2>Contact</h2>
        <p>
            If you wish to see any other CEMS-related information added to this site, please use the Contact link to submit your suggestions.  As always, your recommendations are greatly appreciated.
        </p>
        <p><a class="btn btn-default" href="#">Contact &raquo;</a></p>
    </div>
   
    <div class="col-md-4 well">
        <h2>Advertise your CEMS Business Here!!</h2>
        <p>
            Use the Marketing link to inquire about sponsoring your business here!!
        </p>
        <p><a class="btn btn-default" href="#">Marketing &raquo;</a></p>
    </div>
</div>