@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1>Part 75</h1>
</div>
<div id="sidebar">
    <h3>Table of Contents</h3>

    <nav class="navbar">
        <div>

            <ul class="nav">
                <li><a href="~/Acronyms/Index" title="Acronyms">Acronyms</a></li>
                <li><a href="~/Definitions/Index" title="Definitions">Definitions</a></li>
                <li><a href="~/Formulas/Index" title="Formulas">Formulas</a></li>
                <li><a href="~/UnitsOfMeasure/Index" title="Units of Measure">Units of Measure</a></li>
            </ul>
        </div>
    </nav>
</div>