<style>
    .img-thumbnail {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }

    em {
        text-decoration: underline;
    }

    .noStyle {
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    .anchorPad {
        padding-top: 75px;
        margin-top: -65px;
    }
</style>
<h2>
    Appendix A to Part 75 - Specifications and Test Procedures
</h2>
<hr />
<h3>
    2.&emsp;Equipment Specifications
</h3>
<hr />
<a href="#2.1">2.1&emsp;Instrument Span and Range</a><br />
<a href="#2.1.1">2.1.1&emsp;SO<sub>2</sub> Pollutant Concentration Monitors</a><br />
<a href="#2.1.1.1">2.1.1.1&emsp;Maximum Potential Concentration</a><br />
<a href="#2.1.1.2">2.1.1.2&emsp;Maximum Expected Concentration</a><br />
<a href="#2.1.1.3">2.1.1.3&emsp;Span Value(s) and Range(s)</a><br />
<a href="#2.1.1.4">2.1.1.4&emsp;Dual Span and Range Requirements</a><br />
<a href="#2.1.1.5">2.1.1.5&emsp;Adjustment of Span and Range</a><br />
<a href="#2.1.2">2.1.2&emsp;NO<sub>x</sub> Pollutant Concentration Monitors</a><br />
<a href="#2.1.2.1">2.1.2.1&emsp;Maximum Potential Concentration</a><br />
<a href="#2.1.2.2">2.1.2.2&emsp;Maximum Expected Concentration</a><br />
<a href="#2.1.2.3">2.1.2.3&emsp;Span Value(s) and Range(s)</a><br />
<a href="#2.1.2.4">2.1.2.4&emsp;Dual Span and Range Requirements</a><br />
<a href="#2.1.2.5">2.1.2.5&emsp;Adjustment of Span and Range</a><br />
<a href="#2.1.3">2.1.3&emsp;CO<sub>2</sub> and O<sub>2</sub> Monitors</a><br />
<a href="#2.1.3.1">2.1.3.1&emsp;Maximum Potential Concentration of CO<sub>2</sub></a><br />
<a href="#2.1.3.2">2.1.3.2&emsp;Minimum Potential Concentration of O<sub>2</sub></a><br />
<a href="#2.1.3.3">2.1.3.3&emsp;Adjustment of Span and Range</a><br />
<a href="#2.1.4">2.1.4&emsp;Flow Monitors</a><br />
<a href="#2.1.4.1">2.1.4.1&emsp;Maximum Potential Velocity and Flow Rate</a><br />
<a href="#2.1.4.2">2.1.4.2&emsp;Span Values and Range</a><br />
<a href="#2.1.4.3">2.1.4.3&emsp;Adjustment of Span and Range</a><br />
<a href="#2.1.5">2.1.5&emsp;Minimum Potential Moisture Percentage</a><br />
<a href="#2.1.6">2.1.6&emsp;Maximum Potential Moisture Percentage</a><br />
<a href="#2.2">2.2&emsp;Design for Quality Control Testing</a><br />
<a href="#2.2.1">2.2.1&emsp;Pollutant Concentration and CO<sub>2</sub> or O<sub>2</sub> Monitors</a><br />
<a href="#2.2.2">2.2.2&emsp;Flow Monitors</a><br />
<a href="#2.2.2.1">2.2.2.1&emsp;Calibration Error Test</a><br />
<a href="#2.2.2.2">2.2.2.2&emsp;Interference Check</a><br />
<hr />
<h4 id="2.1" class="anchorPad">2.1&emsp;<em class="noStyle">Instrument Span and Range</em></h4>
<ul>
    <li>
        In implementing sections 2.1.1 through 2.1.6 of this appendix, set the measurement range for each parameter (SO<sub>2</sub>, NO<sub>x</sub>, CO<sub>2</sub>, O<sub>2</sub>, or flow rate) high enough to prevent full-scale exceedances from occurring, yet low enough to ensure good measurement accuracy and to maintain a high signal-to-noise ratio. To meet these objectives, select the range such that the majority of the readings obtained during typical unit operation are kept, to the extent practicable, between 20.0 and 80.0 percent of the full-scale range of the instrument. These guidelines do not apply to:
        <ol>
            <li>
                SO<sub>2</sub> readings obtained during the combustion of very low sulfur fuel (as defined in §72.2 of this chapter);
            </li>
            <li>
                SO<sub>2</sub> or NO<sub>x</sub> readings recorded on the high measurement range, for units with SO<sub>2</sub> or NO<sub>x</sub> emission controls and two span values, unless the emission controls are operated seasonally (for example, only during the ozone season); or
            </li>
            <li>
                SO<sub>2</sub> or NO<sub>x</sub> readings less than 20.0 percent of full-scale on the low measurement range for a dual span unit, provided that the maximum expected concentration (MEC), low-scale span value, and low-scale range settings have been determined according to sections 2.1.1.2, 2.1.1.4(a), (b), and (g) of this appendix (for SO<sub>2</sub>), or according to sections 2.1.2.2, 2.1.2.4(a) and (f) of this appendix (for NO<sub>x</sub>).
            </li>
        </ol>
    </li>
    <li>
        <h5 id="2.1.1" class="anchorPad">
            2.1.1&emsp;<em>SO<sub>2</sub> Pollutant Concentration Monitors</em>
        </h5>
        <ul>
            <li>
                Determine, as indicated in sections 2.1.1.1 through 2.1.1.5 of this appendix the span value(s) and range(s) for an SO<sub>2</sub> pollutant concentration monitor so that all potential and expected concentrations can be accurately measured and recorded. Note that if a unit exclusively combusts fuels that are very low sulfur fuels (as defined in §72.2 of this chapter), the SO<sub>2</sub> monitor span requirements in §75.11(e)(3)(iv) apply in lieu of the requirements of this section.
                <ul>
                    <li>
                        <h5 id="2.1.1.1" class="anchorPad">
                            2.1.1.1&emsp;<em>Maximum Potential Concentration</em>
                        </h5>
                        <ol type="a">
                            <li>
                                Make an initial determination of the maximum potential concentration (MPC) of SO<sub>2</sub> by using Equation A-1a or A-1b. Base the MPC calculation on the maximum percent sulfur and the minimum gross calorific value (GCV) for the highest-sulfur fuel to be burned. The maximum sulfur content and minimum GCV shall be determined from all available fuel sampling and analysis data for that fuel from the previous 12 months (minimum), excluding clearly anomalous fuel sampling values. If both the fuel sulfur content and the GCV are routinely determined from each fuel sample, the owner or operator may, as an alternative to using the highest individual percent sulfur and lowest individual GCV values in the MPC calculation, pair the sulfur content and GCV values from each sample analysis and calculate the ratio of percent sulfur to GCV (i.e., %S/GCV) for each pair of values. If this option is selected, the MPC shall be calculated using the highest %S/GCV ratio in Equation A-1a or A-1b. If the designated representative certifies that the highest-sulfur fuel is never burned alone in the unit during normal operation but is always blended or co-fired with other fuel(s), the MPC may be calculated using a best estimate of the highest sulfur content and lowest gross calorific value expected for the blend or fuel mixture and inserting these values into Equation A-1a or A-1b. Derive the best estimate of the highest percent sulfur and lowest GCV for a blend or fuel mixture from weighted-average values based upon the historical composition of the blend or mixture in the previous 12 (or more) months. If insufficient representative fuel sampling data are available to determine the maximum sulfur content and minimum GCV, use values from contract(s) for the fuel(s) that will be combusted by the unit in the MPC calculation.
                                <hr />
                                <img class="img-thumbnail" src="~/Content/Images/Part75AppA2.1.jpg" alt="Part 75 Appendix A Eq. A-1a" title="Part 75 Appendix A Eq. A-1a" />
                                <br />
                                <img class="img-thumbnail" src="~/Content/Images/Part75AppA2.2.jpg" alt="Part 75 Appendix A Eq. A-1b" title="Part 75 Appendix A Eq. A-1b" />
                                <table>
                                    <tr>
                                        <th style="width: 85px">Where:</th>
                                    </tr>
                                    <tr>
                                        <td>MPC</td>
                                        <td>= Maximum potential concentration (ppm, wet basis). (To convert to dry basis, divide the MPC by 0.9.)</td>
                                    </tr>
                                    <tr>
                                        <td>MEC</td>
                                        <td>= Maximum expected concentration (ppm, wet basis). (To convert to dry basis, divide the MEC by 0.9).</td>
                                    </tr>
                                    <tr>
                                        <td>%S</td>
                                        <td>= Maximum sulfur content of fuel to be fired, wet basis, weight percent, as determined according to the applicable method in paragraph (c) of section 2.1.1.1.</td>
                                    </tr>
                                    <tr>
                                        <td>%O<sub>2w</sub></td>
                                        <td>= Minimum oxygen concentration, percent wet basis, under typical operating conditions.</td>
                                    </tr>
                                    <tr>
                                        <td>%CO<sub>2w</sub></td>
                                        <td>= Maximum carbon dioxide concentration, percent wet basis, under typical operating conditions.</td>
                                    </tr>
                                    <tr>
                                        <td>GCV</td>
                                        <td>= Minimum gross calorific value of the fuel or blend to be combusted, based on historical fuel sampling and analysis data or, if applicable, based on the fuel contract specifications (Btu/lb). If based on fuel sampling and analysis, the GCV shall be determined according to the applicable method in paragraph (c) of section 2.1.1.1.</td>
                                    </tr>
                                    <tr>
                                        <td>11.32 x 10<sup>6</sup></td>
                                        <td>= Oxygen-based conversion factor in Btu/lb (ppm)/%.</td>
                                    </tr>
                                    <tr>
                                        <td>66.93 x 10<sup>6</sup></td>
                                        <td>= Carbon dioxide-based conversion factor in Btu/lb (ppm)/%.</td>
                                    </tr>
                                </table>
                                <br />
                                <p class="small">
                                    Note: All percent values to be inserted in the equations of this section are to be expressed as a percentage, not a fractional value (e.g., 3, not .03).
                                </p>
                                <hr />
                            </li>
                            <li>
                                Alternatively, if a certified SO<sub>2</sub> CEMS is already installed, the owner or operator may make the initial MPC determination based upon quality-assured historical data recorded by the CEMS. For the purposes of this section, 2.1.1.1, a “certified” CEMS means a CEM system that has met the applicable certification requirements of either: This part, or part 60 of this chapter, or a State CEM program, or the source operating permit. If this option is chosen, the MPC shall be the maximum SO<sub>2</sub> concentration observed during the previous 720 (or more) quality-assured monitor operating hours when combusting the highest-sulfur fuel (or highest-sulfur blend if fuels are always blended or co-fired) that is to be combusted in the unit or units monitored by the SO<sub>2</sub> monitor. For units with SO<sub>2</sub> emission controls, the certified SO<sub>2</sub> monitor used to determine the MPC must be located at or before the control device inlet. Report the MPC and the method of determination in the monitoring plan required under §75.53. Note that the initial MPC value is subject to periodic review under section 2.1.1.5 of this appendix. If an MPC value is found to be either inappropriately high or low, the MPC shall be adjusted in accordance with section 2.1.1.5, and corresponding span and range adjustments shall be made, if necessary.
                            </li>
                            <li>
                                When performing fuel sampling to determine the MPC, use ASTM Methods: ASTM D129-00, ASTM D240-00, ASTM D1552-01, ASTM D2622-98, ASTM D3176-89 (Reapproved 2002), ASTM D3177-02 (Reapproved 2007), ASTM D4239-02, ASTM D4294-98, ASTM D5865-01a, or ASTM D5865-10 (all incorporated by reference under §75.6).
                            </li>
                        </ol>
                    </li>
                    <li>
                        <h5 id="2.1.1.2" class="anchorPad">
                            2.1.1.2&emsp;<em>Maximum Expected Concentration</em>
                        </h5>
                        <ol type="a">
                            <li>
                                Make an initial determination of the maximum expected concentration (MEC) of SO<sub>2</sub> whenever: (a) SO<sub>2</sub> emission controls are used; or (b) both high-sulfur and low-sulfur fuels (e.g., high-sulfur coal and low-sulfur coal or different grades of fuel oil) or high-sulfur and low-sulfur fuel blends are combusted as primary or backup fuels in a unit without SO<sub>2</sub> emission controls. For units with SO<sub>2</sub> emission controls, use Equation A-2 to make the initial MEC determination. When high-sulfur and low-sulfur fuels or blends are burned as primary or backup fuels in a unit without SO<sub>2</sub> controls, use Equation A-1a or A-1b to calculate the initial MEC value for each fuel or blend, except for:
                                <ol>
                                    <li>
                                        the highest-sulfur fuel or blend (for which the MPC was previously calculated in section 2.1.1.1 of this appendix);
                                    </li>
                                    <li>
                                        fuels or blends that are very low sulfur fuels (as defined in §72.2 of this chapter); or
                                    </li>
                                    <li>
                                        fuels or blends that are used only for unit startup. Each initial MEC value shall be documented in the monitoring plan required under §75.53.
                                    </li>
                                </ol>
                                <br />
                                <p>
                                    Note that each initial MEC value is subject to periodic review under section 2.1.1.5 of this appendix. If an MEC value is found to be either inappropriately high or low, the MEC shall be adjusted in accordance with section 2.1.1.5, and corresponding span and range adjustments shall be made, if necessary.
                                </p>
                            </li>
                            <li>
                                For each MEC determination, substitute into Equation A-1a or A-1b the highest sulfur content and minimum GCV value for that fuel or blend, based upon all available fuel sampling and analysis results from the previous 12 months (or more), or, if fuel sampling data are unavailable, based upon fuel contract(s).
                            </li>
                            <li>
                                Alternatively, if a certified SO<sub>2</sub> CEMS is already installed, the owner or operator may make the initial MEC determination(s) based upon historical monitoring data. For the purposes of this section, 2.1.1.2, a “certified” CEMS means a CEM system that has met the applicable certification requirements of either: This part, or part 60 of this chapter, or a State CEM program, or the source operating permit. If this option is chosen for a unit with SO<sub>2</sub> emission controls, the MEC shall be the maximum SO<sub>2</sub> concentration measured downstream of the control device outlet by the CEMS over the previous 720 (or more) quality-assured monitor operating hours with the unit and the control device both operating normally. For units that burn high- and low-sulfur fuels or blends as primary and backup fuels and have no SO<sub>2</sub> emission controls, the MEC for each fuel shall be the maximum SO<sub>2</sub> concentration measured by the CEMS over the previous 720 (or more) quality-assured monitor operating hours in which that fuel or blend was the only fuel being burned in the unit.
                                <hr />
                                <img class="img-thumbnail" src="~/Content/Images/Part75AppA2.3.jpg" alt="Part 75 Appendix A Eq. A-2" title="Part 75 Appendix A Eq. A-2" />
                                <br />
                                <table>
                                    <tr>
                                        <th>Where:</th>
                                    </tr>
                                    <tr>
                                        <td>MEC</td>
                                        <td>Maximum expected concentration (ppm).</td>
                                    </tr>
                                    <tr>
                                        <td>MPC</td>
                                        <td>Maximum potential concentration (ppm), as determined by Eq. A-1a or A-1b in section 2.1.1.1 of this appendix.</td>
                                    </tr>
                                    <tr>
                                        <td>RE</td>
                                        <td>Expected average design removal efficiency of control equipment (%).</td>
                                    </tr>
                                </table>
                                <hr />
                            </li>
                        </ol>
                    </li>
                    <li>
                        <h5 id="2.1.1.3" class="anchorPad">
                            2.1.1.3&emsp;<em>Span Value(s) and Range(s)</em>
                        </h5>
                        <ul>
                            <li>
                                Determine the high span value and the high full-scale range of the SO<sub>2</sub> monitor as follows. (Note: For purposes of this part, the high span and range refer, respectively, either to the span and range of a single span unit or to the high span and range of a dual span unit.) The high span value shall be obtained by multiplying the MPC by a factor no less than 1.00 and no greater than 1.25. Round the span value upward to the next highest multiple of 100 ppm. If the SO<sub>2</sub> span concentration is ≤500 ppm, the span value may either be rounded upward to the next highest multiple of 10 ppm, or to the next highest multiple of 100 ppm. The high span value shall be used to determine concentrations of the calibration gases required for daily calibration error checks and linearity tests. Select the full-scale range of the instrument to be consistent with section 2.1 of this appendix and to be greater than or equal to the span value. Report the full-scale range setting and calculations of the MPC and span in the monitoring plan for the unit. Note that for certain applications, a second (low) SO<sub>2</sub> span and range may be required (see section 2.1.1.4 of this appendix). If an existing State, local, or federal requirement for span of an SO<sub>2</sub> pollutant concentration monitor requires or allows the use of a span value lower than that required by this section or by section 2.1.1.4 of this appendix, the State, local, or federal span value may be used if a satisfactory explanation is included in the monitoring plan, unless span and/or range adjustments become necessary in accordance with section 2.1.1.5 of this appendix. Span values higher than those required by either this section or section 2.1.1.4 of this appendix must be approved by the Administrator.
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h5 id="2.1.1.4" class="anchorPad">
                            2.1.1.4&emsp;<em>Dual Span and Range Requirements</em>
                        </h5>
                        <ul>
                            <li>
                                Determine the high span value and the high full-scale range of the SO<sub>2</sub> monitor as follows. (Note: For purposes of this part, the high span and range refer, respectively, either to the span and range of a single span unit or to the high span and range of a dual span unit.) The high span value shall be obtained by multiplying the MPC by a factor no less than 1.00 and no greater than 1.25. Round the span value upward to the next highest multiple of 100 ppm. If the SO<sub>2</sub> span concentration is ≤500 ppm, the span value may either be rounded upward to the next highest multiple of 10 ppm, or to the next highest multiple of 100 ppm. The high span value shall be used to determine concentrations of the calibration gases required for daily calibration error checks and linearity tests. Select the full-scale range of the instrument to be consistent with section 2.1 of this appendix and to be greater than or equal to the span value. Report the full-scale range setting and calculations of the MPC and span in the monitoring plan for the unit. Note that for certain applications, a second (low) SO<sub>2</sub> span and range may be required (see section 2.1.1.4 of this appendix). If an existing State, local, or federal requirement for span of an SO<sub>2</sub> pollutant concentration monitor requires or allows the use of a span value lower than that required by this section or by section 2.1.1.4 of this appendix, the State, local, or federal span value may be used if a satisfactory explanation is included in the monitoring plan, unless span and/or range adjustments become necessary in accordance with section 2.1.1.5 of this appendix. Span values higher than those required by either this section or section 2.1.1.4 of this appendix must be approved by the Administrator.
                                <ol type="a">
                                    <li>
                                        For units with SO<sub>2</sub> emission controls, compare the MEC from section 2.1.1.2 of this appendix to the high full-scale range value from section 2.1.1.3 of this appendix. If the MEC is &ge; 20.0 percent of the high range value, then the high span value and range determined under section 2.1.1.3 of this appendix are sufficient. If the MEC is &lt; 20.0 percent of the high range value, then a second (low) span value is required.
                                    </li>
                                    <li>
                                        For units that combust high- and low-sulfur primary and backup fuels (or blends) and have no SO<sub>2</sub> controls, compare the high range value from section 2.1.1.3 of this appendix (for the highest-sulfur fuel or blend) to the MEC value for each of the other fuels or blends, as determined under section 2.1.1.2 of this appendix. If all of the MEC values are &ge; 20.0 percent of the high range value, the high span and range determined under section 2.1.1.3 of this appendix are sufficient, regardless of which fuel or blend is burned in the unit. If any MEC value is &lt; 20.0 percent of the high range value, then a second (low) span value must be used when that fuel or blend is combusted.
                                    </li>
                                    <li>
                                        When two SO<sub>2</sub> spans are required, the owner or operator may either use a single SO<sub>2</sub> analyzer with a dual range (i.e., low- and high-scales) or two separate SO<sub>2</sub> analyzers connected to a common sample probe and sample interface. Alternatively, if RATAs are performed and passed on both measurement ranges, the owner or operator may use two separate SO<sub>2</sub> analyzers connected to separate probes and sample interfaces. For units with SO<sub>2</sub> emission controls, the owner or operator may use a low range analyzer and a default high range value, as described in paragraph (f) of this section, in lieu of maintaining and quality assuring a high-scale range. Other monitor configurations are subject to the approval of the Administrator.
                                    </li>
                                    <li>
                                        The owner or operator shall designate the monitoring systems and components in the monitoring plan under §75.53 as follows: when a single probe and sample interface are used, either designate the low and high monitor ranges as separate SO<sub>2</sub> components of a single, primary SO<sub>2</sub> monitoring system; designate the low and high monitor ranges as the SO<sub>2</sub> components of two separate, primary SO<sub>2</sub> monitoring systems; designate the normal monitor range as a primary monitoring system and the other monitor range as a non-redundant backup monitoring system; or, when a single, dual-range SO<sub>2</sub> analyzer is used, designate the low and high ranges as a single SO<sub>2</sub> component of a primary SO<sub>2</sub> monitoring system (if this option is selected, use a special dual-range component type code, as specified by the Administrator, to satisfy the requirements of §75.53(e)(1)(iv)(D)). When two SO<sub>2</sub> analyzers are connected to separate probes and sample interfaces, designate the analyzers as the SO<sub>2</sub> components of two separate, primary SO<sub>2</sub> monitoring systems. For units with SO<sub>2</sub> controls, if the default high range value is used, designate the low range analyzer as the SO<sub>2</sub> component of a primary SO<sub>2</sub> monitoring system. Do not designate the default high range as a monitoring system or component. Other component and system designations are subject to approval by the Administrator. Note that the component and system designations for redundant backup monitoring systems shall be the same as for primary monitoring systems.
                                    </li>
                                    <li>
                                        Each monitoring system designated as primary or redundant backup shall meet the initial certification and quality assurance requirements for primary monitoring systems in §75.20(c) or §75.20(d)(1), as applicable, and appendices A and B to this part, with one exception: relative accuracy test audits (RATAs) are required only on the normal range (for units with SO<sub>2</sub> emission controls, the low range is considered normal). Each monitoring system designated as a non-redundant backup shall meet the applicable quality assurance requirements in §75.20(d)(2).
                                    </li>
                                    <li>
                                        For dual span units with SO<sub>2</sub> emission controls, the owner or operator may, as an alternative to maintaining and quality assuring a high monitor range, use a default high range value. If this option is chosen, the owner or operator shall report a default SO<sub>2</sub> concentration of 200 percent of the MPC for each unit operating hour in which the full-scale of the low range SO<sub>2</sub> analyzer is exceeded.
                                    </li>
                                    <li>
                                        The high span value and range shall be determined in accordance with section 2.1.1.3 of this appendix. The low span value shall be obtained by multiplying the MEC by a factor no less than 1.00 and no greater than 1.25, and rounding the result upward to the next highest multiple of 10 ppm (or 100 ppm, as appropriate). For units that burn high- and low-sulfur primary and backup fuels or blends and have no SO<sub>2</sub> emission controls, select, as the basis for calculating the appropriate low span value and range, the fuel-specific MEC value closest to 20.0 percent of the high full-scale range value (from paragraph (b) of this section). The low range must be greater than or equal to the low span value, and the required calibration gases must be selected based on the low span value. However, if the default high range option in paragraph (f) of this section is selected, the full-scale of the low measurement range shall not exceed five times the MEC value (where the MEC is rounded upward to the next highest multiple of 10 ppm). For units with two SO<sub>2</sub> spans, use the low range whenever the SO<sub>2</sub> concentrations are expected to be consistently below 20.0 percent of the high full-scale range value, i.e., when the MEC of the fuel or blend being combusted is less than 20.0 percent of the high full-scale range value. When the full-scale of the low range is exceeded, the high range shall be used to measure and record the SO<sub>2</sub> concentrations; or, if applicable, the default high range value in paragraph (f) of this section shall be reported for each hour of the full-scale exceedance.
                                    </li>
                                </ol>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h5 id="2.1.1.5" class="anchorPad">
                            2.1.1.5&emsp;<em>Adjustment of Span and Range</em>
                        </h5>
                        <ul>
                            <li>
                                For each affected unit or common stack, the owner or operator shall make a periodic evaluation of the MPC, MEC, span, and range values for each SO<sub>2</sub> monitor (at a minimum, an annual evaluation is required) and shall make any necessary span and range adjustments, with corresponding monitoring plan updates, as described in paragraphs (a), (b), and (c) of this section. Span and range adjustments may be required, for example, as a result of changes in the fuel supply, changes in the manner of operation of the unit, or installation or removal of emission controls. In implementing the provisions in paragraphs (a) and (b) of this section, SO<sub>2</sub> data recorded during short-term, non-representative process operating conditions (e.g., a trial burn of a different type of fuel) shall be excluded from consideration. The owner or operator shall keep the results of the most recent span and range evaluation on-site, in a format suitable for inspection. Make each required span or range adjustment no later than 45 days after the end of the quarter in which the need to adjust the span or range is identified, except that up to 90 days after the end of that quarter may be taken to implement a span adjustment if the calibration gases currently being used for daily calibration error tests and linearity checks are unsuitable for use with the new span value.
                                <ol type="a">
                                    <li>
                                        If the fuel supply, the composition of the fuel blend(s), the emission controls, or the manner of operation change such that the maximum expected or potential concentration changes significantly, adjust the span and range setting to assure the continued accuracy of the monitoring system. A “significant” change in the MPC or MEC means that the guidelines in section 2.1 of this appendix can no longer be met, as determined by either a periodic evaluation by the owner or operator or from the results of an audit by the Administrator. The owner or operator should evaluate whether any planned changes in operation of the unit may affect the concentration of emissions being emitted from the unit or stack and should plan any necessary span and range changes needed to account for these changes, so that they are made in as timely a manner as practicable to coordinate with the operational changes. Determine the adjusted span(s) using the procedures in sections 2.1.1.3 and 2.1.1.4 of this appendix (as applicable). Select the full-scale range(s) of the instrument to be greater than or equal to the new span value(s) and to be consistent with the guidelines of section 2.1 of this appendix.
                                    </li>
                                    <li>
                                        Whenever a full-scale range is exceeded during a quarter and the exceedance is not caused by a monitor out-of-control period, proceed as follows:
                                        <ol>
                                            <li>
                                                For exceedances of the high range, report 200.0 percent of the current full-scale range as the hourly SO<sub>2</sub> concentration for each hour of the full-scale exceedance and make appropriate adjustments to the MPC, span, and range to prevent future full-scale exceedances.
                                            </li>
                                            <li>
                                                For units with two SO<sub>2</sub> spans and ranges, if the low range is exceeded, no further action is required, provided that the high range is available and its most recent calibration error test and linearity check have not expired. However, if either of these quality assurance tests has expired and the high range is not able to provide quality assured data at the time of the low range exceedance or at any time during the continuation of the exceedance, report the MPC as the SO<sub>2</sub> concentration until the readings return to the low range or until the high range is able to provide quality assured data (unless the reason that the high-scale range is not able to provide quality assured data is because the high-scale range has been exceeded; if the high-scale range is exceeded follow the procedures in paragraph (b)(1) of this section).
                                            </li>
                                        </ol>
                                    </li>
                                    <li>
                                        Whenever changes are made to the MPC, MEC, full-scale range, or span value of the SO<sub>2</sub> monitor, as described in paragraphs (a) or (b) of this section, record and report (as applicable) the new full-scale range setting, the new MPC or MEC and calculations of the adjusted span value in an updated monitoring plan. The monitoring plan update shall be made in the quarter in which the changes become effective. In addition, record and report the adjusted span as part of the records for the daily calibration error test and linearity check specified by appendix B to this part. Whenever the span value is adjusted, use calibration gas concentrations that meet the requirements of section 5.1 of this appendix, based on the adjusted span value. When a span adjustment is so significant that the calibration gases currently being used for daily calibration error tests and linearity checks are unsuitable for use with the new span value, then a diagnostic linearity test using the new calibration gases must be performed and passed. Use the data validation procedures in §75.20(b)(3), beginning with the hour in which the span is changed.
                                    </li>
                                </ol>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <h5 id="2.1.2" class="anchorPad">
            2.1.2&emsp;<em>NO<sub>x</sub> Pollutant Concentration Monitors</em>
        </h5>

        <ul>
            <li>
                Determine, as indicated in sections 2.1.2.1 through 2.1.2.5 of this appendix, the span and range value(s) for the NO<sub>x</sub> pollutant concentration monitor so that all expected NO<sub>x</sub> concentrations can be determined and recorded accurately.
            </li>
            <li>
                <h5 id="2.1.2.1" class="anchorPad">
                    2.1.2.1&emsp;<em>Maximum Potential Concentration</em>
                </h5>
                <ol type="a">
                    <li>
                        The maximum potential concentration (MPC) of NO<sub>x</sub> for each affected unit shall be based upon whichever fuel or blend combusted in the unit produces the highest level of NO<sub>x</sub> emissions. For the purposes of this section, 2.1.2.1, and section 2.1.2.2 of this appendix, a “blend” means a frequently-used fuel mixture having a consistent composition (e.g., an oil and gas mixture where the relative proportions of the two fuels vary by no more than 10%, on average). Make an initial determination of the MPC using the appropriate option as follows:
                        <ul>
                            <li>
                                Option 1: Use 800 ppm for coal-fired and 400 ppm for oil- or gas-fired units as the maximum potential concentration of NO<sub>x</sub> (if an MPC of 1600 ppm for coal-fired units or 480 ppm for oil- or gas-fired units was previously selected under this section, that value may still be used, provided that the guidelines of section 2.1 of this appendix are met); For cement kilns, use 2000 ppm as the MPC. For process heaters, use 200 ppm if the unit burns only gaseous fuel and 500 ppm if the unit burns oil;
                            </li>
                            <li>
                                Option 2: Use the specific values based on boiler type and fuel combusted, listed in Table 2-1 or Table 2-2; For a new gas-fired or oil-fired combustion turbine, if a default MPC value of 50 ppm was previously selected from Table 2-2, that value may be used until March 31, 2003;
                            </li>
                            <li>
                                Option 3: Use NO<sub>x</sub> emission test results;
                            </li>
                            <li>
                                Option 4: Use historical CEM data over the previous 720 (or more) unit operating hours when combusting the fuel or blend with the highest NO<sub>x</sub> emission rate; or
                            </li>
                            <li>
                                Option 5: If a reliable estimate of the uncontrolled NO<sub>x</sub> emissions from the unit is available from the manufacturer, the estimated value may be used.
                            </li>
                        </ul>
                    </li>
                    <li>
                        For the purpose of providing substitute data during NO<sub>x</sub> missing data periods in accordance with §§75.31 and 75.33 and as required elsewhere under this part, the owner or operator shall also calculate the maximum potential NO<sub>x</sub> emission rate (MER), in lb/mmBtu, by substituting the MPC for NO<sub>x</sub> in conjunction with the minimum expected CO<sub>2</sub> or maximum O<sub>2</sub> concentration (under all unit operating conditions except for unit startup, shutdown, and upsets) and the appropriate F-factor into the applicable equation in appendix F to this part. The diluent cap value of 5.0 percent CO<sub>2</sub> (or 14.0 percent O<sub>2</sub>) for boilers or 1.0 percent CO<sub>2</sub> (or 19.0 percent O<sub>2</sub>) for combustion turbines may be used in the NO<sub>x</sub> MER calculation. As a second alternative, when the NO<sub>x</sub> MPC is determined from emission test results or from historical CEM data, as described in paragraphs (a), (d) and (e) of this section, quality-assured diluent gas (i.e., O<sub>2</sub> or CO<sub>2</sub>) data recorded concurrently with the MPC may be used to calculate the MER.
                    </li>
                    <li>
                        Report the method of determining the initial MPC and the calculation of the maximum potential NO<sub>x</sub> emission rate in the monitoring plan for the unit. Note that whichever MPC option in paragraph 2.1.2.1(a) of this appendix is selected, the initial MPC value is subject to periodic review under section 2.1.2.5 of this appendix. If an MPC value is found to be either inappropriately high or low, the MPC shall be adjusted in accordance with section 2.1.2.5, and corresponding span and range adjustments shall be made, if necessary.
                    </li>
                    <li>
                        For units with add-on NO<sub>x</sub> controls (whether or not the unit is equipped with low-NO<sub>x</sub> burner technology), or for units equipped with dry low-NO<sub>x</sub> (DLN) technology, NO<sub>x</sub> emission testing may only be used to determine the MPC if testing can be performed either upstream of the add-on controls or during a time or season when the add-on controls are not in operation or when the DLN controls are not in the premixed (low-NO<sub>x</sub>) mode. If NO<sub>x</sub> emission testing is performed, use the following guidelines. Use Method 7E from appendix A to part 60 of this chapter to measure total NO<sub>x</sub> concentration. (Note: Method 20 from appendix A to part 60 may be used for gas turbines, instead of Method 7E.) Operate the unit, or group of units sharing a common stack, at the minimum safe and stable load, the normal load, and the maximum load. If the normal load and maximum load are identical, an intermediate level need not be tested. Operate at the highest excess O<sub>2</sub> level expected under normal operating conditions. Make at least three runs of 20 minutes (minimum) duration with three traverse points per run at each operating condition. Select the highest point NO<sub>x</sub> concentration from all test runs as the MPC for NO<sub>x</sub>.
                    </li>
                    <li>
                        If historical CEM data are used to determine the MPC, the data must, for uncontrolled units or units equipped with low-NO<sub>x</sub> burner technology and no other NO<sub>x</sub> controls, represent a minimum of 720 quality-assured monitor operating hours from the NO<sub>x</sub> component of a certified monitoring system, obtained under various operating conditions including the minimum safe and stable load, normal load (including periods of high excess air at normal load), and maximum load. For the purposes of this section, 2.1.2.1, a “certified” CEMS means a CEM system that has met the applicable certification requirements of either: this part, or part 60 of this chapter, or a State CEM program, or the source operating permit. For a unit with add-on NO<sub>x</sub> controls (whether or not the unit is equipped with low-NO<sub>x</sub> burner technology), or for a unit equipped with dry low-NO<sub>x</sub> (DLN) technology, historical CEM data may only be used to determine the MPC if the 720 quality-assured monitor operating hours of CEM data are collected upstream of the add-on controls or if the 720 hours of data include periods when the add-on controls are not in operation or when the DLN controls are not in the premixed (low-NO<sub>x</sub> mode). For units that do not produce electrical or thermal output, the data must represent the full range of normal process operation. The highest hourly NO<sub>x</sub> concentration in ppm shall be the MPC.
                        <hr />
                        <img class="img-thumbnail" src="~/Content/Images/Part75AppA2.4.jpg" alt="Part 75 Appendix A Table 2-1 - Maximum Potential Concentration for NOx Coal-Fired Units" title="Part 75 Appendix A Table 2-1 - Maximum Potential Concentration for NOx Coal-Fired Units" />
                        <hr />
                        <img class="img-thumbnail" src="~/Content/Images/Part75AppA2.5.jpg" alt="Part 75 Appendix A Table 2-2 - Maximum Potential Concentration for NOx Gas- and Oil-Fired Units" title="Part 75 Appendix A Table 2-2 - Maximum Potential Concentration for NOx Gas- and Oil-Fired Units" />
                        <hr />
                    </li>

                </ol>
            </li>
            <li>
                <h5 id="2.1.2.2" class="anchorPad">
                    2.1.2.2&emsp;<em>Maximum Expected Concentration</em>
                </h5>
                <ol type="a">
                    <li>
                        Make an initial determination of the maximum expected concentration (MEC) of NO<sub>x</sub> during normal operation for affected units with add-on NO<sub>x</sub> controls of any kind (e.g., steam injection, water injection, SCR, or SNCR) and for turbines that use dry low-NO<sub>x</sub> technology. Determine a separate MEC value for each type of fuel (or blend) combusted in the unit, except for fuels that are only used for unit startup and/or flame stabilization. Calculate the MEC of NO<sub>x</sub> using Equation A-2, if applicable, inserting the maximum potential concentration, as determined using the procedures in section 2.1.2.1 of this appendix. Where Equation A-2 is not applicable, set the MEC either by: (1) measuring the NO<sub>x</sub> concentration using the testing procedures in this section; (2) using historical CEM data over the previous 720 (or more) quality-assured monitor operating hours; or (3) if the unit has add-on NO<sub>x</sub> controls or uses dry low NO<sub>x</sub> technology, and has a federally-enforceable permit limit for NO<sub>x</sub> concentration, the permit limit may be used as the MEC. Include in the monitoring plan for the unit each MEC value and the method by which the MEC was determined. Note that each initial MEC value is subject to periodic review under section 2.1.2.5 of this appendix. If an MEC value is found to be either inappropriately high or low, the MEC shall be adjusted in accordance with section 2.1.2.5, and corresponding span and range adjustments shall be made, if necessary.
                    </li>
                    <li>
                        If NO<sub>x</sub> emission testing is used to determine the MEC value(s), the MEC for each type of fuel (or blend) shall be based upon testing at minimum load, normal load, and maximum load. At least three tests of 20 minutes (minimum) duration, using at least three traverse points, shall be performed at each load, using Method 7E from appendix A to part 60 of this chapter (Note: Method 20 from appendix A to part 60 may be used for gas turbines instead of Method 7E). The test must be performed at a time when all NO<sub>x</sub> control devices and methods used to reduce NO<sub>x</sub> emissions (if applicable) are operating properly. The testing shall be conducted downstream of all NO<sub>x</sub> controls. The highest point NO<sub>x</sub> concentration (e.g., the highest one-minute average) recorded during any of the test runs shall be the MEC.
                    </li>
                    <li>
                        If historical CEM data are used to determine the MEC value(s), the MEC for each type of fuel shall be based upon 720 (or more) hours of quality-assured data from the NO<sub>x</sub> component of a certified monitoring system representing the entire load range under stable operating conditions. For the purposes of this section, 2.1.2.2, a “certified” CEMS means a CEM system that has met the applicable certification requirements of either: this part, or part 60 of this chapter, or a State CEM program, or the source operating permit. The data base for the MEC shall not include any CEM data recorded during unit startup, shutdown, or malfunction or (for units with add-on NO<sub>x</sub> controls or turbines using dry low NO<sub>x</sub> technology) during any NO<sub>x</sub> control device malfunctions or outages. All NO<sub>x</sub> control devices and methods used to reduce NO<sub>x</sub> emissions (if applicable) must be operating properly during each hour. The CEM data shall be collected downstream of all NO<sub>x</sub> controls. For each type of fuel, the highest of the 720 (or more) quality-assured hourly average NO<sub>x</sub> concentrations recorded by the CEMS shall be the MEC.
                    </li>
                </ol>
            </li>
            <li>
                <h5 id="2.1.2.3" class="anchorPad">
                    2.1.2.3&emsp;<em>Span Value(s) and Range(s)</em>
                </h5>
                <ol type="a">
                    <li>
                        Determine the high span value of the NO<sub>x</sub> monitor as follows. The high span value shall be obtained by multiplying the MPC by a factor no less than 1.00 and no greater than 1.25. Round the span value upward to the next highest multiple of 100 ppm. If the NO<sub>x</sub> span concentration is &le; 500 ppm, the span value may either be rounded upward to the next highest multiple of 10 ppm, or to the next highest multiple of 100 ppm. The high span value shall be used to determine the concentrations of the calibration gases required for daily calibration error checks and linearity tests. Note that for certain applications, a second (low) NO<sub>x</sub> span and range may be required (see section 2.1.2.4 of this appendix).
                    </li>
                    <li>
                        If an existing State, local, or federal requirement for span of a NO<sub>x</sub> pollutant concentration monitor requires or allows the use of a span value lower than that required by this section or by section 2.1.2.4 of this appendix, the State, local, or federal span value may be used, where a satisfactory explanation is included in the monitoring plan, unless span and/or range adjustments become necessary in accordance with section 2.1.2.5 of this appendix. Span values higher than required by this section or by section 2.1.2.4 of this appendix must be approved by the Administrator.
                    </li>
                    <li>
                        Select the full-scale range of the instrument to be consistent with section 2.1 of this appendix and to be greater than or equal to the high span value. Include the full-scale range setting and calculations of the MPC and span in the monitoring plan for the unit.
                    </li>
                </ol>
            </li>
            <li>
                <h5 id="2.1.2.4" class="anchorPad">
                    2.1.2.4&emsp;<em>Dual Span and Range Requirements</em>
                </h5>
                <ul>
                    <li>
                        For most units, the high span value based on the MPC, as determined under section 2.1.2.3 of this appendix will suffice to measure and record NO<sub>x</sub> concentrations (unless span and/or range adjustments must be made in accordance with section 2.1.2.5 of this appendix). In some instances, however, a second (low) span value based on the MEC may be required to ensure accurate measurement of all expected and potential NO<sub>x</sub> concentrations. To determine whether two NO<sub>x</sub> spans are required, proceed as follows:
                        <ol type="a">
                            <li>
                                Compare the MEC value(s) determined in section 2.1.2.2 of this appendix to the high full-scale range value determined in section 2.1.2.3 of this appendix. If the MEC values for all fuels (or blends) are &ge; 20.0 percent of the high range value, the high span and range values determined under section 2.1.2.3 of this appendix are sufficient, irrespective of which fuel or blend is combusted in the unit. If any of the MEC values is &lt; 20.0 percent of the high range value, two spans (low and high) are required, one based on the MPC and the other based on the MEC.
                            </li>
                            <li>
                                When two NO<sub>x</sub> spans are required, the owner or operator may either use a single NO<sub>x</sub> analyzer with a dual range (low-and high-scales) or two separate NO<sub>x</sub> analyzers connected to a common sample probe and sample interface. Two separate NO<sub>x</sub> analyzers connected to separate probes and sample interfaces may be used if RATAs are passed on both ranges. For units with add-on NO<sub>x</sub> emission controls (e.g., steam injection, water injection, SCR, or SNCR) or units equipped with dry low-NO<sub>x</sub> technology, the owner or operator may use a low range analyzer and a “default high range value,” as described in paragraph 2.1.2.4(e) of this section, in lieu of maintaining and quality assuring a high-scale range. Other monitor configurations are subject to the approval of the Administrator.
                            </li>
                            <li>
                                The owner or operator shall designate the monitoring systems and components in the monitoring plan under §75.53 as follows: when a single probe and sample interface are used, either designate the low and high ranges as separate NO<sub>x</sub> components of a single, primary NO<sub>x</sub> monitoring system; designate the low and high ranges as the NO<sub>x</sub> components of two separate, primary NO<sub>x</sub> monitoring systems; designate the normal range as a primary monitoring system and the other range as a non-redundant backup monitoring system; or, when a single, dual-range NO<sub>x</sub> analyzer is used, designate the low and high ranges as a single NO<sub>x</sub> component of a primary NO<sub>x</sub> monitoring system (if this option is selected, use a special dual-range component type code, as specified by the Administrator, to satisfy the requirements of §75.53(e)(1)(iv)(D)). When two NO<sub>x</sub> analyzers are connected to separate probes and sample interfaces, designate the analyzers as the NO<sub>x</sub> components of two separate, primary NO<sub>x</sub> monitoring systems. For units with add-on NO<sub>x</sub> controls or units equipped with dry low-NO<sub>x</sub> technology, if the default high range value is used, designate the low range analyzer as the NO<sub>x</sub> component of the primary NO<sub>x</sub> monitoring system. Do not designate the default high range as a monitoring system or component. Other component and system designations are subject to approval by the Administrator. Note that the component and system designations for redundant backup monitoring systems shall be the same as for primary monitoring systems.
                            </li>
                            <li>
                                Each monitoring system designated as primary or redundant backup shall meet the initial certification and quality assurance requirements in §75.20(c) (for primary monitoring systems), in §75.20(d)(1) (for redundant backup monitoring systems) and appendices A and B to this part, with one exception: relative accuracy test audits (RATAs) are required only on the normal range (for dual span units with add-on NO<sub>x</sub> emission controls, the low range is considered normal). Each monitoring system designated as non-redundant backup shall meet the applicable quality assurance requirements in §75.20(d)(2).
                            </li>
                            <li>
                                For dual span units with add-on NO<sub>x</sub> emission controls (e.g., steam injection, water injection, SCR, or SNCR), or, for units that use dry low NO<sub>x</sub> technology, the owner or operator may, as an alternative to maintaining and quality assuring a high monitor range, use a default high range value. If this option is chosen, the owner or operator shall report a default value of 200.0 percent of the MPC for each unit operating hour in which the full-scale of the low range NO<sub>x</sub> analyzer is exceeded.
                            </li>
                            <li>
                                The high span and range shall be determined in accordance with section 2.1.2.3 of this appendix. The low span value shall be 100.0 to 125.0 percent of the MEC, rounded up to the next highest multiple of 10 ppm (or 100 ppm, if appropriate). If more than one MEC value (as determined in section 2.1.2.2 of this appendix) is &lt; 20.0 percent of the high full-scale range value, the low span value shall be based upon whichever MEC value is closest to 20.0 percent of the high range value. The low range must be greater than or equal to the low span value, and the required calibration gases for the low range must be selected based on the low span value. However, if the default high range option in paragraph (e) of this section is selected, the full-scale of the low measurement range shall not exceed five times the MEC value (where the MEC is rounded upward to the next highest multiple of 10 ppm). For units with two NO<sub>x</sub> spans, use the low range whenever NO<sub>x</sub> concentrations are expected to be consistently &lt; 20.0 percent of the high range value, i.e., when the MEC of the fuel being combusted is &lt; 20.0 percent of the high range value. When the full-scale of the low range is exceeded, the high range shall be used to measure and record the NO<sub>x</sub> concentrations; or, if applicable, the default high range value in paragraph (e) of this section shall be reported for each hour of the full-scale exceedance.
                            </li>

                        </ol>
                    </li>
                </ul>

            </li>
            <li>
                <h5 id="2.1.2.5" class="anchorPad">
                    2.1.2.5&emsp;<em>Adjustment of Span and Range</em>
                </h5>
                <ul>
                    <li>
                        For each affected unit or common stack, the owner or operator shall make a periodic evaluation of the MPC, MEC, span, and range values for each NO<sub>x</sub> monitor (at a minimum, an annual evaluation is required) and shall make any necessary span and range adjustments, with corresponding monitoring plan updates, as described in paragraphs (a), (b), and (c) of this section. Span and range adjustments may be required, for example, as a result of changes in the fuel supply, changes in the manner of operation of the unit, or installation or removal of emission controls. In implementing the provisions in paragraphs (a) and (b) of this section, note that NO<sub>x</sub> data recorded during short-term, non-representative operating conditions (e.g., a trial burn of a different type of fuel) shall be excluded from consideration. The owner or operator shall keep the results of the most recent span and range evaluation on-site, in a format suitable for inspection. Make each required span or range adjustment no later than 45 days after the end of the quarter in which the need to adjust the span or range is identified, except that up to 90 days after the end of that quarter may be taken to implement a span adjustment if the calibration gases currently being used for daily calibration error tests and linearity checks are unsuitable for use with the new span value.
                        <ol type="a">
                            <li>
                                If the fuel supply, emission controls, or other process parameters change such that the maximum expected concentration or the maximum potential concentration changes significantly, adjust the NO<sub>x</sub> pollutant concentration span(s) and (if necessary) monitor range(s) to assure the continued accuracy of the monitoring system. A “significant” change in the MPC or MEC means that the guidelines in section 2.1 of this appendix can no longer be met, as determined by either a periodic evaluation by the owner or operator or from the results of an audit by the Administrator. The owner or operator should evaluate whether any planned changes in operation of the unit or stack may affect the concentration of emissions being emitted from the unit and should plan any necessary span and range changes needed to account for these changes, so that they are made in as timely a manner as practicable to coordinate with the operational changes. An example of a change that may require a span and range adjustment is the installation of low-NO<sub>x</sub> burner technology on a previously uncontrolled unit. Determine the adjusted span(s) using the procedures in section 2.1.2.3 or 2.1.2.4 of this appendix (as applicable). Select the full-scale range(s) of the instrument to be greater than or equal to the adjusted span value(s) and to be consistent with the guidelines of section 2.1 of this appendix.
                            </li>
                            <li>
                                Whenever a full-scale range is exceeded during a quarter and the exceedance is not caused by a monitor out-of-control period, proceed as follows:
                                <ol>
                                    <li>
                                        For exceedances of the high range, report 200.0 percent of the current full-scale range as the hourly NO<sub>x</sub> concentration for each hour of the full-scale exceedance and make appropriate adjustments to the MPC, span, and range to prevent future full-scale exceedances.
                                    </li>
                                    <li>
                                        For units with two NO<sub>x</sub> spans and ranges, if the low range is exceeded, no further action is required, provided that the high range is available and its most recent calibration error test and linearity check have not expired. However, if either of these quality assurance tests has expired and the high range is not able to provide quality assured data at the time of the low range exceedance or at any time during the continuation of the exceedance, report the MPC as the NO<sub>x</sub> concentration until the readings return to the low range or until the high range is able to provide quality assured data (unless the reason that the high-scale range is not able to provide quality assured data is because the high-scale range has been exceeded; if the high-scale range is exceeded, follow the procedures in paragraph (b)(1) of this section).
                                    </li>
                                </ol>
                            </li>
                            <li>
                                Whenever changes are made to the MPC, MEC, full-scale range, or span value of the NO<sub>x</sub> monitor as described in paragraphs (a) and (b) of this section, record and report (as applicable) the new full-scale range setting, the new MPC or MEC, maximum potential NO<sub>x</sub> emission rate, and the adjusted span value in an updated monitoring plan for the unit. The monitoring plan update shall be made in the quarter in which the changes become effective. In addition, record and report the adjusted span as part of the records for the daily calibration error test and linearity check required by appendix B to this part. Whenever the span value is adjusted, use calibration gas concentrations that meet the requirements of section 5.1 of this appendix, based on the adjusted span value. When a span adjustment is significant enough that the calibration gases currently being used for daily calibration error tests and linearity checks are unsuitable for use with the new span value, a diagnostic linearity test using the new calibration gases must be performed and passed. Use the data validation procedures in §75.20(b)(3), beginning with the hour in which the span is changed.
                            </li>
                        </ol>
                    </li>
                </ul>

            </li>
        </ul>
    </li>
    <li>
        <h5 id="2.1.3" class="anchorPad">
            2.1.3&emsp;<em>CO<sub>2</sub> and O<sub>2</sub> Monitors</em>
        </h5>
        <ul>
            <li>
                For an O<sub>2</sub> monitor (including O<sub>2</sub> monitors used to measure CO<sub>2</sub> emissions or percentage moisture), select a span value between 15.0 and 25.0 percent O<sub>2</sub>. For a CO<sub>2</sub> monitor installed on a boiler, select a span value between 14.0 and 20.0 percent CO<sub>2</sub>. For a CO<sub>2</sub> monitor installed on a combustion turbine, an alternative span value between 6.0 and 14.0 percent CO<sub>2</sub> may be used. An alternative CO<sub>2</sub> span value below 6.0 percent may be used if an appropriate technical justification is included in the hardcopy monitoring plan. An alternative O<sub>2</sub> span value below 15.0 percent O<sub>2</sub> may be used if an appropriate technical justification is included in the monitoring plan (e.g., O<sub>2</sub> concentrations above a certain level create an unsafe operating condition). Select the full-scale range of the instrument to be consistent with section 2.1 of this appendix and to be greater than or equal to the span value. Select the calibration gas concentrations for the daily calibration error tests and linearity checks in accordance with section 5.1 of this appendix, as percentages of the span value. For O<sub>2</sub> monitors with span values ≥21.0 percent O<sub>2</sub>, purified instrument air containing 20.9 percent O<sub>2</sub> may be used as the high-level calibration material. If a dual-range or autoranging diluent analyzer is installed, the analyzer may be represented in the monitoring plan as a single component, using a special component type code specified by the Administrator to satisfy the requirements of §75.53(e)(1)(iv)(D).
            </li>
            <li>
                <h5 id="2.1.3.1" class="anchorPad">
                    2.1.3.1&emsp;<em>Maximum Potential Concentration of CO<sub>2</sub></em>
                </h5>
                <ul>
                    <li>
                        <p>
                            The MPC and MEC values for diluent monitors are subject to the same periodic review as SO<sub>2</sub> and NO<sub>x</sub> monitors (see sections 2.1.1.5 and 2.1.2.5 of this appendix). If an MPC or MEC value is found to be either inappropriately high or low, the MPC shall be adjusted and corresponding span and range adjustments shall be made, if necessary.
                        </p>
                        <p>
                            For CO<sub>2</sub> pollutant concentration monitors, the maximum potential concentration shall be 14.0 percent CO<sub>2</sub> for boilers and 6.0 percent CO<sub>2</sub> for combustion turbines. Alternatively, the owner or operator may determine the MPC based on a minimum of 720 hours of quality-assured historical CEM data representing the full operating load range of the unit(s). Note that the MPC for CO<sub>2</sub> monitors shall only be used for the purpose of providing substitute data under this part. The CO<sub>2</sub> monitor span and range shall be determined according to section 2.1.3 of this appendix.
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <h5 id="2.1.3.2" class="anchorPad">
                    2.1.3.2&emsp;<em>Minimum Potential Concentration of O<sub>2</sub></em>
                </h5>
                <ul>
                    <li>
                        <p>
                            The owner or operator of a unit that uses a flow monitor and an O<sub>2</sub> diluent monitor to determine heat input in accordance with Equation F-17 or F-18 in appendix F to this part shall, for the purposes of providing substitute data under §75.36, determine the minimum potential O<sub>2</sub> concentration. The minimum potential O<sub>2</sub> concentration shall be based upon 720 hours or more of quality-assured CEM data, representing the full operating load range of the unit(s). The minimum potential O<sub>2</sub> concentration shall be the lowest quality-assured hourly average O<sub>2</sub> concentration recorded in the 720 (or more) hours of data used for the determination.
                        </p>
                    </li>
                </ul>

            </li>
            <li>
                <h5 id="2.1.3.3" class="anchorPad">
                    2.1.3.3&emsp;<em>Adjustment of Span and Range</em>
                </h5>
                <ul>
                    <li>
                        <p>
                            The MPC and MEC values for diluent monitors are subject to the same periodic review as SO<sub>2</sub> and NO<sub>x</sub> monitors (see sections 2.1.1.5 and 2.1.2.5 of this appendix). If an MPC or MEC value is found to be either inappropriately high or low, the MPC shall be adjusted and corresponding span and range adjustments shall be made, if necessary. Adjust the span value and range of a CO<sub>2</sub> or O<sub>2</sub> monitor in accordance with section 2.1.1.5 of this appendix (insofar as those provisions are applicable), with the term “CO<sub>2</sub> or O<sub>2</sub>” applying instead of the term “SO<sub>2</sub>”. Set the new span and range in accordance with section 2.1.3 of this appendix and report the new span value in the monitoring plan.
                        </p>
                    </li>
                </ul>

            </li>
        </ul>
    </li>
    <li>
        <h5 id="2.1.4" class="anchorPad">
            2.1.4&emsp;<em>Flow Monitors</em>
        </h5>
        <ul>
            <li>
                Select the full-scale range of the flow monitor so that it is consistent with section 2.1 of this appendix and can accurately measure all potential volumetric flow rates at the flow monitor installation site.
            </li>
            <li>
                <h5 id="2.1.4.1" class="anchorPad">
                    2.1.4.1&emsp;<em>Maximum Potential Velocity and Flow Rate</em>
                </h5>
                <ul>
                    <li>
                        For this purpose, determine the span value of the flow monitor using the following procedure. Calculate the maximum potential velocity (MPV) using Equation A-3a or A-3b or determine the MPV (wet basis) from velocity traverse testing using Reference Method 2 (or its allowable alternatives) in appendix A to part 60 of this chapter. If using test values, use the highest average velocity (determined from the Method 2 traverses) measured at or near the maximum unit operating load (or, for units that do not produce electrical or thermal output, at the normal process operating conditions corresponding to the maximum stack gas flow rate). Express the MPV in units of wet standard feet per minute (fpm). For the purpose of providing substitute data during periods of missing flow rate data in accordance with §§75.31 and 75.33 and as required elsewhere in this part, calculate the maximum potential stack gas flow rate (MPF) in units of standard cubic feet per hour (scfh), as the product of the MPV (in units of wet, standard fpm) times 60, times the cross-sectional area of the stack or duct (in ft<sup>2</sup>) at the flow monitor location.
                        <hr />
                        <img class="img-thumbnail" src="~/Content/Images/Part75AppA2.6.jpg" alt="Part 75 Appendix A Eq. A-3a" title="Part 75 Appendix A Eq. A-3a" />
                        <br />
                        <img class="img-thumbnail" src="~/Content/Images/Part75AppA2.7.jpg" alt="Part 75 Appendix A Eq. A-3b" title="Part 75 Appendix A Eq. A-3b" />
                        <br />
                        <table>
                            <tr>
                                <th>Where:</th>
                            </tr>
                            <tr>
                                <td>MPV</td>
                                <td>= maximum potential velocity (fpm, standard wet basis).</td>
                            </tr>
                            <tr>
                                <td>F<sub>d</sub></td>
                                <td>= dry-basis F factor (dscf/mmBtu) from Table 1, Appendix F to this part.</td>
                            </tr>
                            <tr>
                                <td>F<sub>c</sub></td>
                                <td>= carbon-based F factor (scf CO<sub>2</sub>/mmBtu) from Table 1, Appendix F to this part.</td>
                            </tr>
                            <tr>
                                <td>Hf</td>
                                <td>= maximum heat input (mmBtu/minute) for all units, combined, exhausting to the stack or duct where the flow monitor is located.</td>
                            </tr>
                            <tr>
                                <td>A</td>
                                <td>= inside cross sectional area (ft<sup>2</sup>) of the flue at the flow monitor location.</td>
                            </tr>
                            <tr>
                                <td>%O<sub>2d</sub></td>
                                <td>= maximum oxygen concentration, percent dry basis, under normal operating conditions.</td>
                            </tr>
                            <tr>
                                <td>%CO<sub>2d</sub></td>
                                <td>= minimum carbon dioxide concentration, percent dry basis, under normal operating conditions.</td>
                            </tr>
                            <tr>
                                <td>H<sub>2</sub>O</td>
                                <td>= maximum percent flue gas moisture content under normal operating conditions.</td>
                            </tr>
                        </table>
                        <hr />
                    </li>
                </ul>
            </li>
            <li>
                <h5 id="2.1.4.2" class="anchorPad">
                    2.1.4.2&emsp;<em>Span Values and Range</em>
                </h5>
                <ul>
                    <li>
                        Determine the span and range of the flow monitor as follows. Convert the MPV, as determined in section 2.1.4.1 of this appendix, to the same measurement units of flow rate that are used for daily calibration error tests (e.g., scfh, kscfh, kacfm, or differential pressure (inches of water)). Next, determine the “calibration span value” by multiplying the MPV (converted to equivalent daily calibration error units) by a factor no less than 1.00 and no greater than 1.25, and rounding up the result to at least two significant figures. For calibration span values in inches of water, retain at least two decimal places. Select appropriate reference signals for the daily calibration error tests as percentages of the calibration span value, as specified in section 2.2.2.1 of this appendix. Finally, calculate the “flow rate span value” (in scfh) as the product of the MPF, as determined in section 2.1.4.1 of this appendix, times the same factor (between 1.00 and 1.25) that was used to calculate the calibration span value. Round off the flow rate span value to the nearest 1000 scfh. Select the full-scale range of the flow monitor so that it is greater than or equal to the span value and is consistent with section 2.1 of this appendix. Include in the monitoring plan for the unit: calculations of the MPV, MPF, calibration span value, flow rate span value, and full-scale range (expressed both in scfh and, if different, in the measurement units of calibration).
                    </li>
                </ul>
            </li>
            <li>
                <h5 id="2.1.4.3" class="anchorPad">
                    2.1.4.3&emsp;<em>Adjustment of Span and Range</em>
                </h5>
                <ul>
                    <li>
                        For each affected unit or common stack, the owner or operator shall make a periodic evaluation of the MPV, MPF, span, and range values for each flow rate monitor (at a minimum, an annual evaluation is required) and shall make any necessary span and range adjustments with corresponding monitoring plan updates, as described in paragraphs (a) through (c) of this section 2.1.4.3. Span and range adjustments may be required, for example, as a result of changes in the fuel supply, changes in the stack or ductwork configuration, changes in the manner of operation of the unit, or installation or removal of emission controls. In implementing the provisions in paragraphs (a) and (b) of this section 2.1.4.3, note that flow rate data recorded during short-term, non-representative operating conditions (e.g., a trial burn of a different type of fuel) shall be excluded from consideration. The owner or operator shall keep the results of the most recent span and range evaluation on-site, in a format suitable for inspection. Make each required span or range adjustment no later than 45 days after the end of the quarter in which the need to adjust the span or range is identified.
                        <ol type="a">
                            <li>
                                If the fuel supply, stack or ductwork configuration, operating parameters, or other conditions change such that the maximum potential flow rate changes significantly, adjust the span and range to assure the continued accuracy of the flow monitor. A “significant” change in the MPV or MPF means that the guidelines of section 2.1 of this appendix can no longer be met, as determined by either a periodic evaluation by the owner or operator or from the results of an audit by the Administrator. The owner or operator should evaluate whether any planned changes in operation of the unit may affect the flow of the unit or stack and should plan any necessary span and range changes needed to account for these changes, so that they are made in as timely a manner as practicable to coordinate with the operational changes. Calculate the adjusted calibration span and flow rate span values using the procedures in section 2.1.4.2 of this appendix.
                            </li>
                            <li>
                                Whenever the full-scale range is exceeded during a quarter, provided that the exceedance is not caused by a monitor out-of-control period, report 200.0 percent of the current full-scale range as the hourly flow rate for each hour of the full-scale exceedance. If the range is exceeded, make appropriate adjustments to the MPF, flow rate span, and range to prevent future full-scale exceedances. Calculate the new calibration span value by converting the new flow rate span value from units of scfh to units of daily calibration. A calibration error test must be performed and passed to validate data on the new range.
                            </li>
                            <li>
                                Whenever changes are made to the MPV, MPF, full-scale range, or span value of the flow monitor, as described in paragraphs (a) and (b) of this section, record and report (as applicable) the new full-scale range setting, calculations of the flow rate span value, calibration span value, MPV, and MPF in an updated monitoring plan for the unit. The monitoring plan update shall be made in the quarter in which the changes become effective. Record and report the adjusted calibration span and reference values as parts of the records for the calibration error test required by appendix B to this part. Whenever the calibration span value is adjusted, use reference values for the calibration error test that meet the requirements of section 2.2.2.1 of this appendix, based on the most recent adjusted calibration span value. Perform a calibration error test according to section 2.1.1 of appendix B to this part whenever making a change to the flow monitor span or range, unless the range change also triggers a recertification under §75.20(b).

                            </li>
                        </ol>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <h5 id="2.1.5" class="anchorPad">
            2.1.5&emsp;<em>Minimum Potential Moisture Percentage</em>
        </h5>
        <ul>
            <li>
                Except as provided in section 2.1.6 of this appendix, the owner or operator of a unit that uses a continuous moisture monitoring system to correct emission rates and heat inputs from a dry basis to a wet basis (or vice-versa) shall, for the purpose of providing substitute data under §75.37, use a default value of 3.0 percent H<sub>2</sub>O as the minimum potential moisture percentage. Alternatively, the minimum potential moisture percentage may be based upon 720 hours or more of quality-assured CEM data, representing the full operating load range of the unit(s). If this option is chosen, the minimum potential moisture percentage shall be the lowest quality-assured hourly average H<sub>2</sub>O concentration recorded in the 720 (or more) hours of data used for the determination.
            </li>
        </ul>
    </li>
    <li>
        <h5 id="2.1.6" class="anchorPad">
            2.1.6&emsp;<em>Maximum Potential Moisture Percentage</em>
        </h5>
        <ul>
            <li>
                When Equation 19-3, 19-4 or 19-8 in Method 19 in appendix A to part 60 of this chapter is used to determine NO<sub>x</sub> emission rate, the owner or operator of a unit that uses a continuous moisture monitoring system shall, for the purpose of providing substitute data under §75.37, determine the maximum potential moisture percentage. The maximum potential moisture percentage shall be based upon 720 hours or more of quality-assured CEM data, representing the full operating load range of the unit(s). The maximum potential moisture percentage shall be the highest quality-assured hourly average H<sub>2</sub>O concentration recorded in the 720 (or more) hours of data used for the determination. Alternatively, a default maximum potential moisture value of 15.0 percent H<sub>2</sub>O may be used.
            </li>
        </ul>
    </li>
</ul>
<hr />
<h4 id="2.2" class="anchorPad">
    2.2&emsp;<em class="noStyle">Design for Quality Control Testing</em>
</h4>
<ul>
    <li>
        <h5 id="2.2.1" class="anchorPad">
            2.2.1&emsp;<em>Pollutant Concentration and CO<sub>2</sub> or O<sub>2</sub> Monitors</em>
        </h5>
        <ol type="a">
            <li>
                Design and equip each pollutant concentration and CO<sub>2</sub> or O<sub>2</sub> monitor with a calibration gas injection port that allows a check of the entire measurement system when calibration gases are introduced. For extractive and dilution type monitors, all monitoring components exposed to the sample gas, (e.g., sample lines, filters, scrubbers, conditioners, and as much of the probe as practicable) are included in the measurement system. For in situ type monitors, the calibration must check against the injected gas for the performance of all active electronic and optical components (e.g. transmitter, receiver, analyzer).
            </li>
            <li>
                Design and equip each pollutant concentration or CO<sub>2</sub> or O<sub>2</sub> monitor to allow daily determinations of calibration error (positive or negative) at the zero- and mid-or high-level concentrations specified in section 5.2 of this appendix.

            </li>
        </ol>
    </li>
    <li>
        <h5 id="2.2.2" class="anchorPad">
            2.2.2&emsp;<em>Flow Monitors</em>
        </h5>
        <ul>
            <li>
                Design all flow monitors to meet the applicable performance specifications.
            </li>
            <li>
                <h5 id="2.2.2.1" class="anchorPad">
                    2.2.2.1&emsp;<em>Calibration Error Test</em>
                </h5>
                <ul>
                    <li>
                        Design and equip each flow monitor to allow for a daily calibration error test consisting of at least two reference values: Zero to 20 percent of span or an equivalent reference value (e.g., pressure pulse or electronic signal) and 50 to 70 percent of span. Flow monitor response, both before and after any adjustment, must be capable of being recorded by the data acquisition and handling system. Design each flow monitor to allow a daily calibration error test of the entire flow monitoring system, from and including the probe tip (or equivalent) through and including the data acquisition and handling system, or the flow monitoring system from and including the transducer through and including the data acquisition and handling system.
                    </li>
                </ul>
            </li>
            <li>
                <h5 id="2.2.2.2" class="anchorPad">
                    2.2.2.2&emsp;<em>Interference Check</em>
                </h5>
                <ol type="a">
                    <li>
                        Design and equip each flow monitor with a means to ensure that the moisture expected to occur at the monitoring location does not interfere with the proper functioning of the flow monitoring system. Design and equip each flow monitor with a means to detect, on at least a daily basis, pluggage of each sample line and sensing port, and malfunction of each resistance temperature detector (RTD), transceiver or equivalent.
                    </li>
                    <li>
                        Design and equip each differential pressure flow monitor to provide an automatic, periodic back purging (simultaneously on both sides of the probe) or equivalent method of sufficient force and frequency to keep the probe and lines sufficiently free of obstructions on at least a daily basis to prevent velocity sensing interference, and a means for detecting leaks in the system on at least a quarterly basis (manual check is acceptable).
                    </li>
                    <li>
                        Design and equip each thermal flow monitor with a means to ensure on at least a daily basis that the probe remains sufficiently clean to prevent velocity sensing interference.
                    </li>
                    <li>
                        Design and equip each ultrasonic flow monitor with a means to ensure on at least a daily basis that the transceivers remain sufficiently clean (e.g., backpurging system) to prevent velocity sensing interference.
                    </li>
                </ol>
            </li>
        </ul>
    </li>
</ul>