<style>
    .img-thumbnail {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }

    em {
        text-decoration: underline;
    }

    .noStyle {
        text-decoration: none;
    }
</style>
<h2>
    Subpart H - NO<sub>x</sub> Mass Emissions Provision
</h2>
<hr />
<h3>
    § 75.74 &emsp;Annual and Ozone Season Monitoring and Reporting Requirements
</h3>
<ol type="a">
    <li>
        <em>Annual Monitoring Requirement</em>.
        <ol>
            <li>
                The owner or operator of an affected unit subject both to an Acid Rain emission limitation and to a State or federal NO<sub>x</sub> mass reduction program that adopts the provisions of this part must meet the requirements of this part during the entire calendar year.
            </li>
            <li>
                The owner or operator of an affected unit subject to a State or federal NO<sub>x</sub> mass reduction program that adopts the provisions of this part and that requires monitoring and reporting of hourly emissions on an annual basis must meet the requirements of this part during the entire calendar year.
            </li>
        </ol>
    </li>
    <li>
        <em>Ozone Season Monitoring Requirements</em>. The owner or operator of an affected unit that is not required to meet the requirements of this subpart on an annual basis under paragraph (a) of this section may either:
        <ol>
            <li>
                Meet the requirements of this subpart on an annual basis; or
            </li>
            <li>
                Meet the requirements of this subpart during the ozone season, except as specified in paragraph (c) of this section.
            </li>
        </ol>
    </li>
    <li>
        If the owner or operator of an affected unit chooses to meet the requirements of this subpart on less than an annual basis in accordance with paragraph (b)(2) of this section, then:
        <ol>
            <li>
                The owner or operator of a unit that uses continuous emissions monitoring systems or a fuel flow meter to meet any of the requirements of this subpart shall quality assure the hourly ozone season emission data required by this subpart. To achieve this, the owner or operator shall operate, maintain and calibrate each required CEMS and shall perform diagnostic testing and quality assurance testing of each required CEMS or fuel flow meter according to the applicable provisions of paragraphs (c)(2) through (c)(5) of this section. Except where otherwise noted, the provisions of paragraphs (c)(2) and (c)(3) of this section apply instead of the quality assurance provisions in sections <a href="~/Part75/AppB.2#2.1" style="text-decoration: none">2.1</a> through <a href="~/Part75/AppB.2#2.3" style="text-decoration: none">2.3</a> of appendix <a href="~/Part75/AppB.1" style="text-decoration: none">B</a> to this part, and shall be used in lieu of those appendix B provisions.
            </li>
            <li>
                <em>Quality Assurance Requirements Prior to the Ozone Season</em>. The provisions of this paragraph apply to each ozone season. The owner or operator shall, at a minimum, perform the following diagnostic testing and quality assurance assessments, and shall maintain the following records, to ensure that the hourly emission data recorded at the beginning of the current ozone season are suitable for reporting as quality-assured data:
                <ol type="i">
                    <li>
                        For each required gas monitor (i.e., for each NO<sub>x</sub> pollutant concentration monitor and each diluent gas (CO<sub>2</sub> or O<sub>2</sub>) monitor, including CO<sub>2</sub> and O<sub>2</sub> monitors used exclusively for heat input determination and O<sub>2</sub> monitors used for moisture determination), a linearity check shall be performed and passed in the second calendar quarter no later than April 30.
                        <ol type="A">
                            <li>
                                Conduct each linearity check in accordance with the general procedures in section <a href="~/Part75/AppA.6#6.2" style="text-decoration: none">6.2</a> of appendix <a href="~/Part75/AppA.1" style="text-decoration: none">A</a> to this part, except that the data validation procedures in sections <a href="~/Part75/AppA.6#6.2" style="text-decoration: none">6.2</a>(a) through (f) of appendix A do not apply.
                            </li>
                            <li>
                                Each linearity check shall be done “hands-off,” as described in section <a href="~/Part75/AppB.2#2.2.3" style="text-decoration: none">2.2.3</a>(c) of appendix <a href="~/Part75/AppB.1" style="text-decoration: none">B</a> to this part.
                            </li>
                            <li>
                                In the time period extending from the date and hour in which the linearity check is passed through April 30, the owner or operator shall operate and maintain the CEMS and shall perform daily calibration error tests of the CEMS in accordance with section <a href="~/Part75/AppB.2#2.1" style="text-decoration: none">2.1</a> of appendix <a href="~/Part75/AppB.1" style="text-decoration: none">B</a> to this part. When a calibration error test is failed, as described in section <a href="~/Part75/AppB.2#2.1.4" style="text-decoration: none">2.1.4</a> of appendix <a href="~/Part75/AppB.1" style="text-decoration: none">B</a> to this part, corrective actions shall be taken. The additional calibration error test provisions of section <a href="~/Part75/AppB.2#2.1.3" style="text-decoration: none">2.1.3</a> of appendix <a href="~/Part75/AppB.1" style="text-decoration: none">B</a> to this part shall be followed.
                            </li>
                            <li>
                                If the linearity check is not completed by April 30, data validation shall be determined in accordance with paragraph (c)(3)(ii)(E) of this section.
                            </li>
                        </ol>
                    </li>
                    <li>
                        For each required CEMS (i.e., for each NO<sub>x</sub> concentration monitoring system, each NO<sub>x</sub>-diluent monitoring system, each flow rate monitoring system, each moisture monitoring system and each diluent gas CEMS used exclusively for heat input determination), a relative accuracy test audit (RATA) shall be performed and passed in the first or second calendar quarter, but no later than April 30.
                        <ol type="A">
                            <li>
                                Conduct each RATA in accordance with the applicable procedures in sections <a href="~/Part75/AppA.6#6.5" style="text-decoration: none">6.5</a> through <a href="~/Part75/AppA.6#6.5.10" style="text-decoration: none">6.5.10</a> of appendix <a href="~/Part75/AppA.1" style="text-decoration: none">A</a> to this part, except that the data validation procedures in sections <a href="~/Part75/AppA.6#6.5" style="text-decoration: none">6.5</a>(f)(1) through (f)(6) do not apply, and, for flow rate monitoring systems, the required RATA load level(s) (or operating level(s)) shall be as specified in this paragraph.
                            </li>
                            <li>
                                Each RATA shall be done “hands-off,” as described in section <a href="~/Part75/AppB.2#2.3.2" style="text-decoration: none">2.3.2</a> (c) of appendix <a href="~/Part75/AppB.1" style="text-decoration: none">B</a> to this part. The provisions in section <a href="~/Part75/AppB.2#2.3.1.4" style="text-decoration: none">2.3.1.4</a> of appendix <a href="~/Part75/AppB.1" style="text-decoration: none">B</a> to this part, pertaining to the number of allowable RATA attempts, shall apply.
                            </li>
                            <li>
                                For flow rate monitoring systems installed on peaking units or bypass stacks and for flow monitors exempted from multiple-level RATA testing under section <a href="~/Part75/AppA.6#6.5.2" style="text-decoration: none">6.5.2</a>(e) of appendix <a href="~/Part75/AppA.1" style="text-decoration: none">A</a> to this part, a single-load (or single-level) RATA is required. For all other flow rate monitoring systems, a 2-load (or 2-level) RATA is required at the two most frequently-used load or operating levels (as defined under section <a href="~/Part75/AppA.6#6.5.2.1" style="text-decoration: none">6.5.2.1</a> of appendix <a href="~/Part75/AppA.1" style="text-decoration: none">A</a> to this part), with the following exceptions. Except for flow monitors exempted from 3-level RATA testing under section <a href="~/Part75/AppA.6#6.5.2" style="text-decoration: none">6.5.2</a>(e) of appendix <a href="~/Part75/AppA.1" style="text-decoration: none">A</a> to this part, a 3-load flow RATA is required at least once every five years and is also required if the flow monitor polynomial coefficients or K factor(s) are changed prior to conducting the flow RATA required under this paragraph.
                            </li>
                            <li>
                                A bias test of each required NO<sub>x</sub> concentration monitoring system, each NO<sub>x</sub>-diluent monitoring system and each flow rate monitoring system shall be performed in accordance with section <a href="~/Part75/AppA.7#7.6" style="text-decoration: none">7.6</a> of appendix <a href="~/Part75/AppA.1" style="text-decoration: none">A</a> to this part. If the bias test is failed, a bias adjustment factor (BAF) shall be calculated for the monitoring system, as described in section <a href="~/Part75/AppA.7#7.6.5" style="text-decoration: none">7.6.5</a> of appendix <a href="~/Part75/AppA.1" style="text-decoration: none">A</a> to this part and shall be applied to the subsequent data recorded by the CEMS.
                            </li>
                            <li>
                                In the time period extending from the hour of completion of the required RATA through April 30, the owner or operator shall operate and maintain the CEMS by performing, at a minimum, the following activities:
                                <ol>
                                    <li>
                                        The owner or operator shall perform daily calibration error tests and (if applicable) daily flow monitor interference checks, according to section <a href="~/Part75/AppB.2#2.1" style="text-decoration: none">2.1</a> of appendix <a href="~/Part75/AppB.1" style="text-decoration: none">B</a> to this part. When a daily calibration error test or interference check is failed, as described in section <a href="~/Part75/AppB.2#2.1.4" style="text-decoration: none">2.1.4</a> of appendix <a href="~/Part75/AppB.1" style="text-decoration: none">B</a> to this part, corrective actions shall be taken. The additional calibration error test provisions in section <a href="~/Part75/AppB.2#2.1.3" style="text-decoration: none">2.1.3</a> of appendix <a href="~/Part75/AppB.1" style="text-decoration: none">B</a> to this part shall be followed. Records of the required daily calibration error tests and interference checks shall be kept in a format suitable for inspection on a year-round basis.
                                    </li>
                                    <li>
                                        If the owner or operator makes a replacement, modification, or change in a certified monitoring system that significantly affects the ability of the system to accurately measure or record NO<sub>x</sub> mass emissions or heat input or to meet the requirements of <a href="~/Part75/75.21" style="text-decoration: none">§75.21</a> or appendix <a href="~/Part75/AppB.1" style="text-decoration: none">B</a> to this part, the owner or operator shall re-certify the monitoring system according to <a href="~/Part75/75.20" style="text-decoration: none">§75.20</a>(b).
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <em>Data Validation</em>. For each RATA that is performed by April 30, data validation shall be done according to sections <a href="~/Part75/AppB.2#2.3.2" style="text-decoration: none">2.3.2</a>(a)-(j) of appendix <a href="~/Part75/AppB.1" style="text-decoration: none">B</a> to this part. However, if a required RATA is not completed by April 30, data from the monitoring system shall be invalid, beginning with the first unit operating hour on or after May 1. The owner or operator shall continue to invalidate all data from the CEMS until either:
                                <ol>
                                    <li>
                                        The required RATA of the CEMS has been performed and passed; or
                                    </li>
                                    <li>
                                        A probationary calibration error test of the CEMS is passed in accordance with <a href="~/Part75/75.20" style="text-decoration: none">§75.20</a>(b)(3)(ii). Once the probationary calibration error test has been passed, the owner or operator shall perform the required RATA in accordance with the conditional data validation provisions and within the 720 unit or stack operating hour time frame specified in <a href="~/Part75/75.20" style="text-decoration: none">§75.20</a>(b)(3) (subject to the restrictions in paragraph (c)(3)(xii) of this section), and the term “quality assurance” shall apply instead of the term “recertification.” However, in lieu of the provisions in <a href="~/Part75/75.20" style="text-decoration: none">§75.20</a>(b)(3)(ix), the owner or operator shall follow the applicable provisions in paragraphs (c)(3)(xi) and (c)(3)(xii) of this section.
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>
                Quality assurance requirements within the ozone season. The provisions of this paragraph apply to each ozone season. The owner or operator shall, at a minimum, perform the following quality assurance testing during the ozone season, i.e. in the time period extending from May 1 through September 30 of each calendar year:
                <ol type="i">
                    <li>
                        Daily calibration error tests and (if applicable) interference checks of each CEMS required by this subpart shall be performed in accordance with sections <a href="~/Part75/AppB.2#2.1.1" style="text-decoration: none">2.1.1</a> and <a href="~/Part75/AppB.2#2.1.2" style="text-decoration: none">2.1.2</a> of appendix <a href="~/Part75/AppB.1" style="text-decoration: none">B</a> to this part. The applicable provisions in sections <a href="~/Part75/AppB.2#2.1.3" style="text-decoration: none">2.1.3</a>, <a href="~/Part75/AppB.2#2.1.4" style="text-decoration: none">2.1.4</a> and <a href="~/Part75/AppB.2#2.1.5" style="text-decoration: none">2.1.5</a> of appendix <a href="~/Part75/AppB.1" style="text-decoration: none">B</a> to this part, pertaining, respectively, to additional calibration error tests and calibration adjustments, data validation, and quality assurance of data with respect to daily assessments, shall also apply.
                    </li>
                    <li>
                        For each gas monitor required by this subpart, linearity checks shall be performed in the second and third calendar quarters, as follows:
                        <ol type="A">
                            <li>
                                For the second calendar quarter, the pre-ozone season linearity check required under paragraph (c)(2)(i) of this section shall be performed by April 30.
                            </li>
                            <li>
                                For the third calendar quarter, a linearity check shall be performed and passed no later than July 30.
                            </li>
                            <li>
                                Conduct each linearity check in accordance with the general procedures in section <a href="~/Part75/AppA.6#6.2" style="text-decoration: none">6.2</a> of appendix <a href="~/Part75/AppA.1" style="text-decoration: none">A</a> to this part, except that the data validation procedures in sections <a href="~/Part75/AppA.6#6.2" style="text-decoration: none">6.2</a>(a) through (f) of appendix <a href="~/Part75/AppA.1" style="text-decoration: none">A</a> do not apply.
                            </li>
                            <li>
                                Each linearity check shall be done “hands-off,” as described in section <a href="~/Part75/AppB.2#2.2.3" style="text-decoration: none">2.2.3</a>(c) of appendix <a href="~/Part75/AppB.1" style="text-decoration: none">B</a> to this part.
                            </li>
                            <li>
                                <em>Data Validation</em>. For second and third quarter linearity checks performed by the applicable deadline (i.e., April 30 or July 30), data validation shall be done in accordance with sections <a href="~/Part75/AppB.2#2.2.3" style="text-decoration: none">2.2.3</a>(a), (b), (c), (e), and (h) of Appendix <a href="~/Part75/AppB.1" style="text-decoration: none">B</a> to this part. However, if a required linearity check for the second calendar quarter is not completed by April 30, or if a required linearity check for the third calendar quarter is not completed by July 30, data from the monitoring system (or range) shall be invalid, beginning with the first unit operating hour on or after May 1 or July 31, respectively. The owner or operator shall continue to invalidate all data from the CEMS until either:
                                <ol>
                                    <li>
                                        The required linearity check of the CEMS has been performed and passed; or

                                    </li>
                                    <li>
                                        A probationary calibration error test of the CEMS is passed in accordance with <a href="~/Part75/75.20" style="text-decoration: none">§75.20</a>(b)(3)(ii). Once the probationary calibration error test has been passed, the owner or operator shall perform the required linearity check in accordance with the conditional data validation provisions and within the 168 unit or stack operating hour time frame specified in <a href="~/Part75/75.20" style="text-decoration: none">§75.20</a>(b)(3) (subject to the restrictions in paragraph (c)(3)(xii) of this section), and the term “quality assurance” shall apply instead of the term “recertification.” However, in lieu of the provisions in <a href="~/Part75/75.20" style="text-decoration: none">§75.20</a>(b)(3)(ix), the owner or operator shall follow the applicable provisions in paragraphs (c)(3)(xi) and (c)(3)(xii) of this section.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                A pre-season linearity check performed and passed in April satisfies the linearity check requirement for the second quarter.
                            </li>
                            <li>
                                The third quarter linearity check requirement in paragraph (c)(3)(ii)(B) of this section is waived if:
                                <ol>
                                    <li>
                                        Due to infrequent unit operation, the 168 operating hour conditional data validation period associated with a pre-season linearity check extends into the third quarter; and
                                    </li>
                                    <li>
                                        A linearity check is performed and passed within that conditional data validation period.
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li>
                        For each flow monitoring system required by this subpart, except for flow monitors installed on non-load-based units that do not produce electrical or thermal output, flow-to-load ratio tests are required in the second and third calendar quarters, in accordance with section <a href="~/Part75/AppB.2#2.2.5" style="text-decoration: none">2.2.5</a> of appendix <a href="~/Part75/AppB.1" style="text-decoration: none">B</a> to this part. If the flow-to-load ratio test for the second calendar quarter is failed, the owner or operator shall follow the procedures in section <a href="~/Part75/AppB.2#2.2.5" style="text-decoration: none">2.2.5</a>(c)(8) of appendix <a href="~/Part75/AppB.1" style="text-decoration: none">B</a> to this part. If the flow-to-load ratio test for the third calendar quarter is failed, data from the flow monitor shall be considered invalid at the beginning of the next ozone season unless, prior to May 1 of the next calendar year, the owner or operator has either successfully implemented Option 1 in section <a href="~/Part75/AppB.2#2.2.5.1" style="text-decoration: none">2.2.5.1</a> of appendix <a href="~/Part75/AppB.1" style="text-decoration: none">B</a> to this part or Option 2 in section <a href="~/Part75/AppB.2#2.2.5.2" style="text-decoration: none">2.2.5.2</a> of appendix <a href="~/Part75/AppB.1" style="text-decoration: none">B</a> to this part, or unless a flow RATA has been performed and passed in accordance with paragraph (c)(2)(ii) of this section.
                    </li>
                    <li>
                        For each differential pressure-type flow monitor used to meet the requirements of this subpart, quarterly leak checks are required in the second and third calendar quarters, in accordance with section <a href="~/Part75/AppB.2#2.2.2" style="text-decoration: none">2.2.2</a> of appendix <a href="~/Part75/AppB.1" style="text-decoration: none">B</a> to this part. For the second calendar quarter of the year, only the unit or stack operating hours in the months of May and June shall be used to determine whether the second calendar quarter is a QA operating quarter (as defined in §72.2 of this chapter). Data validation for quarterly flow monitor leak checks shall be done in accordance with section <a href="~/Part75/AppB.2#2.2.3" style="text-decoration: none">2.2.3</a>(g) of appendix <a href="~/Part75/AppB.1" style="text-decoration: none">B</a> to this part. If the leak check for the third calendar quarter is failed and a subsequent leak check is not passed by the end of the ozone season, then data from the flow monitor shall be considered invalid at the beginning of the next ozone season unless a leak check is passed prior to May 1 of the next calendar year.
                    </li>
                    <li>
                        A fuel flow-to-load ratio test in section <a href="~/Part75/AppD.2#2.1.7" style="text-decoration: none">2.1.7</a> of appendix <a href="~/Part75/AppD.1" style="text-decoration: none">D</a> to this part shall be performed in the second and third calendar quarters if, for a unit using a fuel flow meter to determine heat input under this subpart, the owner or operator has elected to use the fuel flow-to-load ratio test to extend the deadline for the next fuel flow meter accuracy test. Automatic deadline extensions may be claimed for the two calendar quarters outside the ozone season (the first and fourth calendar quarters), since a fuel flow-to-load ratio test is not required in those quarters. If a fuel flow-to-load ratio test is failed, follow the applicable procedures and data validation provisions in section <a href="~/Part75/AppD.2#2.1.7.4" style="text-decoration: none">2.1.7.4</a> of appendix <a href="~/Part75/AppD.1" style="text-decoration: none">D</a> to this part. If the fuel flow-to-load ratio test for the third calendar quarter is failed, data from the fuel flow meter shall be considered invalid at the beginning of the next ozone season unless the requirements of section <a href="~/Part75/AppD.2#2.1.7.4" style="text-decoration: none">2.1.7.4</a> of appendix <a href="~/Part75/AppD.1" style="text-decoration: none">D</a> to this part have been fully met prior to May 1 of the next calendar year.
                    </li>
                    <li>
                        [Reserved]
                    </li>
                    <li>
                        [Reserved]
                    </li>
                    <li>
                        [Reserved]
                    </li>
                    <li>
                        If, for any required CEMS, diagnostic linearity checks or RATAs other than those required by this section are performed during the ozone season, use the applicable data validation procedures in section <a href="~/Part75/AppB.2#2.2.3" style="text-decoration: none">2.2.3</a> (for linearity checks) or <a href="~/Part75/AppB.2#2.3.2" style="text-decoration: none">2.3.2</a> (for RATAs) of appendix <a href="~/Part75/AppB.1" style="text-decoration: none">B</a> to this part.
                    </li>
                    <li>
                        If any required CEMS is re-certified within the ozone season, use the data validation provisions in <a href="~/Part75/75.20" style="text-decoration: none">§75.20</a>(b)(3) and, if applicable, paragraphs (c)(3)(xi) and (c)(3)(xii) of this section.
                    </li>
                    <li>
                        If, at the end of the second quarter of any calendar year, a required quality assurance, diagnostic, or recertification test of a monitoring system has not been completed, and if data contained in the quarterly report are conditionally valid pending the results of test(s) to be completed in a subsequent quarter, the owner or operator shall indicate this by means of a suitable conditionally valid data flag in the electronic quarterly report for the second calendar quarter. The owner or operator shall resubmit the report for the second quarter if the required quality assurance, diagnostic, or recertification test is subsequently failed. In the resubmitted report, the owner or operator shall use the appropriate missing data routine in <a href="~/Part75/75.31" style="text-decoration: none">§75.31</a> through <a href="~/Part75/75.37" style="text-decoration: none">§75.37</a> to replace with substitute data each hour of conditionally valid data that was invalidated by the failed quality assurance, diagnostic, or recertification test. Alternatively, if any required quality assurance, diagnostic, or recertification test is not completed by the end of the second calendar quarter but is completed no later than 30 days after the end of that quarter (i.e., prior to the deadline for submitting the quarterly report under <a href="~/Part75/75.73" style="text-decoration: none">§75.73</a>), the test data and results may be submitted with the second quarter report even though the test date(s) are from the third calendar quarter. In such instances, if the quality assurance, diagnostic, or recertification test(s) are passed in accordance with the conditional data validation provisions of <a href="~/Part75/75.20" style="text-decoration: none">§75.20</a>(b)(3), conditionally valid data may be reported as quality-assured, in lieu of reporting a conditional data flag. If the tests are failed and if conditionally valid data are replaced, as appropriate, with substitute data, then neither the reporting of a conditional data flag nor resubmission is required.
                    </li>
                    <li>
                        If, at the end of the third quarter of any calendar year, a required quality assurance, diagnostic or recertification test of a monitoring system has not been completed, and if data contained in the quarterly report are conditionally valid pending the results of test(s) to be completed, the owner or operator shall do one of the following:
                        <ol type="A">
                            <li>
                                If the results of the required tests are not available within 30 days of the end of the third calendar quarter and cannot be submitted with the quarterly report for the third calendar quarter, then the test results are considered to be missing and the owner or operator shall use the appropriate missing data routine in <a href="~/Part75/75.31" style="text-decoration: none">§75.31</a> through <a href="~/Part75/75.37" style="text-decoration: none">§75.37</a> to replace with substitute data each hour of conditionally valid data in the third quarter report. In addition, if the data in the second quarterly report were flagged as conditionally valid at the end of the quarter, pending the results of the same missing tests, the owner or operator shall resubmit the report for the second quarter and shall use the appropriate missing data routine in <a href="~/Part75/75.31" style="text-decoration: none">§75.31</a> through <a href="~/Part75/75.37" style="text-decoration: none">§75.37</a> to replace with substitute data each hour of conditionally valid data associated with the missing quality assurance, diagnostic, or recertification tests; or
                            </li>
                            <li>
                                If the required quality assurance, diagnostic, or recertification tests are completed no later than 30 days after the end of the third calendar quarter, the test data and results may be submitted with the third quarter report even though the test date(s) are from the fourth calendar quarter. In this instance, if the required tests are passed in accordance with the conditional data validation provisions of <a href="~/Part75/75.20" style="text-decoration: none">§75.20</a>(b)(3), all conditionally valid data associated with the tests shall be reported as quality-assured. If the tests are failed, the owner or operator shall use the appropriate missing data routine in <a href="~/Part75/75.31" style="text-decoration: none">§75.31</a> through <a href="~/Part75/75.37" style="text-decoration: none">§75.37</a> to replace with substitute data each hour of conditionally valid data associated with the failed test(s). In addition, if the data in the second quarterly report were flagged as conditionally valid at the end of the quarter, pending the results of the same failed test(s), the owner or operator shall resubmit the report for the second quarter and shall use the appropriate missing data routine in <a href="~/Part75/75.31" style="text-decoration: none">§75.31</a> through <a href="~/Part75/75.37" style="text-decoration: none">§75.37</a> to replace with substitute data each hour of conditionally valid data associated with the failed test(s).
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>
                The owner or operator of a unit using the procedures in appendix <a href="~/Part75/AppD.1" style="text-decoration: none">D</a> of this part to determine heat input rate is required to maintain fuel flow meters only during the ozone season, except that for purposes of determining the deadline for the next periodic quality assurance test on the fuel flow meter, the owner or operator shall include all fuel flow meter QA operating quarters (as defined in §72.2) for the entire calendar year, not just fuel flow meter QA operating quarters in the ozone season. For each calendar year, the owner or operator shall record, for each fuel flow meter, the number of fuel flow meter QA operating quarters. The owner or operator shall include all calendar quarters in the year when determining the deadline for visual inspection of the primary fuel flow meter element, as specified in section <a href="~/Part75/AppD.2#2.1.6" style="text-decoration: none">2.1.6</a>(c) of appendix <a href="~/Part75/AppD.1" style="text-decoration: none">D</a> to this part.

            </li>
            <li>
                The owner or operator of a unit using the procedures in appendix <a href="~/Part75/AppD.1" style="text-decoration: none">D</a> of this part to determine heat input rate is only required to sample fuel for the purposes of determining density and GCV during the ozone season, except that:
                <ol type="i">
                    <li>
                        The owner or operator of a unit that performs sampling from the fuel storage tank upon delivery must sample the tank between the date and hour of the most recent delivery before the first date and hour that the unit operates in the ozone season and the first date and hour that the unit operates in the ozone season.
                    </li>
                    <li>
                        The owner or operator of a unit that performs sampling upon delivery from the delivery vehicle must ensure that all shipments received during the calendar year are sampled.
                    </li>
                    <li>
                        The owner or operator of a unit that performs sampling on each day the unit combusts fuel or that performs fuel sampling continuously must sample the fuel starting on the first day the unit operates during the ozone season. The owner or operator then shall use that sampled value for all hours of combustion during the first day of unit operation, continuing until the date and hour of the next sample.
                    </li>
                </ol>
            </li>
            <li>
                The owner or operator shall, in accordance with <a href="~/Part75/75.73" style="text-decoration: none">§75.73</a>, record and report the hourly data required by this subpart and shall record and report the results of all required quality assurance tests, as follows:
                <ol type="i">
                    <li>
                        All hourly emission data for the period of time from May 1 through September 30 of each calendar year shall be recorded and reported. For missing data purposes, only the data recorded in the time period from May 1 through September 30 shall be considered quality-assured;
                    </li>
                    <li>
                        The results of all daily calibration error tests and flow monitor interference checks performed in the time period from May 1 through September 30 shall be recorded and reported;
                    </li>
                    <li>

                        For the time periods described in paragraphs (c)(2)(i)(C) and (c)(2)(ii)(E) of this section, hourly emission data and the results of all daily calibration error tests and flow monitor interference checks shall be recorded. The owner or operator may opt to report unit operating data, daily calibration error test and flow monitor interference check results, and hourly emission data in the time period from April 1 through April 30. However, only the data recorded in the time period from May 1 through September 30 shall be used for NO<sub>x</sub> mass compliance determination;
                    </li>
                    <li>
                        The results of all required quality assurance tests (RATAs, linearity checks, flow-to-load ratio tests and leak checks) performed during the ozone season shall be reported in the appropriate ozone season quarterly report; and
                    </li>
                    <li>
                        The results of RATAs (and any other quality assurance test(s) required under paragraph (c)(2) or (c)(3) of this section) which affect data validation for the current ozone season, but which were performed outside the ozone season (i.e., between January 1 and April 30 of the current calendar year), shall be reported in the quarterly report for the second quarter of the current calendar year (or in the report for the third calendar quarter of the current calendar year, if the unit or stack does not operate in the second quarter).
                    </li>
                </ol>
            </li>
            <li>
                The owner or operator shall use only quality-assured data from within ozone seasons in the substitute data procedures under subpart D of this part and section <a href="~/Part75/AppD.2#2.4.2" style="text-decoration: none">2.4.2</a> of appendix <a href="~/Part75/AppD.1" style="text-decoration: none">D</a> to this part.
                <ol type="i">
                    <li>
                        (i) The look-back periods (e.g., 2160 quality-assured monitor operating hours for a NO<sub>x</sub>-diluent continuous emission monitoring system, a NO<sub>x</sub> concentration monitoring system, or a flow monitoring system) used to calculate missing data must include only quality-assured data from periods within ozone seasons.
                    </li>
                    <li>
                        (ii) The applicable missing data procedures of <a href="~/Part75/75.31" style="text-decoration: none">§75.31</a> through <a href="~/Part75/75.37" style="text-decoration: none">§75.37</a> shall be used, with one exception. When a fuel which has a significantly higher NO<sub>x</sub> emission rate than any of the fuel(s) combusted in prior ozone seasons is combusted in the unit, and no quality-assured NO<sub>x</sub> data have been recorded in the current, or any previous, ozone season while combusting the new fuel, the owner or operator shall substitute the maximum potential NO<sub>x</sub> emission rate, as defined in §72.2 of this chapter, from a NO<sub>x</sub>-diluent continuous emission monitoring system, or the maximum potential concentration of NO<sub>x</sub>, as defined in section <a href="~/Part75/AppA.2#2.1.2.1" style="text-decoration: none">2.1.2.1</a> of appendix <a href="~/Part75/AppA.1" style="text-decoration: none">A</a> to this part, from a NO<sub>x</sub> concentration monitoring system. The maximum potential value used shall be specific to the new fuel. The owner or operator shall substitute the maximum potential value for each hour of missing NO<sub>x</sub> data until the first hour that quality-assured NO<sub>x</sub> data are obtained while combusting the new fuel, and then shall resume use of the missing data routines in <a href="~/Part75/75.31" style="text-decoration: none">§75.31</a> through <a href="~/Part75/75.37" style="text-decoration: none">§75.37</a>; and

                    </li>
                    <li>
                        In order to apply the missing data routines described in <a href="~/Part75/75.31" style="text-decoration: none">§75.31</a> through <a href="~/Part75/75.37" style="text-decoration: none">§75.37</a> on an ozone season-only basis, the procedures in those sections shall be modified as follows:
                        <ol type="A">
                            <li>
                                The use of the initial missing data procedures in <a href="~/Part75/75.31" style="text-decoration: none">§75.31</a> shall commence with the first unit operating hour in the first ozone season for which emissions data are required to be reported under <a href="~/Part75/75.64" style="text-decoration: none">§75.64</a>.
                            </li>
                            <li>
                                In <a href="~/Part75/75.31" style="text-decoration: none">§75.31</a>(a), the phrases “During the first 720 quality-assured monitor operating hours within the ozone season” and “during the first 2,160 quality-assured monitor operating hours within the ozone season” apply respectively instead of the phrases “During the first 720 quality-assured monitor operating hours” and “during the first 2,160 quality-assured monitor operating hours”.
                            </li>
                            <li>
                                In <a href="~/Part75/75.32" style="text-decoration: none">§75.32</a>(a), the phrases “the first 720 quality-assured monitor operating hours within the ozone season” and “the first 2,160 quality-assured monitor operating hours within the ozone season” apply, respectively, instead of the phrases “the first 720 quality-assured monitor operating hours” and “the first 2,160 quality-assured monitor operating hours”.
                            </li>
                            <li>
                                In <a href="~/Part75/75.32" style="text-decoration: none">§75.32</a>(a)(1), the phrase “Following initial certification, prior to completion of 3,672 unit (or stack) operating hours within the ozone season” applies instead of the phrase “Prior to completion of 8,760 unit (or stack) operating hours following initial certification”.
                            </li>
                            <li>
                                In Equation 8, the phrase “Total unit operating hours within the ozone season” applies instead of the phrase “Total unit operating hours”.
                            </li>
                            <li>
                                In <a href="~/Part75/75.32" style="text-decoration: none">§75.32</a>(a)(2), the phrase “3,672 unit (or stack) operating hours within the ozone season” applies instead of the phrase “8,760 unit (or stack) operating hours”.
                            </li>
                            <li>
                                In the numerator of Equation 9, the phrase “Total unit operating hours within the ozone season” applies instead of the phrase “Total unit operating hours”, and the phrase “3,672 unit operating hours within the ozone season” applies instead of the phrase “8,760 unit operating hours”. In the denominator of Equation 9, the number “3,672” applies instead of “8,760”.
                            </li>
                            <li>
                                Use the following instead of the first three sentences in <a href="~/Part75/75.32" style="text-decoration: none">§75.32</a>(a)(3): “When calculating percent monitor data availability using Equation 8 or 9, the owner or operator shall include all unit or stack operating hours within the ozone season, and all monitor operating hours within the ozone season for which quality-assured data were recorded by a certified primary monitor; a certified redundant or non-redundant backup monitor or a reference method for that unit; or by an approved alternative monitoring system under subpart E of this part. No hours from more than three years (26,280 clock hours) earlier shall be used in Equation 9. For a unit that has accumulated fewer than 3,672 ozone season operating hours in the previous three years, use the following: in the numerator of Equation 9 use ‘Total unit operating hours within the ozone season for which quality-assured data were recorded in the previous three years’; and in the denominator of Equation 9 use ‘Total unit operating hours within the ozone season, in the previous three years’”
                            </li>
                            <li>
                                In <a href="~/Part75/75.33" style="text-decoration: none">§75.33</a>(a), the phrases “the first 720 quality-assured monitor operating hours within the ozone season” and “the first 2,160 quality-assured monitor operating hours within the ozone season” apply, respectively, instead of the phrases “the first 720 quality-assured monitor operating hours” and “the first 2,160 quality-assured monitor operating hours”.
                            </li>
                            <li>
                                Instead of the last sentence of <a href="~/Part75/75.33" style="text-decoration: none">§75.33</a>(a), use “For the purposes of missing data substitution, the owner or operator of a unit shall use only quality-assured monitor operating hours of data that were recorded within the ozone season and no more than three years (26,280 clock hours) prior to the date and time of the missing data period.”
                            </li>
                            <li>
                                In <a href="~/Part75/75.33" style="text-decoration: none">§75.33</a>(b), <a href="~/Part75/75.33" style="text-decoration: none">§75.33</a>(c), <a href="~/Part75/75.35" style="text-decoration: none">§75.35</a>,<a href="~/Part75/75.36" style="text-decoration: none">§75.36</a>, and<a href="~/Part75/75.37" style="text-decoration: none">§75.37</a>, the phrases “720 quality-assured monitor operating hours within the ozone season” and “2,160 quality-assured monitor operating hours within the ozone season” apply, respectively, instead of the phrases “720 quality-assured monitor operating hours” and “2,160 quality-assured monitor operating hours”.
                            </li>
                            <li>
                                In <a href="~/Part75/75.34" style="text-decoration: none">§75.34</a>(a)(3) and (a)(5), the phrases “720 quality-assured monitor operating hours within the ozone season” and “2160 quality-assured monitor operating hours within the ozone season” apply instead of “720 quality-assured monitor operating hours” and “2160 quality-assured monitor operating hours”, respectively.
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>
                The owner or operator of a unit with NO<sub>x</sub> add-on emission controls or a unit capable of combusting more than one fuel shall keep records during ozone season in a form suitable for inspection to demonstrate that the typical NO<sub>x</sub> emission rate or NO<sub>x</sub> concentration during the prior ozone season(s) included in the missing data look-back period is representative of the ozone season in which missing data are substituted and that use of the missing data procedures will not systematically underestimate NO<sub>x</sub> mass emissions. These records shall include:
                <ol type="i">
                    <li>
                        For units that can combust more than one fuel, the fuel or fuels combusted each hour; and
                    </li>
                    <li>
                        For units with add-on emission controls, using the missing data options in <a href="~/Part75/75.34" style="text-decoration: none">§75.34</a>(a)(1) through<a href="~/Part75/75.34" style="text-decoration: none">§75.34</a>(a)(5), the range of operating parameters for add-on emission controls (as defined in the quality assurance/quality control program for the unit required by section <a href="~/Part75/AppB.1#1.1" style="text-decoration: none">1</a> in appendix <a href="~/Part75/AppB.1" style="text-decoration: none">B</a> to this part) and information for verifying proper operation of the add-on emission controls during missing data periods, as described in §75.34(d).
                    </li>
                </ol>
            </li>
            <li>
                The designated representative shall certify with each quarterly report that NO<sub>x</sub> emission rate values or NO<sub>x</sub> concentration values substituted for missing data under subpart D of this part are calculated using only values from an ozone season, that substitute values measured during the prior ozone season(s) included in the missing data look-back period are representative of the ozone season in which missing data are substituted, and that NO<sub>x</sub> emissions are not systematically underestimated.
            </li>
            <li>
                Units may qualify to use the low mass emissions excepted monitoring methodology in <a href="~/Part75/75.19" style="text-decoration: none">§75.19</a> on an ozone season basis. In order to be allowed to use this methodology, a unit may not emit more than 50 tons of NO<sub>x</sub> per ozone season, as provided in <a href="~/Part75/75.19" style="text-decoration: none">§75.19</a>(a)(1)(i)(A)(3). If any low mass emissions unit fails to provide a demonstration that its ozone season NO<sub>x</sub> mass emissions are less than or equal to 50 tons, then the unit is disqualified from using the methodology. The owner or operator must install and certify any equipment needed to ensure that the unit is monitored using an acceptable methodology by December 31 of the following year.
            </li>
            <li>
                Units may qualify to use the optional NO<sub>x</sub> mass emissions estimation protocol for gas-fired and oil-fired peaking units in appendix <a href="~/Part75/AppE.1" style="text-decoration: none">E</a> to this part on an ozone season basis. In order to be allowed to use this methodology, the unit must meet the definition of “peaking unit” in §72.2 of this chapter, except that the words “year”, “calendar year” and “calendar years” in that definition shall be replaced by the words “ozone season”, “ozone season”, and “ozone seasons”, respectively. In addition, in the definition of the term “capacity factor” in §72.2 of this chapter, the word “annual” shall be replaced by the words “ozone season” and the number “8,760” shall be replaced by the number “3,672
            </li>
        </ol>
    </li>
</ol>
<hr />
<h4>Reference</h4>
<p>
    [63 FR 57507, Oct. 27, 1998, as amended at 64 FR 28627, May 26, 1999; 67 FR 40446, 40447, June 12, 2002; 67 FR 57274, Sept. 9, 2002; 73 FR 4360, Jan. 24, 2008]
</p>
