@model dynamic

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <!--NAME OF FILE-->
    <h1>| Definitions |</h1>
    <hr />
    <div class="row">
        <div class="col-md-9">
            <img class="img-responsive" src="~/Resources/definition-390785_1280.jpg" />

            <hr />
            <div class="form-group">
                <label for="DefinitionsList">Definitions List</label>
                <select class="form-control form-control-static" id="DefinitionsList" style="min-width: 100%">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>

            <div class="form-group">
                <label for="DefinitionTextArea">Definition</label>
                <textarea class="form-control" id="DefinitionTextArea" rows="3" style="min-width: 100%"></textarea>
            </div>
        </div>

        <!--SIDE WELL FOR SPONSORED / GOOGLE ADS-->
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading"><p class="text-center">Sponsored Listings / Google Ads</p></div>
                <div class="panel-body text-center">
                    <a href="#" style="text-decoration: none">
                        <img class="img-thumbnail" src="http://lorempixel.com/180/150" alt="Business 1" title="Business 1" />
                    </a>
                    <a href="#" style="font: white; text-decoration: none">
                        <img class="img-thumbnail" src="http://lorempixel.com/180/150" alt="Business 2" title="Business 2" />
                    </a>
                    <a href="#" style="font: white; text-decoration: none">
                        <img class="img-thumbnail" src="http://lorempixel.com/180/150" alt="Business 3" title="Business 3" />
                    </a>
                </div>
                <div class="panel panel-footer">
                    <p>
                        If you would like to advertise your CEMS business on this site, please submit a request via the Marketing link.
                    </p>
                    <p>
                        @*TRIGGER CONTACT MODAL*@
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MarketingModal">Marketing &raquo;</button>
                    </p>
                </div>
            </div>
        </div>
    </div> 
    <hr />
    <!--GOOGLE ADDS BOTTOM OF PAGE-->
    <div class="well text-center">
        <h2>Google Ads Here</h2>
    </div>
</div>


