<style>
    .img-thumbnail {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }

    em {
        text-decoration: underline;
    }

    .noStyle {
        text-decoration: none;
    }
</style>
<h2>
    Subpart G - Reporting Requirements
</h2>
<hr />
<h3>
    § 75.64 &emsp;Quarterly Reports
</h3>
<ol type="a">
    <li>
    <em>Electronic Submission</em>. The designated representative for an affected unit shall electronically report the data and information in paragraphs (a), (b), and (c) of this section to the Administrator quarterly, beginning with the data from the earlier of the calendar quarter corresponding to the date of provisional certification or the calendar quarter corresponding to the relevant deadline for initial certification in <a href="~/Part75/75.4" style="text-decoration: none">§75.4</a>(a), (b), or (c). The initial quarterly report shall contain hourly data beginning with the hour of provisional certification or the hour corresponding to the relevant certification deadline, whichever is earlier. For an affected unit subject to <a href="~/Part75/75.4" style="text-decoration: none">§75.4</a>(d) that is shutdown on the relevant compliance date in <a href="~/Part75/75.4" style="text-decoration: none">§75.4</a>(a) or has been placed in long-term cold storage (as defined in §72.2 of this chapter), quarterly reports are not required. In such cases, the owner or operator shall submit quarterly reports for the unit beginning with the data from the quarter in which the unit recommences commercial operation (where the initial quarterly report contains hourly data beginning with the first hour of recommenced commercial operation of the unit). For units placed into long-term cold storage during a reporting quarter, the exemption from submitting quarterly reports begins with the calendar quarter following the date that the unit is placed into long-term cold storage. For any provisionally-certified monitoring system, <a href="~/Part75/75.20" style="text-decoration: none">§75.20</a>(a)(3) shall apply for initial certifications, and <a href="~/Part75/75.20" style="text-decoration: none">§75.20</a>(b)(5) shall apply for recertifications. Each electronic report must be submitted to the Administrator within 30 days following the end of each calendar quarter. Prior to January 1, 2008, each electronic report shall include for each affected unit (or group of units using a common stack), the information provided in paragraphs (a)(1), (a)(2), and (a)(8) through (a)(15) of this section. During the time period of January 1, 2008 to January 1, 2009, each electronic report shall include, either the information provided in paragraphs (a)(1), (a)(2), and (a)(8) through (a)(15) of this section or the information provided in paragraphs (a)(3) through (a)(15) of this section. On and after January 1, 2009, the owner or operator shall meet the requirements of paragraphs (a)(3) through (a)(15) of this section only. Each electronic report shall also include the date of report generation.
        <ol>
            <li>
                Facility information:
                <ol type="i">
                    <li>
                        Identification, including:
                        <ol type="A">
                            <li>
                                Facility/ORISPL number;
                            </li>
                            <li>
                                Calendar quarter and year for the data contained in the report; and
                            </li>
                            <li>
                                Version of the electronic data reporting format used for the report.
                            </li>
                        </ol>
                    </li>
                    <li>
                        Location, including:
                        <ol type="A">
                            <li>
                                Plant name and facility ID;
                            </li>
                            <li>
                                EPA AIRS facility system ID;
                            </li>
                            <li>
                                State facility ID;
                            </li>
                            <li>
                                Source category/type;
                            </li>
                            <li>
                                Primary SIC code;
                            </li>
                            <li>
                                State postal abbreviation;
                            </li>
                            <li>
                                County code; and
                            </li>
                            <li>
                                Latitude and longitude.
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>
                The information and hourly data required in <a href="~/Part75/75.53" style="text-decoration: none">§75.53</a> and <a href="~/Part75/75.57" style="text-decoration: none">§75.57</a> through <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>, excluding the following:
                <ol type="i">
                    <li>
                        Descriptions of adjustments, corrective action, and maintenance;
                    </li>
                    <li>
                        Information which is incompatible with electronic reporting (e.g., field data sheets, lab analyses, quality control plan);
                    </li>
                    <li>
                        Opacity data listed in or <a href="~/Part75/75.57" style="text-decoration: none">§75.57</a>(f), and in <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(8);
                    </li>
                    <li>
                        For units with SO<sub>2</sub> or NO<sub>x</sub> add-on emission controls that do not elect to use the approved site-specific parametric monitoring procedures for calculation of substitute data, the information in <a href="~/Part75/75.58" style="text-decoration: none">§75.58</a>(b)(3);
                    </li>
                    <li>
                        [Reserved]
                    </li>
                    <li>
                        Information required by <a href="~/Part75/75.57" style="text-decoration: none">§75.57</a>(h) concerning the causes of any missing data periods and the actions taken to cure such causes;
                    </li>
                    <li>
                        hard copy monitoring plan information required by §75.53 and hard copy test data and results required by <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>;
                    </li>
                    <li>
                        Records of flow monitor and moisture monitoring system polynomial equations, coefficients, or “K” factors required by <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(5)(vi) or <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(5)(vii);
                    </li>
                    <li>
                        Daily fuel sampling information required by <a href="~/Part75/75.58" style="text-decoration: none">§75.58</a>(c)(3)(i) for units using assumed values under appendix D;
                    </li>
                    <li>
                        Information required by <a href="~/Part75/75.59" style="text-decoration: none">§§75.59</a>(b)(1)(vi), (vii), (viii), (ix), and (xiii), and (b)(2)(iii) and (iv) concerning fuel flowmeter accuracy tests and transmitter/transducer accuracy tests;
                    </li>
                    <li>
                        Stratification test results required as part of the RATA supplementary records under <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(7);
                    </li>
                    <li>
                        Data and results of RATAs that are aborted or invalidated due to problems with the reference method or operational problems with the unit and data and results of linearity checks that are aborted or invalidated due to problems unrelated to monitor performance; and
                    </li>
                    <li>
                        Supplementary RATA information required under <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(7), except that:
                        <ol type="A">
                            <li>
                                The applicable data elements under <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(7)(ii)(A) through (T) and under <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(7)(iii)(A) through (M) shall be reported for flow RATAs at circular or rectangular stacks (or ducts) in which angular compensation for yaw and/or pitch angles is used (i.e., Method 2F or 2G in appendices A-1 and A-2 to part 60 of this chapter), with or without wall effects adjustments;
                            </li>
                            <li>
                                The applicable data elements under <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(7)(ii)(A) through (T) and under <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(7)(iii)(A) through (M) shall be reported for any flow RATA run at a circular stack in which Method 2 in appendices A-1 and A-2 to part 60 of this chapter is used and a wall effects adjustment factor is determined by direct measurement;
                            </li>
                            <li>
                                The data under <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(7)(ii)(T) shall be reported for all flow RATAs at circular stacks in which Method 2 in appendices A-1 and A-2 to part 60 of this chapter is used and a default wall effects adjustment factor is applied; and
                            </li>
                            <li>
                                The data under <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(7)(ix)(A) through (F) shall be reported for all flow RATAs at rectangular stacks or ducts in which Method 2 in appendices A-1 and A-2 to part 60 of this chapter is used and a wall effects adjustment factor is applied.
                            </li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>
                Facility identification information, including:
                <ol type="i">
                    <li>
                        Facility/ORISPL number;
                    </li>
                    <li>
                        Calendar quarter and year for the data contained in the report; and
                    </li>
                    <li>
                        Version of the electronic data reporting format used for the report.
                    </li>
                </ol>
            </li>
        <li> In accordance with <a href="~/Part75/75.62" style="text-decoration: none">§75.62</a>(a)(1), if any monitoring plan information required in <a href="~/Part75/75.53" style="text-decoration: none">§75.53</a> requires an update, either under <a href="~/Part75/75.53" style="text-decoration: none">§75.53</a>(b) or elsewhere in this part, submission of the electronic monitoring plan update shall be completed prior to or concurrent with the submittal of the quarterly electronic data report for the appropriate quarter in which the update is required.</li>
        <li> The daily calibration error test and daily interference check information required in <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(1) and (a)(2) must always be included in the electronic quarterly emissions report. All other certification, quality assurance, and quality control information in <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a> that is not excluded from electronic reporting under paragraph (a)(2) or (a)(7) of this section shall be submitted separately, either prior to or concurrent with the submittal of the relevant electronic quarterly emissions report. However, reporting of the information in <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(9)(x) is not required until September 26, 2011, and reporting of the information in <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(15), (b)(6), and (d)(4) is not required until March 27, 2012.</li>
            <li>
                The information and hourly data required in <a href="~/Part75/75.57" style="text-decoration: none">§75.57</a> through <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>, and daily calibration error test data, daily interference check, and off-line calibration demonstration information required in <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(1) and (2).
            </li>
            <li>
                Notwithstanding the requirements of paragraphs (a)(4) through (a)(6) of this section, the following information is excluded from electronic reporting:
                <ol type="i">
                    <li>
                        Descriptions of adjustments, corrective action, and maintenance;
                    </li>
                    <li>
                        Information which is incompatible with electronic reporting (e.g., field data sheets, lab analyses, quality control plan);
                    </li>
                    <li>
                        Opacity data listed in <a href="~/Part75/75.57" style="text-decoration: none">§75.57</a>(f), and in <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(8);
                    </li>
                    <li>
                        For units with SO<sub>2</sub> or NO<sub>x</sub> add-on emission controls that do not elect to use the approved site-specific parametric monitoring procedures for calculation of substitute data, the information in <a href="~/Part75/75.58" style="text-decoration: none">§75.58</a>(b)(3);
                    </li>
                    <li>
                        Information required by <a href="~/Part75/75.57" style="text-decoration: none">§75.57</a>(h) concerning the causes of any missing data periods and the actions taken to cure such causes;
                    </li>
                    <li>
                        hard copy monitoring plan information required by <a href="~/Part75/75.53" style="text-decoration: none">§75.53</a> and hard copy test data and results required by <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>;
                    </li>
                    <li>

                        Records of flow monitor and moisture monitoring system polynomial equations, coefficients, or “K” factors required by <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(5)(vi) or <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(5)(vii);
                    </li>
                    <li>
                        Daily fuel sampling information required by <a href="~/Part75/75.58" style="text-decoration: none">§75.58</a>(c)(3)(i) for units using assumed values under appendix <a href="~/Part75/AppD.1" style="text-decoration: none">D</a> of this part;
                    </li>
                    <li>
                        Information required by <a href="~/Part75/75.59" style="text-decoration: none">§§75.59</a>(b)(1)(vi), (vii), (viii), (ix), and (xiii), and (b)(2)(iii) and (iv) concerning fuel flowmeter accuracy tests and transmitter/transducer accuracy tests;
                    </li>
                    <li>
                        Stratification test results required as part of the RATA supplementary records under <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(7);
                    </li>
                    <li>
                        Data and results of RATAs that are aborted or invalidated due to problems with the reference method or operational problems with the unit and data and results of linearity checks that are aborted or invalidated due to problems unrelated to monitor performance;
                    </li>
                    <li>
                        Supplementary RATA information required under <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(7)(i) through <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(7)(v), except that:
                        <ol type="A">
                            <li>
                                The applicable data elements under <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(7)(ii)(A) through (T) and under <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(7)(iii)(A) through (M) shall be reported for flow RATAs at circular or rectangular stacks (or ducts) in which angular compensation for yaw and/or pitch angles is used (i.e., Method 2F or 2G in appendices A-1 and A-2 to part 60 of this chapter), with or without wall effects adjustments;
                            </li>
                            <li>
                                The applicable data elements under <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(7)(ii)(A) through (T) and under <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(7)(iii)(A) through (M) shall be reported for any flow RATA run at a circular stack in which Method 2 in appendices A-1 and A-2 to part 60 of this chapter is used and a wall effects adjustment factor is determined by direct measurement;
                            </li>
                            <li>
                                The data under <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(7)(ii)(T) shall be reported for all flow RATAs at circular stacks in which Method 2 in appendices A-1 and A-2 to part 60 of this chapter is used and a default wall effects adjustment factor is applied; and
                            </li>
                            <li>
                                The data under <a href="~/Part75/75.59" style="text-decoration: none">§75.59</a>(a)(7)(ix)(A) through (F) shall be reported for all flow RATAs at rectangular stacks or ducts in which Method 2 in appendices A-1 and A-2 to part 60 of this chapter is used and a wall effects adjustment factor is applied; and
                            </li>
                        </ol>
                    </li>
                    <li>
                        The certification required by section <a href="~/Part75/AppA.6#6.1.2" style="text-decoration: none">6.1.2</a>(b) of appendix A to this part and recorded under <a href="~/Part75/75.57" style="text-decoration: none">§75.57</a>(a)(7).
                    </li>
                </ol>
            </li>
            <li>
                Tons (rounded to the nearest tenth) of SO<sub>2</sub> emitted during the quarter and cumulative SO<sub>2</sub> emissions for the calendar year.
            </li>
            <li>
                Average NO<sub>x</sub> emission rate (lb/mmBtu, rounded to the nearest thousandth) during the quarter and cumulative NO<sub>x</sub> emission rate for the calendar year.
            </li>
            <li>
                Tons of CO<sub>2</sub> emitted during quarter and cumulative CO<sub>2</sub> emissions for calendar year.
            </li>
            <li>
                Total heat input (mmBtu) for quarter and cumulative heat input for calendar year.
            </li>
            <li>
                Unit or stack or common pipe header operating hours for quarter and cumulative unit or stack or common pipe header operating hours for calendar year.
            </li>
            <li>
                For low mass emissions units for which the owner or operator is using the optional low mass emissions methodology in <a href="~/Part75/75.19" style="text-decoration: none">§75.19</a>(c) to calculate NO<sub>x</sub> mass emissions, the designated representative must also report tons (rounded to the nearest tenth) of NO<sub>x</sub> emitted during the quarter and cumulative NO<sub>x</sub> mass emissions for the calendar year.
            </li>
            <li>
                For low mass emissions units using the optional long term fuel flow methodology under <a href="~/Part75/75.19" style="text-decoration: none">§75.19</a>(c), for each quarter report the long term fuel flow for each fuel according to <a href="~/Part75/75.58" style="text-decoration: none">§75.58</a>(f)(2).
            </li>
            <li>
                For units using the optional fuel flow to load procedure in section <a href="~/Part75/AppD.2#2.1.7" style="text-decoration: none">2.1.7</a> of appendix <a href="~/Part75/AppD.1" style="text-decoration: none">D</a> to this part, report both the fuel flow-to-load baseline data and the results of the fuel flow-to-load test each quarter.
            </li>
        </ol>

    </li>
<li>The designated representative shall affirm that the component/system identification codes and formulas in the quarterly electronic reports, submitted to the Administrator pursuant to <a href="~/Part75/75.53" style="text-decoration: none">§75.53</a>, represent current operating conditions.</li>
<li><em>Compliance Certification</em>. The designated representative shall submit a certification in support of each quarterly emissions monitoring report based on reasonable inquiry of those persons with primary responsibility for ensuring that all of the unit's emissions are correctly and fully monitored. The certification shall indicate whether the monitoring data submitted were recorded in accordance with the applicable requirements of this part including the quality control and quality assurance procedures and specifications of this part and its appendices, and any such requirements, procedures and specifications of an applicable excepted or approved alternative monitoring method. For a unit with add-on emission controls, the designated representative shall also include a certification, for all hours where data are substituted following the provisions of <a href="~/Part75/75.34" style="text-decoration: none">§75.34</a>(a)(1), that the add-on emission controls were operating within the range of parameters listed in the monitoring plan and that the substitute values recorded during the quarter do not systematically underestimate SO<sub>2</sub> or NO<sub>x</sub> emissions, pursuant to <a href="~/Part75/75.34" style="text-decoration: none">§75.34</a>.</li>
    <li><em>Electronic Format</em>. Each quarterly report shall be submitted in a format to be specified by the Administrator, including both electronic submission of data and (unless otherwise approved by the Administrator) electronic submission of compliance certifications.</li>
    <li>[Reserved]</li>
    <li><em>Method of Submission</em>. Beginning with the quarterly report for the first quarter of the year 2001, all quarterly reports shall be submitted to EPA by direct computer-to-computer electronic transfer via EPA-provided software, unless otherwise approved by the Administrator.</li>
    <li>At his or her discretion, the DR may include important explanatory text or comments with an electronic quarterly report submittal, so long as the information is provided in a format that is compatible with the other data required to be reported under this section.</li>
</ol>
<hr />
<h4>Reference</h4>
<p>
    [64 FR 28622, May 26, 1999, as amended at 67 FR 40444, June 12, 2002; 73 FR 4357, Jan. 24, 2008; 76 FR 17317, Mar. 28, 2011]
</p>


