<h2>
    Question 16.4
</h2>

<h3>Topic</h3>
<em>
    NO<sub>x</sub> Monitoring -- Multiple Stack Configurations
</em>

<h3>Question</h3>
<p>
    For a single unit with a multiple stack or duct configuration, can the NO<sub>x</sub>
    emission rate be measured in only one stack and still ensure that NO<sub>x</sub>
    emissions are accounted for "during all times when the unit combusts
    fuel," as required by § 75.17(c)(2)?
</p>
<h3>Answer</h3>
<p>
    Monitoring only one stack may be feasible, depending on the type of unit,
    the specifics of the stack or duct configuration, and the way in which the
    unit is operated. Use the following guidelines:
</p>
<text style="text-decoration: underline">Guidelines for Boilers</text>
<ol>
    <li>
        For a simple multiple stack configuration in which the flue gases from
        the unit are sent to two or more exhaust stacks, you may monitor NO<sub>x</sub>
        emission rate using a single monitoring system installed on one stack,
        provided that:
        <ol type="a">
            <li>The products of combustion are sufficiently well-mixed to ensure
                that a NO<sub>x</sub> emission rate representative of the unit can be obtained
                in any one of the stacks. As a guideline, the combustion products
                are considered to be well-mixed if test data or CEM data are
                available to show that the NO<sub>x</sub> emission rates in the individual
                stacks differ by no more than ten percent or 0.01 lb/mmBtu
                (whichever is less restrictive);</li>
            <li>The flue gases are never routed in such a manner that they will
                bypass the monitored stack; and</li>
            <li>For units with NO<sub>x</sub> emission controls, the flue gases flowing
                through all of the individual stacks are controlled to the same level.</li>
        </ol>
    </li>
    <li>
        For a single-stack unit with split or multiple breechings, if the owner
        or operator elects to monitor NO<sub>x</sub> emission rate in the duct-work
        (breechings) rather than in the stack, you may monitor NO<sub>x</sub> emission
        rate using a single monitoring system installed on one duct, provided
        that:
        <ol type="a">
            <li>The products of combustion are sufficiently well-mixed to ensure
                that a NO<sub>x</sub> emission rate representative of the unit can be obtained
                in any one of the ducts (see guideline in (1)(a), above);</li>
            <li>The flue gases are never routed in such a manner that they will
                bypass the monitored duct; and</li>
            <li>For units with NO<sub>x</sub> emission controls, the flue gases flowing
                through all of the individual ducts are controlled to the same level,
                and there are no additional NO<sub>x</sub> emission controls downstream of
                the point at which the NO<sub>x</sub> emission rate is monitored.</li>
        </ol>
    </li>
    <li>
        For a configuration consisting of a main stack and a bypass stack, you
        may monitor NO<sub>x</sub> emission rate with a single monitoring system
        installed on the main stack, provided that:
        <ol type="a">
            <li>You report the maximum potential NO<sub>x</sub> emission rate (MER) for
                any hour in which flue gases flow through the bypass stack; and</li>
            <li>A method of determination code of "23" is reported for every hour
                in which flue gases flow through the bypass stack. Treat hours in
                which code "23" is reported as non-quality-assured hours (do not 
                include these hours in the load ranges (bins) for missing data
                look-backs).</li>
        </ol>
    </li>
</ol>
<p>
    If the applicable conditions in paragraph (1), (2), or (3) above are fully
    met and you elect to monitor NO<sub>x</sub> emission rate at only one stack or duct,
    then:
    <ul>
        <li>Report all of the NO<sub>x</sub> emission data and the related NO<sub>x</sub> quality-assurance
            data at the unit level. Do not use multiple stack ("MS")
            prefixes for NO<sub>x</sub> reporting. However, if you use MS prefixes for SO<sub>2</sub>
            and CO<sub>2</sub> reporting from the same unit, continue to use these prefixes.</li>
        <li>If a flow monitor is installed on each stack or duct, determine the
            hourly heat input rate at each stack using the applicable Appendix F
            equation. For each hour, use the CO<sub>2</sub> or O<sub>2</sub> reading from the NO<sub>x</sub>-diluent
            CEMS in the heat input equation. Calculate the heat input rate
            at the unit level using Equation F-21C.</li>
        <li>For cases (1) and (2), above, if you should install an additional NO<sub>x</sub>-diluent
            CEMS on any of the other stacks or ducts, designate it as a
            redundant backup system in your monitoring plan.</li>
        <li>If the unit uses Appendix D and G methodology for SO<sub>2</sub> and CO<sub>2</sub>,
            determine hourly SO<sub>2</sub> and CO<sub>2</sub> emissions in the normal manner during
            bypass hours. Also, determine the actual hourly heat input rates at the
            unit level, using the measured fuel flow rates and the fuel GCV
            value(s).</li>
        <li>Report the quarterly and cumulative arithmetic average NO<sub>x</sub> emission
            rates for the unit.</li>
        <li>Perform missing data substitution for NO<sub>x</sub> emission rate at the unit
            level.</li>
        <li>For further reporting guidance see the ECMPS Reporting Instructions.</li>
    </ul>
</p>
<text style="text-decoration: underline">Guidelines for Combustion Turbines</text>
<ol>
    <li>
        For combustion turbines that have both a main stack and a bypass
        stack, you may monitor NO<sub>x</sub> emission rate using a single monitoring
        system installed on the main stack, as described in paragraph (3) under
        "GUIDELINES FOR BOILERS," above. If you choose this option,
        follow the applicable reporting guidelines in the bulleted items, above.
    </li>
    <li>
        For combustion turbines that have a main stack and a bypass stack,
        you may not monitor NO<sub>x</sub> emission rate using a single, certified
        monitoring system installed on the bypass stack, except for an interim period while the heat recovery steam generator (HRSG) and the main
        stack are under construction. If you elect to monitor NO<sub>x</sub> emissions
        from the bypass stack during this interim period, designate the NO<sub>x</sub>
        monitoring system as a primary system in your monitoring plan.
        Report all NO<sub>x</sub> emission data and heat input data at the unit level.
    </li>
</ol>
<p>
    When construction of the HRSG and main stack is complete, if you
    wish to continue monitoring NO<sub>x</sub> emission rate from only one stack
    (i.e., the HRSG stack), you must certify a primary monitoring system
    at the main stack. If you elect to relocate the certified CEMS from the
    bypass stack to the main stack, keep the "primary" designation for the
    NO<sub>x</sub>-diluent system in your monitoring plan, keep the same system
    and component ID numbers, and re-certify the system at its new
    location. If you choose to certify an entirely new monitoring system,
    assign new component and system ID numbers. While testing the
    monitoring system for certification or re-certification (as applicable),
    you may either use conditional data validation procedures of §
    75.20(b)(3) or you may use the Part 75 missing data routines until the
    system is certified or re-certified (as applicable).
</p>
<p>
    After certifying (or re-certifying) the NO<sub>x</sub> monitoring system at the
    main stack location, monitor the NO<sub>x</sub> emission rate as described in
    paragraph (3) under "GUIDELINES FOR BOILERS," above. Follow
    the applicable reporting guidelines in the bulleted items, above.
</p>
<p>
    If the guidelines and conditions for single-stack monitoring described
    above are not fully met, it is the responsibility of the utility to insure
    that NO<sub>x</sub> emissions are accurately measured whenever an affected unit
    is combusting fuel. In these cases, owners and operators must install
    separate NO<sub>x</sub> monitoring systems in each of the multiple stacks or
    ducts (see Question 16.5).
</p>
<h3>References</h3>
<p>
    § 75.17(c), and § 75.17(d)
</p>
<h3>History</h3>
<p>
    First published in August 1994, Update #3; revised in October 1999
    Revised Manual; revised in December 2000, Update #13; revised in
    October 2003 Revised Manual; revised in 2013 Manual
</p>