<style>
    .img-thumbnail {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }

    em {
        text-decoration: underline;
    }

    .noStyle {
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    .anchorPad {
        padding-top: 75px;
        margin-top: -65px;
    }
</style>
<h2 id="BackToTop" class="anchorPad">
    Appendix F to Part 75 - Conversion Procedures
</h2>
<hr />
<h3>
    4.&emsp;Procedures for CO2 Mass Emissions
</h3>
<hr />
<div class="container" style="max-height: 200px; overflow: auto">
    <a href="#4.1">4.1</a><br />
    <a href="#4.1">4.1</a><br />
</div>
<hr />
<p>
    Use the following procedures to convert continuous emission monitoring system measurements of CO2 concentration (percentage) and volumetric flow rate (scfh) into CO2 mass emissions (in tons/day) when the owner or operator uses a CO2 continuous emission monitoring system (consisting of a CO2 or O2 pollutant monitor) and a flow monitoring system to monitor CO2 emissions from an affected unit.
</p>
<p id="4.1" class="anchorPad">
    <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
    4.1&emsp;When CO2 concentration is measured on a wet basis, use the following equation to calculate hourly CO2 mass emissions rates (in tons/hr):
    <hr />
    <img id="Eq. F-11" class="img-thumbnail" src="~/Content/Images/Part75AppF.13.jpg" alt="Part 75 Appendix F Eq. F-11" title="Part 75 Appendix F Eq. F-11" />
    <br />
    <table>
        <tr>
            <th>
                Where:
            </th>
        </tr>
        <tr>
            <td>
                E<sub>h</sub>
            </td>
            <td>= Hourly CO2 mass emission rate during unit operation, tons/hr.</td>
        </tr>
        <tr>
            <td>
                K
            </td>
            <td> = 5.7 × 10<sup>−7</sup> for CO2, (tons/scf) /%CO2.</td>
        </tr>
        <tr>
            <td>
                C<sub>h</sub>
            </td>
            <td>= Hourly average CO2 concentration during unit operation, wet basis, either measured directly with a CO2 monitor or calculated from wet-basis O2 data using Equation F-14b, percent CO2.</td>
        </tr>
        <tr>
            <td>
                Q<sub>h</sub>
            </td>
            <td>= Hourly average volumetric flow rate during unit operation, wet basis, scfh.</td>
        </tr>
    </table>
    <hr />
</p>
<hr />
<h4>Reference</h4>
<p>
    [58 FR 3701, Jan. 11, 1993; Redesignated and amended at 60 FR 26553, 26571, May 17, 1995; 61 FR 25585, May 22, 1996; 61 FR 59166, Nov. 20, 1996; 63 FR 57513, Oct. 27, 1998; 64 FR 28666, May 26, 1999; 64 FR 37582, July 12, 1999; 67 FR 40474, 40475, June 12, 2002; 67 FR 53505, Aug. 16, 2002; 70 FR 28695, May 18, 2005; 73 FR 4372, Jan. 24, 2008; 76 FR 17325, Mar. 28, 2011; 77 FR 2460, Jan. 18, 2012]
</p>
