<style>
    .img-thumbnail {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }

    em {
        text-decoration: underline;
    }

    .noStyle {
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    .anchorPad {
        padding-top: 75px;
        margin-top: -65px;
    }
</style>
<h2>
    Appendix A to Part 75 - Specifications and Test Procedures
</h2>
<hr />
<h3>
    Figure 5 to Appendix A - Cycle Time
</h3>
<hr />
<img class="img-thumbnail" src="~/Content/Images/Part75AppAFig5.jpg" alt="Part 75 Appendix A Figure 5 Cycle Time" title="Part 75 Appendix A Figure 5 Cycle Time" />