<style>
    .img-thumbnail {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }

    em {
        text-decoration: underline;
    }

    .noStyle {
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    .anchorPad {
        padding-top: 75px;
        margin-top: -65px;
    }
</style>
<h2 id="BackToTop" class="anchorPad">
    Appendix D to Part 75 - Optional SO<sub>2</sub> Emissions Data Protocol for Gas-Fired and Oil-Fired Units
</h2>
<hr />
<h3>
    2.&emsp;Procedure
</h3>
<hr />
<a href="#2.1">2.1&emsp;Fuel Flowmeter Measurements</a><br />
<a href="#2.1">2.1&emsp;Applicability</a><br />
<hr />
<h4 id="2.1" class="anchorPad">
    <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
    2.1&emsp;
    <em class="noStyle">
        Fuel Flowmeter Measurements
    </em>
</h4>
<ul>
    <li>
        For each hour when the unit is combusting fuel, measure and record the flow rate of fuel combusted by the unit, except as provided in section 2.1.4 of this appendix. Measure the flow rate of fuel with an in-line fuel flowmeter, and automatically record the data with a data acquisition and handling system, except as provided in section 2.1.4 of this appendix.
    </li>
    <li>
        2.1.1&emsp;
        Measure the flow rate of each fuel entering and being combusted by the unit. If, on an annual basis, more than 5.0 percent of the fuel from the main pipe is diverted from the unit without being burned and that diversion occurs downstream of the fuel flowmeter, an additional in-line fuel flowmeter is required to account for the unburned fuel. In this case, record the flow rate of each fuel combusted by the unit as the difference between the flow measured in the pipe leading to the unit and the flow in the pipe diverting fuel away from the unit. However, the additional fuel flowmeter is not required if, on an annual basis, the total amount of fuel diverted away from the unit, expressed as a percentage of the total annual fuel usage by the unit is demonstrated to be less than or equal to 5.0 percent. The owner or operator may make this demonstration in the following manner:
        <ul>
            <li>
                <p>
                    2.1.1.1&emsp;
                    For existing units with fuel usage data from fuel flowmeters, if data are submitted from a previous year demonstrating that the total diverted yearly fuel does not exceed 5% of the total fuel used; or
                </p>
            </li>
            <li>
                <p>
                    2.1.1.2 For new units which do not have historical data, if a letter is submitted signed by the designated representative certifying that, in the future, the diverted fuel will not exceed 5.0% of the total annual fuel usage; or
                </p>
            </li>
            <li>
                <p>
                    2.1.1.3 By using a method approved by the Administrator under §75.66(d).
                </p>
            </li>
        </ul>
    </li>
    <li>
        2.1.2&emsp;
        Install and use fuel flowmeters meeting the requirements of this appendix in a pipe going to each unit, or install and use a fuel flowmeter in a common pipe header (as defined in §72.2). However, the use of a fuel flowmeter in a common pipe header and the provisions of sections 2.1.2.1 and 2.1.2.2 of this appendix shall not apply to any unit that is using the provisions of subpart H of this part to monitor, record, and report NOX mass emissions under a State or federal NOX mass emission reduction program, unless both of the following are true: all of the units served by the common pipe are affected units, and all of the units have similar efficiencies. When a fuel flowmeter is installed in a common pipe header, proceed as follows:
        <ul>
            <li>
                <p>
                    2.1.2.1&emsp;Measure the fuel flow rate in the common pipe, and combine SO2 mass emissions (Acid Rain Program units only) for the affected units for recordkeeping and compliance purposes; and
                </p>
            </li>
            <li>
                <p>2.1.2.2&emsp;Apportion the heat input rate measured at the common pipe to the individual units, using Equation F-21a, F-21b, or F-21d in appendix F to this part.</p>
            </li>
        </ul>
    </li>
    <li>
        2.1.3&emsp;
        For a gas-fired unit or an oil-fired unit that continuously or frequently combusts a supplemental fuel for flame stabilization or safety purposes, measure the flow rate of the supplemental fuel with a fuel flowmeter meeting the requirements of this appendix.
    </li>
</ul>


<hr />
<h4>Reference</h4>
<p>
    [58 FR 3701, Jan. 11, 1993, as amended at 60 FR 26548, 26551, May 17, 1995; 61 FR 25585, May 22, 1996; 61 FR 59166, Nov. 20, 1996; 63 FR 57513, Oct. 27, 1998; 64 FR 28652, May 26, 1999; 64 FR 37582, July 12, 1999; 67 FR 40460, 40472, June 12, 2002; 67 FR 53505, Aug. 16, 2002; 73 FR 4369, Jan. 24, 2008; 76 FR 17324, Mar. 28, 2011; 76 FR 20536, Apr. 13, 2011; 77 FR 2460, Jan. 18, 2012]
</p>