<h2>
    Question 28.12
</h2>

<h3>Topic</h3>
<em>
    QSTI and QI Expiration Dates
</em>

<h3>Question</h3>
<p>
    I have an employee who became a Qualified Individual (QI) on 10/5/2007.
    He then applied for his Qualified Source Testing Individual (QSTI)
    certification in that methods group and received his certification on
    12/15/2008. The expiration date on the QSTI certificate is for 12/14/2013,
    but the expiration for his QI status is 5 years from 10/5/2007, which is
    10/4/2012. Does the QSTI extend his QI status to the expiration date on
    the QSTI certificate?
</p>
<h3>Answer</h3>
<p>
    No. As discussed in response to Question 3 above, Part 75 requires that an
    individual overseeing emission testing or RATA(s) have QI status under
    ASTM D7036-04, not QSTI certification from the Source Evaluation
    Society (SES). While the period over which an individual maintains QI
    status and the period of any optional SES QSTI certification held by that
    individual will generally overlap, the two periods will not necessarily end
    on the same date. ASTM D7036-04 includes a requirement that the
    individual re-take and pass the applicable exam(s) at least once every 5
    years in order to maintain QI status. QI status is therefore directly tied to
    the date(s) of the relevant exam(s). 
</p>
<p>
    In contrast, the expiration date of an
    SES QSTI qualification certificate is tied to the date the SES QSTI/QSTO
    review committee completes review of the candidate's submitted
    application. Effective dates on the SES QSTI qualification certificates
    may be up to 24 months or longer after the date of the applicable exams
    because of the time individuals require to submit their completed
    applications and secure the appropriate references. Because SES issues
    QSTI certificates with expiration dates 5 years after their effective dates,
    the expiration date of an individual’s QSTI certificate may be long after
    the date(s) when he/she must re-take and pass exams in order to maintain
    QI status under ASTM D7036-04.
</p>
<p>
    Note that SES includes the date that a person took and passed the relevant
    exam for purposes of Part 75, and an expiration date for the SES QSTI
    approval on the QSTI's pocket card so he/she will have it on site.
</p>
<h3>References</h3>
<p>
</p>
<h3>History</h3>
<p>
    First published in 2013 Manual
</p>