<h2>Background</h2>
<p>
    Section 75.24(c)(2) of Part 75 allows the use of EPA reference methods for data
    collection and reporting whenever a primary monitoring system is out-of-control. Section
    75.20(d) of Part 75 further states that a monitoring system that is operated as a reference
    method (RM) may be used to provide quality-assured data for Part 75 reporting purposes.
    In particular, the following reference methods in 40 CFR Part 60, Appendix A may be
    used as RM backup monitors: Methods 6C, 7E, and 3A for SO<sub>2</sub>, NO<sub>x</sub>, and CO<sub>2</sub>/O<sub>2</sub>,
    respectively, and Method 2 for stack gas flow rate. These methods do not require
    certification prior to use.
</p>
<h2>
    Policy
</h2>
<p>
    The following policy guidance, in question-and-answer format, outlines the general
    procedures to be followed when EPA Reference Methods are adapted for use as backup
    monitoring systems to collect data for Part 75 reporting. Note that the procedures and
    guidelines set forth in this policy are specific to Part 75 monitoring applications, and are
    not necessarily appropriate for use in other programs.
</p>
<h2>
    Question 19.33
</h2>

<h3>Topic</h3>
<em>
    Reporting of Flow Rate from RM Backup Monitors
</em>

<h3>Question</h3>
<p>
    When Reference Method 2 is used to generate backup flow rate data for
    Part 75, how are the RM data to be reported electronically in the quarterly
    report?
</p>
<h3>Answer</h3>
<p>
    The following electronic reporting guidelines should be followed:
    <ol>
        <li>
            The flow rate data must be reported in units of wet, standard cubic
            feet per hour (scfh) in the Monitor Hourly Value data record for
            volumetric flow. Report a Method of Determination Code of "04";
            and
        </li>
        <li>
            Report flow rate in both the unadjusted and adjusted volumetric flow
            rate fields (assume a BAF of 1.000 for all RM data).
        </li>
    </ol>
</p>
<h3>References</h3>
<p>
    § 75.20(d)(3), § 75.64; ECMPS Reporting Instructions -- Emissions,
    Section 2.5.1
</p>
<h3>History</h3>
<p>
    First published in March 1995, Update #5; revised in October 1999
    Revised Manual; revised in 2013 Manual
</p>