<style>
    .img-thumbnail {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }

    em {
        text-decoration: underline;
    }

    .noStyle {
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    .anchorPad {
        padding-top: 75px;
        margin-top: -65px;
    }
</style>
<h2 id="BackToTop" class="anchorPad">
    Appendix F to Part 75 - Conversion Procedures
</h2>
<hr />
<h3>
    4.&emsp;Procedures for CO<sub>2</sub> Mass Emissions
</h3>
<hr />
<div class="container" style="max-height: 200px; overflow: auto">
    <a href="#4.1">4.1</a><br />
    <a href="#4.2">4.2</a><br />
    <a href="#4.3">4.3</a><br />
    <a href="#4.4">4.4</a><br />
    <a href="#4.4.1">4.4.1</a><br />
    <a href="#4.4.2">4.4.2</a><br />
</div>
<hr />
<p>
    Use the following procedures to convert continuous emission monitoring system measurements of CO<sub>2</sub> concentration (percentage) and volumetric flow rate (scfh) into CO<sub>2</sub> mass emissions (in tons/day) when the owner or operator uses a CO<sub>2</sub> continuous emission monitoring system (consisting of a CO<sub>2</sub> or O<sub>2</sub> pollutant monitor) and a flow monitoring system to monitor CO<sub>2</sub> emissions from an affected unit.
</p>
<p id="4.1" class="anchorPad">
    <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
    4.1&emsp;When CO<sub>2</sub> concentration is measured on a wet basis, use the following equation to calculate hourly CO<sub>2</sub> mass emissions rates (in tons/hr):
    <hr />
    <img id="Eq. F-11" class="img-thumbnail" src="~/Content/Images/Part75AppF.13.jpg" alt="Part 75 Appendix F Eq. F-11" title="Part 75 Appendix F Eq. F-11" />
    <br />
    <table>
        <tr>
            <th>
                Where:
            </th>
        </tr>
        <tr>
            <td>
                E<sub>h</sub>
            </td>
            <td>= Hourly CO<sub>2</sub> mass emission rate during unit operation, tons/hr.</td>
        </tr>
        <tr>
            <td>
                K
            </td>
            <td> = 5.7 × 10<sup>−7</sup> for CO<sub>2</sub>, (tons/scf) /%CO<sub>2</sub>.</td>
        </tr>
        <tr>
            <td>
                C<sub>h</sub>
            </td>
            <td>= Hourly average CO<sub>2</sub> concentration during unit operation, wet basis, either measured directly with a CO<sub>2</sub> monitor or calculated from wet-basis O<sub>2</sub> data using Equation F-14b, percent CO<sub>2</sub>.</td>
        </tr>
        <tr>
            <td>
                Q<sub>h</sub>
            </td>
            <td>= Hourly average volumetric flow rate during unit operation, wet basis, scfh.</td>
        </tr>
    </table>
    <hr />
</p>
<p id="4.2" class="anchorPad">
    <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
    4.2&emsp;When CO<sub>2</sub> concentration is measured on a dry basis, use Equation F-2 to calculate the hourly CO<sub>2</sub> mass emission rate (in tons/hr) with a K-value of 5.7 × 10<sup>−7</sup> (tons/scf) percent CO<sub>2</sub>, where E<sub>h</sub> = hourly CO<sub>2</sub> mass emission rate, tons/hr and C<sub>hp</sub> = hourly average CO<sub>2</sub> concentration in flue, dry basis, percent CO<sub>2</sub>.
</p>
<p id="4.3" class="anchorPad">
    <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
    4.3&emsp;Use the following equations to calculate total CO<sub>2</sub> mass emissions for each calendar quarter (Equation <a href="#Eq. F-12">F-12</a>) and for each calendar year (Equation <a href="#Eq. F-13">F-13</a>):
    <hr />
    <img id="Eq. F-12" class="img-thumbnail" src="~/Content/Images/Part75AppF.14.jpg" alt="Part 75 Appendix F Eq. F-12" title="Part 75 Appendix F Eq. F-12" />
    <br />
    <table>
        <tr>
            <th>
                Where:
            </th>
        </tr>
        <tr>
            <td>
                E<sub>CO<sub>2</sub>q</sub>
            </td>
            <td>= Quarterly total CO<sub>2</sub> mass emissions, tons.</td>
        </tr>
        <tr>
            <td>
                E<sub>h</sub>
            </td>
            <td>= Hourly CO<sub>2</sub> mass emission rate, tons/hr.</td>
        </tr>
        <tr>
            <td>
                t<sub>h</sub>
            </td>
            <td>= Unit operating time, in hours or fraction of an hour (in equal increments that can range from one hundredth to one quarter of an hour, at the option of the owner or operator).</td>
        </tr>
        <tr>
            <td>
                H<sub>R</sub>
            </td>
            <td>= Number of hourly CO<sub>2</sub> mass emission rates available during calendar quarter. </td>
        </tr>
    </table>
    <hr />
    <img id="Eq. F-13" class="img-thumbnail" src="~/Content/Images/Part75AppF.15.jpg" alt="Part 75 Appendix F Eq. F-13" title="Part 75 Appendix F Eq. F-13" />
    <br />
    <table>
        <tr>
            <th>
                Where:
            </th>
        </tr>
        <tr>
            <td>
                E<sub>CO<sub>2</sub>a</sub>
            </td>
            <td>= Annual total CO<sub>2</sub> mass emissions, tons.</td>
        </tr>
        <tr>
            <td>
                E<sub>CO<sub>2</sub>q</sub>
            </td>
            <td>= Quarterly total CO<sub>2</sub> mass emissions, tons.</td>
        </tr>
        <tr>
            <td>
                q
            </td>
            <td>= Quarters for which ECO<sub>2</sub>q are available during calendar year.</td>
        </tr>
    </table>
    <hr />
</p>
<p id="4.4" class="anchorPad">
    <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
    4.4&emsp;For an affected unit, when the owner or operator is continuously monitoring O<sub>2</sub> concentration (in percent by volume) of flue gases using an O<sub>2</sub> monitor, use the equations and procedures in section <a href="#4.4.1">4.4.1</a> and <a href="#4.4.2">4.4.2</a> of this appendix to determine hourly CO<sub>2</sub> mass emissions (in tons).
    <ul>
        <li id="4.4.1" class="anchorPad">
            <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
            4.4.1&emsp;If the owner or operator elects to use data from an O<sub>2</sub> monitor to calculate CO<sub>2</sub> concentration, the appropriate F and FC factors from section 3.3.5 of this appendix shall be used in one of the following equations (as applicable) to determine hourly average CO<sub>2</sub> concentration of flue gases (in percent by volume) from the measured hourly average O<sub>2</sub> concentration:
            <hr />
            <img id="Eq. F-14a" class="img-thumbnail" src="~/Content/Images/Part75AppF.16.jpg" alt="Part 75 Appendix F Eq. F-14a" title="Part 75 Appendix F Eq. F-14a" />
            <br />
            <table>
                <tr>
                    <th>
                        Where:
                    </th>
                </tr>
                <tr>
                    <td>
                        CO<sub>2d</sub>
                    </td>
                    <td>= Hourly average CO<sub>2</sub> concentration during unit operation, percent by volume, dry basis. </td>
                </tr>
                <tr>
                    <td>
                        F, F<sub>c</sub>
                    </td>
                    <td>= F-factor or carbon-based F<sub>c</sub>-factor from section 3.3.5 of this appendix.</td>
                </tr>
                <tr>
                    <td>
                        20.9
                    </td>
                    <td>= Percentage of O<sub>2</sub> in ambient air. </td>
                </tr>
                <tr>
                    <td>
                        O<sub>2d</sub>
                    </td>
                    <td>= Hourly average O<sub>2</sub> concentration during unit operation, percent by volume, dry basis. </td>
                </tr>
            </table>
            <hr />
            <img id="Eq. F-14b" class="img-thumbnail" src="~/Content/Images/Part75AppF.17.jpg" alt="Part 75 Appendix F Eq. F-14b" title="Part 75 Appendix F Eq. F-14b" />
            <br />
            <table>
                <tr>
                    <th>
                        Where:
                    </th>
                </tr>
                <tr>
                    <td>
                        CO<sub>2w</sub>
                    </td>
                    <td>= Hourly average CO<sub>2</sub> concentration during unit operation, percent by volume, wet basis. </td>
                </tr>
                <tr>
                    <td>
                        O<sub>2w</sub>
                    </td>
                    <td>= Hourly average O<sub>2</sub> concentration during unit operation, percent by volume, wet basis. </td>
                </tr>
                <tr>
                    <td>
                        F, F<sub>c</sub>
                    </td>
                    <td>= F-factor or carbon-based FC-factor from section 3.3.5 of this appendix. </td>
                </tr>
                <tr>
                    <td>
                        20.9
                    </td>
                    <td>= Percentage of O<sub>2</sub> in ambient air. </td>
                </tr>
                <tr>
                    <td>
                        %H<sub>2</sub>O
                    </td>
                    <td>= Moisture content of gas in the stack, percent. </td>
                </tr>
            </table>
            <hr />
            For any hour where Equation <a href="#Eq. F-14a">F-14a</a> or <a href="#Eq. F-14b">F-14b</a> results in a negative hourly average CO<sub>2</sub> value, 0.0% CO<sub>2w</sub> shall be recorded as the average CO<sub>2</sub> value for that hour.
        </li>
        <li id="4.4.2" class="anchorPad">
            <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
            4.4.2&emsp;Determine CO<sub>2</sub> mass emissions (in tons) from hourly average CO<sub>2</sub> concentration (percent by volume) using equation <a href="#Eq. F-11">F-11</a> and the procedure in section 4.1, where O<sub>2</sub> measurements are on a wet basis, or using the procedures in section <a href="#4.2">4.2</a> of this appendix, where O<sub>2</sub> measurements are on a dry basis.
        </li>
    </ul>
</p>
<hr />
<h4>Reference</h4>
<p>
    [58 FR 3701, Jan. 11, 1993; Redesignated and amended at 60 FR 26553, 26571, May 17, 1995; 61 FR 25585, May 22, 1996; 61 FR 59166, Nov. 20, 1996; 63 FR 57513, Oct. 27, 1998; 64 FR 28666, May 26, 1999; 64 FR 37582, July 12, 1999; 67 FR 40474, 40475, June 12, 2002; 67 FR 53505, Aug. 16, 2002; 70 FR 28695, May 18, 2005; 73 FR 4372, Jan. 24, 2008; 76 FR 17325, Mar. 28, 2011; 77 FR 2460, Jan. 18, 2012]
</p>
