<h2>
    Question 9.21
</h2>

<h3>Topic</h3>
<em>
    Default High Range Value
</em>

<h3>Question</h3>
<p>
    For units with dual span requirements, in lieu of operating and maintaining
    a high monitor range, Sections 2.1.1.4(f) and 2.1.2.4(e) of Appendix A to
    Part 75 allow the use of a default high range value of 200% of the MPC
    when the full-scale of the low range analyzer is exceeded. When the
    default high range option is selected, how is the hourly average SO<sub>2</sub> or
    NO<sub>x</sub> concentration calculated? What happens when the full-scale of the
    low range analyzer is exceeded for only part of the hour?
</p>

<h3>Answer</h3>
<p>
    To implement the default high range provision, you may use either of the
    following options:
</p>
<p>
    <text style="text-decoration: underline">Option 1</text>
    <ol>
        <li>
            Establish the shortest or fundamental averaging period for which data
            are continuously recorded by the monitor (i.e., the time "x" required
            for one complete cycle of analyzing, reading, and data recording,
            where "x" may be five seconds, ten seconds, sixty seconds, or some
            other time period, depending on the type of data collection used in the
            DAHS/CEMS).
        </li>
        <li>
            If any of the fundamental readings recorded during an hour exceeds
            the full-scale of the low range analyzer, report 200% of the MPC for
            that hour (see exception in the Note below) and report a method of
            determination code (MODC) of "19" to indicate the use of the default
            high range value.
        </li>
    </ol>
</p>
<p>
    <text style="text-decoration: underline">Option 2</text>
    <ol>
        <li>
            Establish the shortest or fundamental averaging period for which data
            are continuously recorded by the monitor, as described in paragraph
            (1) of Option 1, above.
        </li>
        <li>
            Calculate the hourly average pollutant concentration as the arithmetic
            average of all quality-assured fundamental data values recorded during
            the hour, in the following manner:
            <ol type="a">

                <li>
                    If a fundamental reading is less than the full-scale of the low
                    range analyzer, use the reading directly in the calculation of the
                    hourly average; and
                </li>
                <li>
                    If a fundamental reading indicates that the low range is "pegged"
                    (i.e., the monitor output voltage indicates that the full-scale of the
                    low range has been reached or exceeded), substitute 200% of the MPC for that reading (see exception in the Note below) and use
                    the substituted value in the calculation of the hourly average.
                </li>
            </ol>
        </li>
        <li>
            Report the hourly average calculated in the manner described in step
            (2) above as the unadjusted pollutant concentration and report an
            MODC of "19" to indicate that the default high range value was used
            for at least part of the hour.
        </li>
    </ol>
</p>
<p>
    Note: For new combustion turbines, the June 12, 2002 revisions to Part 75
    disallowed the use of a NO<sub>x</sub> MPC value of 50 ppm previously selected
    from Table 2-2 in Appendix A, after March 31, 2003 (see Appendix A,
    section 2.1.2.1(a), Option 2). Since April 1, 2003, the MPC must be
    determined in accordance with revised section 2.1.2.1(a), and any
    appropriate span and range adjustments or, if applicable, adjustments to
    the default high range value, must be made.
</p>
<h3>References</h3>
<p>
    § 75.57, Table 4A; Appendix A, Sections 2.1.1.4(f), 2.1.2.1(a), 2.1.2.4(e);
    EDR v2.1/2.2 Reporting Instructions, Sections III.B.(1) and III.B.(2)
</p>
<h3>History</h3>
<p>
    First published in March 2000, Update #12; revised in December 2000,
    Update #13; revised in October 2003 Revised Manual; revised in 2013
    Manual
</p>
