<style>
    .img-thumbnail {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }

    em {
        text-decoration: underline;
    }

    .noStyle {
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    .anchorPad {
        padding-top: 75px;
        margin-top: -65px;
    }
</style>
<h2 id="BackToTop" class="anchorPad">
    Appendix B to Part 75 - Quality Assurance and Quality Control Procedures
</h2>
<hr />
<h3>
    2.&emsp;Frequency of Testing
</h3>
<hr />
<a href="#2.1">2.1&emsp;Daily Assessments</a><br />
<a href="#2.1.1">2.1.1&emsp;Calibration Error Test</a><br />
<a href="#2.1.1.1">2.1.1.1&emsp;On-line Daily Calibration Error Tests</a><br />
<a href="#2.1.1.2">2.1.1.2&emsp;Off-line Daily Calibration Error Tests</a><br />
<a href="#2.1.2">2.1.2&emsp;Daily Flow Interference Check</a><br />
<a href="#2.1.3">2.1.3&emsp;Additional Calibration Error Tests and Calibration Adjustments</a><br />
<a href="#2.1.4">2.1.4&emsp;Data Validation</a><br />
<a href="#2.1.5">2.1.5&emsp;Quality Assurance of Data With Respect to Daily Assessments</a><br />
<a href="#2.1.5.1">2.1.5.1&emsp;Data Invalidation with Respect to Daily Assessments</a><br />
<a href="#2.1.5.2">2.1.5.2&emsp;Daily Assessment Start-Up Grace Period</a><br />
<a href="#2.1.6">2.1.6&emsp;Data Recording</a><br />
<a href="#2.2">2.2&emsp;Quarterly Assessments</a><br />
<a href="#2.2.1">2.2.1&emsp;Linearity Check</a><br />
<a href="#2.2.2">2.2.2&emsp;Leak Check</a><br />
<a href="#2.2.3">2.2.3&emsp;Data Validation</a><br />
<a href="#2.2.4">2.2.4&emsp;Linearity and Leak Check Grace Period</a><br />
<a href="#2.2.5">2.2.5&emsp; Flow-to-Load Ratio or Gross Heat Rate Evaluation </a><br />
<a href="#2.2.5">2.2.5&emsp; Flow-to-Load Ratio or Gross Heat Rate Evaluation </a><br />
<hr />
<p>
    A summary chart showing each quality assurance test and the frequency at which each test is required is located at the end of this appendix in Figure 1.
</p>
<h4 id="2.1" class="anchorPad">
    <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
    2.1&emsp;
    <em class="noStyle">
        Daily Assessments
    </em>
</h4>
<ul>
    <li>
        Perform the following daily assessments to quality-assure the hourly data recorded by the monitoring systems during each period of unit operation, or, for a bypass stack or duct, each period in which emissions pass through the bypass stack or duct. These requirements are effective as of the date when the monitor or continuous emission monitoring system completes certification testing.
    </li>
    <li>
        <h5 id="2.1.1" class="anchorPad">
            <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
            2.1.1&emsp;
            <em class="noStyle">
                Calibration Error Test
            </em>
        </h5>
        <ul>
            <li>
                Except as provided in section 2.1.1.2 of this appendix, perform the daily calibration error test of each gas monitoring system (including moisture monitoring systems consisting of wet- and dry-basis O2 analyzers) according to the procedures in section 6.3.1 of appendix A to this part, and perform the daily calibration error test of each flow monitoring system according to the procedure in section 6.3.2 of appendix A to this part. When two measurement ranges (low and high) are required for a particular parameter, perform sufficient calibration error tests on each range to validate the data recorded on that range, according to the criteria in section 2.1.5 of this appendix.
                <ul>
                    <li>
                        <h5 id="2.1.1.1" class="anchorPad">
                            <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
                            2.1.1.1&emsp;
                            <em class="noStyle">
                                On-line Daily Calibration Error Tests
                            </em>
                        </h5>
                        <ul>
                            <li>Except as provided in section 2.1.1.2 of this appendix, all daily calibration error tests must be performed while the unit is in operation at normal, stable conditions (i.e. “on-line”).</li>
                        </ul>
                    </li>
                    <li>
                        <h5 id="2.1.1.2" class="anchorPad">
                            <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
                            2.1.1.2&emsp;
                            <em class="noStyle">
                                Off-line Daily Calibration Error Tests
                            </em>
                        </h5>
                        <ul>
                            <li>
                                Daily calibrations may be performed while the unit is not operating (i.e., “off-line”) and may be used to validate data for a monitoring system that meets the following conditions:
                                <ol>
                                    <li>
                                        An initial demonstration test of the monitoring system is successfully completed and the results are reported in the quarterly report required under §75.64 of this part. The initial demonstration test, hereafter called the “off-line calibration demonstration”, consists of an off-line calibration error test followed by an on-line calibration error test. Both the off-line and on-line portions of the off-line calibration demonstration must meet the calibration error performance specification in section 3.1 of appendix A of this part. Upon completion of the off-line portion of the demonstration, the zero and upscale monitor responses may be adjusted, but only toward the true values of the calibration gases or reference signals used to perform the test and only in accordance with the routine calibration adjustment procedures specified in the quality control program required under section 1 of appendix B to this part. Once these adjustments are made, no further adjustments may be made to the monitoring system until after completion of the on-line portion of the off-line calibration demonstration. Within 26 clock hours of the completion hour of the off-line portion of the demonstration, the monitoring system must successfully complete the first attempted calibration error test, i.e., the on-line portion of the demonstration.
                                    </li>
                                    <li>
                                        For each monitoring system that has passed the off-line calibration demonstration, off-line calibration error tests may be used on a limited basis to validate data, in accordance with paragraph (2) in section 2.1.5.1 of this appendix.
                                    </li>
                                </ol>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <h5 id="2.1.2" class="anchorPad">
            <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
            2.1.2&emsp;
            <em class="noStyle">
                Daily Flow Interference Check
            </em>
        </h5>
        <ul>
            <li>
                Perform the daily flow monitor interference checks specified in section 2.2.2.2 of appendix A of this part while the unit is in operation at normal, stable conditions.
            </li>
        </ul>
    </li>
    <li>
        <h5 id="2.1.3" class="anchorPad">
            <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
            2.1.3&emsp;
            <em class="noStyle">
                Additional Calibration Error Tests and Calibration Adjustments
            </em>
        </h5>
        <ol type="a">
            <li>
                In addition to the daily calibration error tests required under section 2.1.1 of this appendix, a calibration error test of a monitor shall be performed in accordance with section 2.1.1 of this appendix, as follows: whenever a daily calibration error test is failed; whenever a monitoring system is returned to service following repair or corrective maintenance that could affect the monitor's ability to accurately measure and record emissions data; or after making certain calibration adjustments, as described in this section. Except in the case of the routine calibration adjustments described in this section, data from the monitor are considered invalid until the required additional calibration error test has been successfully completed.
            </li>
            <li>
                Routine calibration adjustments of a monitor are permitted after any successful calibration error test. These routine adjustments shall be made so as to bring the monitor readings as close as practicable to the known tag values of the calibration gases or to the actual value of the flow monitor reference signals. An additional calibration error test is required following routine calibration adjustments where the monitor's calibration has been physically adjusted (e.g., by turning a potentiometer) to verify that the adjustments have been made properly. An additional calibration error test is not required, however, if the routine calibration adjustments are made by means of a mathematical algorithm programmed into the data acquisition and handling system. The EPA recommends that routine calibration adjustments be made, at a minimum, whenever the daily calibration error exceeds the limits of the applicable performance specification in appendix A to this part for the pollutant concentration monitor, CO2 or O2 monitor, or flow monitor.
            </li>
            <li>
                Additional (non-routine) calibration adjustments of a monitor are permitted prior to (but not during) linearity checks and RATAs and at other times, provided that an appropriate technical justification is included in the quality control program required under section 1 of this appendix. The allowable non-routine adjustments are as follows. The owner or operator may physically adjust the calibration of a monitor (e.g., by means of a potentiometer), provided that the post-adjustment zero and upscale responses of the monitor are within the performance specifications of the instrument given in section 3.1 of appendix A to this part. An additional calibration error test is required following such adjustments to verify that the monitor is operating within the performance specifications at both the zero and upscale calibration levels.
            </li>
        </ol>
    </li>
    <li>
        <h5 id="2.1.4" class="anchorPad">
            <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
            2.1.4&emsp;
            <em class="noStyle">
                Data Validation
            </em>
        </h5>
        <ol type="a">
            <li>
                An out-of-control period occurs when the calibration error of an SO2 or NOX pollutant concentration monitor exceeds 5.0 percent of the span value, when the calibration error of a CO2 or O2 monitor (including O2 monitors used to measure CO2 emissions or percent moisture) exceeds 1.0 percent O2 or CO2, or when the calibration error of a flow monitor exceeds 6.0 percent of the span value, which is twice the applicable specification of appendix A to this part. Notwithstanding, a differential pressure-type flow monitor for which the calibration error exceeds 6.0 percent of the span value shall not be considered out-of-control if |R-A|, the absolute value of the difference between the monitor response and the reference value in Equation A-6 of appendix A to this part, is &lt; 0.02 inches of water. In addition, an SO2 or NOX monitor for which the calibration error exceeds 5.0 percent of the span value shall not be considered out-of-control if |R-A| in Equation A-6 does not exceed 5.0 ppm (for span values &le; 50 ppm), or if |R-A|; does not exceed 10.0 ppm (for span values &gt; 50 ppm, but &le; 200 ppm). The out-of-control period begins upon failure of the calibration error test and ends upon completion of a successful calibration error test. Note, that if a failed calibration, corrective action, and successful calibration error test occur within the same hour, emission data for that hour recorded by the monitor after the successful calibration error test may be used for reporting purposes, provided that two or more valid readings are obtained as required by §75.10. A NOX-diluent CEMS is considered out-of-control if the calibration error of either component monitor exceeds twice the applicable performance specification in appendix A to this part. Emission data shall not be reported from an out-of-control monitor.
            </li>
            <li>
                An out-of-control period also occurs whenever interference of a flow monitor is identified. The out-of-control period begins with the hour of completion of the failed interference check and ends with the hour of completion of an interference check that is passed.
            </li>
            <li>
                The results of any certification, recertification, diagnostic, or quality assurance test required under this part may not be used to validate the emissions data required under this part, if the test is performed using EPA Protocol gas from a production site that is not participating in the PGVP, except as provided in §75.21(g)(7) or if the cylinder(s) are analyzed by an independent laboratory and shown to meet the requirements of section 5.1.4(b) of appendix A to this part.
            </li>
        </ol>
    </li>
    <li>
        <h5 id="2.1.5" class="anchorPad">
            <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
            2.1.5&emsp;
            <em class="noStyle">
                Quality Assurance of Data With Respect to Daily Assessments
            </em>
        </h5>
        <ul>
            <li>
                When a monitoring system passes a daily assessment (i.e., daily calibration error test or daily flow interference check), data from that monitoring system are prospectively validated for 26 clock hours (i.e., 24 hours plus a 2-hour grace period) beginning with the hour in which the test is passed, unless another assessment (i.e. a daily calibration error test, an interference check of a flow monitor, a quarterly linearity check, a quarterly leak check, or a relative accuracy test audit) is failed within the 26-hour period.
                <ul>
                    <li>
                        <h5 id="2.1.5.1" class="anchorPad">
                            <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
                            2.1.5.1&emsp;
                            <em class="noStyle">
                                Data Invalidation with Respect to Daily Assessments
                            </em>
                        </h5>
                        <ul>
                            <li>
                                The following specific rules apply to the invalidation of data with respect to daily assessments:
                                <ol>
                                    <li>
                                        Data from a monitoring system are invalid, beginning with the first hour following the expiration of a 26-hour data validation period or beginning with the first hour following the expiration of an 8-hour start-up grace period (as provided under section 2.1.5.2 of this appendix), if the required subsequent daily assessment has not been conducted.
                                    </li>
                                    <li>
                                        For a monitor that has passed the off-line calibration demonstration, a combination of on-line and off-line calibration error tests may be used to validate data from the monitor, as follows. For a particular unit (or stack) operating hour, data from a monitor may be validated using a successful off-line calibration error test if:
                                        <ol type="a">
                                            <li>
                                                An on-line calibration error test has been passed within the previous 26 unit (or stack) operating hours; and
                                            </li>
                                            <li>
                                                the 26 clock hour data validation window for the off-line calibration error test has not expired.
                                            </li>
                                        </ol>
                                        <p>
                                            If either of these conditions is not met, then the data from the monitor are invalid with respect to the daily calibration error test requirement. Data from the monitor shall remain invalid until the appropriate on-line or off-line calibration error test is successfully completed so that both conditions (a) and (b) are met.
                                        </p>
                                    </li>
                                    <li>
                                        For units with two measurement ranges (low and high) for a particular parameter, when separate analyzers are used for the low and high ranges, a failed or expired calibration on one of the ranges does not affect the quality-assured data status on the other range. For a dual-range analyzer (i.e., a single analyzer with two measurement scales), a failed calibration error test on either the low or high scale results in an out-of-control period for the monitor. Data from the monitor remain invalid until corrective actions are taken and “hands-off” calibration error tests have been passed on both ranges. However, if the most recent calibration error test on the high scale was passed but has expired, while the low scale is up-to-date on its calibration error test requirements (or vice-versa), the expired calibration error test does not affect the quality-assured status of the data recorded on the other scale.
                                    </li>
                                </ol>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h5 id="2.1.5.2" class="anchorPad">
                            <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
                            2.1.5.2&emsp;
                            <em class="noStyle">
                                Daily Assessment Start-Up Grace Period
                            </em>
                        </h5>
                        <ul>
                            <li>
                                For the purpose of quality assuring data with respect to a daily assessment (i.e. a daily calibration error test or a flow interference check), a start-up grace period may apply when a unit begins to operate after a period of non-operation. The start-up grace period for a daily calibration error test is independent of the start-up grace period for a daily flow interference check. To qualify for a start-up grace period for a daily assessment, there are two requirements:
                                <ol>
                                    <li>
                                        The unit must have resumed operation after being in outage for 1 or more hours (i.e., the unit must be in a start-up condition) as evidenced by a change in unit operating time from zero in one clock hour to an operating time greater than zero in the next clock hour.
                                    </li>
                                    <li>
                                        For the monitoring system to be used to validate data during the grace period, the previous daily assessment of the same kind must have been passed on-line within 26 clock hours prior to the last hour in which the unit operated before the outage. In addition, the monitoring system must be in-control with respect to quarterly and semi-annual or annual assessments.
                                    </li>
                                </ol>
                                <p>
                                    If both of the above conditions are met, then a start-up grace period of up to 8 clock hours applies, beginning with the first hour of unit operation following the outage. During the start-up grace period, data generated by the monitoring system are considered quality-assured. For each monitoring system, a start-up grace period for a calibration error test or flow interference check ends when either: (1) a daily assessment of the same kind (i.e., calibration error test or flow interference check) is performed; or (2) 8 clock hours have elapsed (starting with the first hour of unit operation following the outage), whichever occurs first.
                                </p>
                            </li>
                        </ul>

                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <h5 id="2.1.6" class="anchorPad">
            <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
            2.1.6&emsp;
            <em class="noStyle">
                Data Recording
            </em>
        </h5>
        <ul>
            <li>
                Record and tabulate all calibration error test data according to month, day, clock-hour, and magnitude in either ppm, percent volume, or scfh. Program monitors that automatically adjust data to the corrected calibration values (e.g., microprocessor control) to record either:
                <ol>
                    <li>
                        The unadjusted concentration or flow rate measured in the calibration error test prior to resetting the calibration, or
                    </li>
                    <li>
                        the magnitude of any adjustment.
                    </li>
                </ol>
                <p>
                    Record the following applicable flow monitor interference check data: (1) Sample line/sensing port pluggage, and (2) malfunction of each RTD, transceiver, or equivalent.
                </p>
            </li>
        </ul>
    </li>
</ul>
<h4 id="2.2" class="anchorPad">
    <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
    2.2&emsp;
    <em class="noStyle">
        Quarterly Assessments
    </em>
</h4>
<ul>
    <li>
        For each primary and redundant backup monitor or monitoring system, perform the following quarterly assessments. This requirement is applies as of the calendar quarter following the calendar quarter in which the monitor or continuous emission monitoring system is provisionally certified.
    </li>
    <li>
        <h5 id="2.2.1" class="anchorPad">
            <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
            2.2.1&emsp;
            <em class="noStyle">
                Linearity Check
            </em>
        </h5>
        <ul>
            <li>Unless a particular monitor (or monitoring range) is exempted under this paragraph or under section 6.2 of appendix A to this part, perform a linearity check, in accordance with the procedures in section 6.2 of appendix A to this part, for each primary and redundant backup SO2, and NOx pollutant concentration monitor and each primary and redundant backup CO2 or O2 monitor (including O2 monitors used to measure CO2 emissions or to continuously monitor moisture) at least once during each QA operating quarter, as defined in §72.2 of this chapter. For units using both a low and high span value, a linearity check is required only on the range(s) used to record and report emission data during the QA operating quarter. Conduct the linearity checks no less than 30 days apart, to the extent practicable. The data validation procedures in section 2.2.3(e) of this appendix shall be followed.</li>
        </ul>
    </li>
    <li>
        <h5 id="2.2.2" class="anchorPad">
            <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
            2.2.2&emsp;
            <em class="noStyle">
                Leak Check
            </em>
        </h5>
        <ul>
            <li>For differential pressure flow monitors, perform a leak check of all sample lines (a manual check is acceptable) at least once during each QA operating quarter. For this test, the unit does not have to be in operation. Conduct the leak checks no less than 30 days apart, to the extent practicable. If a leak check is failed, follow the applicable data validation procedures in section 2.2.3(g) of this appendix.</li>
        </ul>
    </li>
    <li>
        <h5 id="2.2.3" class="anchorPad">
            <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
            2.2.3&emsp;
            <em class="noStyle">
                Data Validation
            </em>
        </h5>
        <ol type="a">
            <li>
                A linearity check shall not be commenced if the monitoring system is operating out-of-control with respect to any of the daily or semiannual quality assurance assessments required by sections 2.1 and 2.3 of this appendix or with respect to the additional calibration error test requirements in section 2.1.3 of this appendix.
            </li>
            <li>
                Each required linearity check shall be done according to paragraph (b)(1), (b)(2) or (b)(3) of this section:
                <ol>
                    <li>
                        The linearity check may be done “cold,” i.e., with no corrective maintenance, repair, calibration adjustments, re-linearization or reprogramming of the monitor prior to the test.
                    </li>
                    <li>
                        The linearity check may be done after performing only the routine or non-routine calibration adjustments described in section 2.1.3 of this appendix at the various calibration gas levels (zero, low, mid or high), but no other corrective maintenance, repair, re-linearization or reprogramming of the monitor. Trial gas injection runs may be performed after the calibration adjustments and additional adjustments within the allowable limits in section 2.1.3 of this appendix may be made prior to the linearity check, as necessary, to optimize the performance of the monitor. The trial gas injections need not be reported, provided that they meet the specification for trial gas injections in §75.20(b)(3)(vii)(E)(1). However, if, for any trial injection, the specification in §75.20(b)(3)(vii)(E)(1) is not met, the trial injection shall be counted as an aborted linearity check.
                    </li>
                    <li>
                        The linearity check may be done after repair, corrective maintenance or reprogramming of the monitor. In this case, the monitor shall be considered out-of-control from the hour in which the repair, corrective maintenance or reprogramming is commenced until the linearity check has been passed. Alternatively, the data validation procedures and associated timelines in §§75.20(b)(3)(ii) through (ix) may be followed upon completion of the necessary repair, corrective maintenance, or reprogramming. If the procedures in §75.20(b)(3) are used, the words “quality assurance” apply instead of the word “recertification”.
                    </li>
                </ol>
            </li>
            <li>
                Once a linearity check has been commenced, the test shall be done hands-off. That is, no adjustments of the monitor are permitted during the linearity test period, other than the routine calibration adjustments following daily calibration error tests, as described in section 2.1.3 of this appendix. If a routine daily calibration error test is performed and passed just prior to a linearity test (or during a linearity test period) and a mathematical correction factor is automatically applied by the DAHS, the correction factor shall be applied to all subsequent data recorded by the monitor, including the linearity test data.
            </li>
            <li>
                If a daily calibration error test is failed during a linearity test period, prior to completing the test, the linearity test must be repeated. Data from the monitor are invalidated prospectively from the hour of the failed calibration error test until the hour of completion of a subsequent successful calibration error test. The linearity test shall not be commenced until the monitor has successfully completed a calibration error test.
            </li>
            <li>
                An out-of-control period occurs when a linearity test is failed (i.e., when the error in linearity at any of the three concentrations in the quarterly linearity check (or any of the six concentrations, when both ranges of a single analyzer with a dual range are tested) exceeds the applicable specification in section 3.2 of appendix A to this part) or when a linearity test is aborted due to a problem with the monitor or monitoring system. For a NOX-diluent continuous emission monitoring system, the system is considered out-of-control if either of the component monitors exceeds the applicable specification in section 3.2 of appendix A to this part or if the linearity test of either component is aborted due to a problem with the monitor. The out-of-control period begins with the hour of the failed or aborted linearity check and ends with the hour of completion of a satisfactory linearity check following corrective action and/or monitor repair, unless the option in paragraph (b)(3) of this section to use the data validation procedures and associated timelines in §75.20(b)(3)(ii) through (ix) has been selected, in which case the beginning and end of the out-of-control period shall be determined in accordance with §§75.20(b)(3)(vii)(A) and (B). For a dual-range analyzer, “hands-off” linearity checks must be passed on both measurement scales to end the out-of-control period. Note that a monitor shall not be considered out-of-control when a linearity test is aborted for a reason unrelated to the monitor's performance (e.g., a forced unit outage).
            </li>
            <li>
                No more than four successive calendar quarters shall elapse after the quarter in which a linearity check of a monitor or monitoring system (or range of a monitor or monitoring system) was last performed without a subsequent linearity test having been conducted. If a linearity test has not been completed by the end of the fourth calendar quarter since the last linearity test, then the linearity test must be completed within a 168 unit operating hour or stack operating hour “grace period” (as provided in section 2.2.4 of this appendix) following the end of the fourth successive elapsed calendar quarter, or data from the CEMS (or range) will become invalid.
            </li>
            <li>
                An out-of-control period also occurs when a flow monitor sample line leak is detected. The out-of-control period begins with the hour of the failed leak check and ends with the hour of a satisfactory leak check following corrective action.
            </li>
            <li>
                For each monitoring system, report the results of all completed and partial linearity tests that affect data validation (i.e., all completed, passed linearity checks; all completed, failed linearity checks; and all linearity checks aborted due to a problem with the monitor, including trial gas injections counted as failed test attempts under paragraph (b)(2) of this section or under §75.20(b)(3)(vii)(F)), in the quarterly report required under §75.64. Note that linearity attempts which are aborted or invalidated due to problems with the reference calibration gases or due to operational problems with the affected unit(s) need not be reported. Such partial tests do not affect the validation status of emission data recorded by the monitor. A record of all linearity tests, trial gas injections and test attempts (whether reported or not) must be kept on-site as part of the official test log for each monitoring system.
            </li>
            <li>
                The results of any certification, recertification, diagnostic, or quality assurance test required under this part may not be used to validate the emissions data required under this part, if the test is performed using EPA Protocol gas that was not from an EPA Protocol gas production site participating in the PGVP on the date the gas was procured either by the tester or by a reseller that sold to the tester the unaltered EPA Protocol gas, except as provided in §75.21(g)(7) or if the cylinder(s) are analyzed by an independent laboratory and shown to meet the requirements of section 5.1.4(b) of appendix A to this part.
            </li>
        </ol>
    </li>
    <li>
        <h5 id="2.2.4" class="anchorPad">
            <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
            2.2.4&emsp;
            <em class="noStyle">
                Linearity and Leak Check Grace Period
            </em>
        </h5>
        <ol type="a">
            <li>
                When a required linearity test or flow monitor leak check has not been completed by the end of the QA operating quarter in which it is due or if, due to infrequent operation of a unit or infrequent use of a required high range of a monitor or monitoring system, four successive calendar quarters have elapsed after the quarter in which a linearity check of a monitor or monitoring system (or range) was last performed without a subsequent linearity test having been done, the owner or operator has a grace period of 168 consecutive unit operating hours, as defined in §72.2 of this chapter (or, for monitors installed on common stacks or bypass stacks, 168 consecutive stack operating hours, as defined in §72.2 of this chapter) in which to perform a linearity test or leak check of that monitor or monitoring system (or range). The grace period begins with the first unit or stack operating hour following the calendar quarter in which the linearity test was due. Data validation during a linearity or leak check grace period shall be done in accordance with the applicable provisions in section 2.2.3 of this appendix.
            </li>
            <li>
                If, at the end of the 168 unit (or stack) operating hour grace period, the required linearity test or leak check has not been completed, data from the monitoring system (or range) shall be invalid, beginning with the first unit operating hour following the expiration of the grace period. Data from the monitoring system (or range) remain invalid until the hour of completion of a subsequent successful hands-off linearity test or leak check of the monitor or monitoring system (or range). Note that when a linearity test or a leak check is conducted within a grace period for the purpose of satisfying the linearity test or leak check requirement from a previous QA operating quarter, the results of that linearity test or leak check may only be used to meet the linearity check or leak check requirement of the previous quarter, not the quarter in which the missed linearity test or leak check is completed.
            </li>
        </ol>
    </li>
    <li>
        <h5 id="2.2.5" class="anchorPad">
            <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
            2.2.5&emsp;
            <em class="noStyle">
                Flow-to-Load Ratio or Gross Heat Rate Evaluation
            </em>
        </h5>
        <ol type="a">
            <li>
                <em>Applicability and Methodology</em>. Unless exempted from the flow-to-load ratio test under section 7.8 of appendix A to this part, the owner or operator shall, for each flow rate monitoring system installed on each unit, common stack or multiple stack, evaluate the flow-to-load ratio quarterly, i.e., for each QA operating quarter (as defined in §72.2 of this chapter). At the end of each QA operating quarter, the owner or operator shall use Equation B-1 to calculate the flow-to-load ratio for every hour during the quarter in which: the unit (or combination of units, for a common stack) operated within ±10.0 percent of L<sub>avg</sub>, the average load during the most recent normal-load flow RATA; and a quality-assured hourly average flow rate was obtained with a certified flow rate monitor. Alternatively, for the reasons stated in paragraphs (c)(1) through (c)(6) of this section, the owner or operator may exclude from the data analysis certain hours within ±10.0 percent of L<sub>avg</sub> and may calculate R<sub>h</sub> values for only the remaining hours.
                <hr />
                <img class="img-thumbnail" src="~/Content/Images/Part75AppB2.1.jpg" alt="Part 75 Appendix B Eq. B-1" title="Part 75 Appendix B Eq. B-1" />
                <br />
                <table>
                    <tr>
                        <th>Where:</th>
                    </tr>
                    <tr>
                        <td>R<sub>h</sub></td>
                        <td>= Hourly value of the flow-to-load ratio, scfh/megawatts, scfh/1000 lb/hr of steam, or scfh/(mmBtu/hr thermal output).</td>
                    </tr>
                    <tr>
                        <td>Q<sub>h</sub></td>
                        <td>= Hourly stack gas volumetric flow rate, as measured by the flow rate monitor, scfh.</td>
                    </tr>
                    <tr>
                        <td>L<sub>h</sub></td>
                        <td>= Hourly unit load, megawatts, 1000 lb/hr of steam, or mmBtu/hr thermal output; must be within + 10.0 percent of L<sub>avg</sub> during the most recent normal-load flow RATA.</td>
                    </tr>
                </table>
                <hr />
                <ol>
                    <li>
                        In Equation B-1, the owner or operator may use either bias-adjusted flow rates or unadjusted flow rates, provided that all of the ratios are calculated the same way. For a common stack, Lh shall be the sum of the hourly operating loads of all units that discharge through the stack. For a unit that discharges its emissions through multiple stacks or that monitors its emissions in multiple breechings, Q<sub>h</sub> will be either the combined hourly volumetric flow rate for all of the stacks or ducts (if the test is done on a unit basis) or the hourly flow rate through each stack individually (if the test is performed separately for each stack). For a unit with a multiple stack discharge configuration consisting of a main stack and a bypass stack, each of which has a certified flow monitor (e.g., a unit with a wet SO2 scrubber), calculate the hourly flow-to-load ratios separately for each stack. Round off each value of Rh to two decimal places.
                    </li>
                    <li>
                        Alternatively, the owner or operator may calculate the hourly gross heat rates (GHR) in lieu of the hourly flow-to-load ratios. The hourly GHR shall be determined only for those hours in which quality-assured flow rate data and diluent gas (CO2 or O2) concentration data are both available from a certified monitor or monitoring system or reference method. If this option is selected, calculate each hourly GHR value as follows:
                        <hr />
                        <img class="img-thumbnail" src="~/Content/Images/Part75AppB2.2.jpg" alt="Part 75 Appendix B Eq. B-1a" title="Part 75 Appendix B Eq. B-1a" />
                        <br />
                        <table>
                            <tr>
                                <th style="width: 100px">Where:</th>
                            </tr>
                            <tr>
                                <td>(GHR)<sub>h</sub></td>
                                <td>= Hourly value of the gross heat rate, Btu/kwh, Btu/lb steam load, or 1000 mmBtu heat input/mmBtu thermal output.</td>
                            </tr>
                            <tr>
                                <td>(Heat Input)<sub>h</sub></td>
                                <td>= Hourly heat input, as determined from the quality-assured flow rate and diluent data, using the applicable equation in appendix F to this part, mmBtu/hr.</td>
                            </tr>
                            <tr>
                                <td>L<sub>h</sub></td>
                                <td>= Hourly unit load, megawatts, 1000 lb/hr of steam, or mmBtu/hr thermal output; must be within + 10.0 percent of L<sub>avg</sub> during the most recent normal-load flow RATA.</td>
                            </tr>
                        </table>
                        <hr />
                    </li>
                    <li>
                        In Equation B-1a, the owner or operator may either use bias-adjusted flow rates or unadjusted flow rates in the calculation of (Heat Input)h, provided that all of the heat input rate values are determined in the same manner.
                    </li>
                    <li>
                        The owner or operator shall evaluate the calculated hourly flow-to-load ratios (or gross heat rates) as follows. A separate data analysis shall be performed for each primary and each redundant backup flow rate monitor used to record and report data during the quarter. Each analysis shall be based on a minimum of 168 acceptable recorded hourly average flow rates (i.e., at loads within ±10 percent of L<sub>avg</sub>). When two RATA load levels are designated as normal, the analysis shall be performed at the higher load level, unless there are fewer than 168 acceptable data points available at that load level, in which case the analysis shall be performed at the lower load level. If, for a particular flow monitor, fewer than 168 acceptable hourly flow-to-load ratios (or GHR values) are available at any of the load levels designated as normal, a flow-to-load (or GHR) evaluation is not required for that monitor for that calendar quarter.
                    </li>
                    <li>
                        For each flow monitor, use Equation B-2 in this appendix to calculate E<sub>h</sub>, the absolute percentage difference between each hourly R<sub>h</sub> value and R<sub>ref</sub>, the reference value of the flow-to-load ratio, as determined in accordance with section 7.7 of appendix A to this part. Note that R<sub>ref</sub> shall always be based upon the most recent normal-load RATA, even if that RATA was performed in the calendar quarter being evaluated.
                        <hr />
                        <img class="img-thumbnail" src="~/Content/Images/Part75AppB2.3.jpg" alt="Part 75 Appendix B Eq. B-2" title="Part 75 Appendix B Eq. B-2" />
                        <br />
                        <table>
                            <tr>
                                <th>Where:</th>
                            </tr>
                            <tr>
                                <td>E<sub>h</sub></td>
                                <td>= Absolute percentage difference between the hourly average flow-to-load ratio and the reference value of the flow-to-load ratio at normal load.</td>
                            </tr>
                            <tr>
                                <td>R<sub>h</sub></td>
                                <td>= The hourly average flow-to-load ratio, for each flow rate recorded at a load level within ±10.0 percent of L<sub>avg</sub>.</td>
                            </tr>
                            <tr>
                                <td>R<sub>ref</sub></td>
                                <td>= The reference value of the flow-to-load ratio from the most recent normal-load flow RATA, determined in accordance with section 7.7 of appendix A to this part. </td>
                            </tr>
                        </table>
                        <hr />
                    </li>
                    <li>
                        Equation B-2 shall be used in a consistent manner. That is, use R<sub>ref</sub> and R<sub>h</sub> if the flow-to-load ratio is being evaluated, and use (GHR)<sub>ref</sub> and (GHR)<sub>h</sub> if the gross heat rate is being evaluated. Finally, calculate E<sub>f</sub>, the arithmetic average of all of the hourly E<sub>h</sub> values. The owner or operator shall report the results of each quarterly flow-to-load (or gross heat rate) evaluation, as determined from Equation B-2, in the electronic quarterly report required under §75.64.
                    </li>
                </ol>
            </li>
            <li>
                <em>Acceptable Results</em>. The results of a quarterly flow-to-load (or gross heat rate) evaluation are acceptable, and no further action is required, if the calculated value of E<sub>f</sub> is less than or equal to:
                <ol>
                    <li>
                        15.0 percent, if L<sub>avg</sub> for the most recent normal-load flow RATA is &ge; 60 megawatts (or &ge; 500 klb/hr of steam) and if unadjusted flow rates were used in the calculations; or
                    </li>
                    <li>
                        10.0 percent, if L<sub>avg</sub> for the most recent normal-load flow RATA is &ge; 60 megawatts (or &ge; 500 klb/hr of steam) and if bias-adjusted flow rates were used in the calculations; or
                    </li>
                    <li>
                        20.0 percent, if L<sub>avg</sub> for the most recent normal-load flow RATA is &lt; 60 megawatts (or &lt; 500 klb/hr of steam) and if unadjusted flow rates were used in the calculations; or
                    </li>
                    <li>
                        15.0 percent, if L<sub>avg</sub> for the most recent normal-load flow RATA is &lt; 60 megawatts (or &lt; 500 klb/hr of steam) and if bias-adjusted flow rates were used in the calculations.
                    </li>
                </ol>
                <p>
                    If E<sub>f</sub> is above these limits, the owner or operator shall either:
                    <ol>
                        <li>
                            implement Option 1 in section 2.2.5.1 of this appendix; or
                        </li>
                        <li>
                            perform a RATA in accordance with Option 2 in section 2.2.5.2 of this appendix; or
                        </li>
                        <li>
                            re-examine the hourly data used for the flow-to-load or GHR analysis and recalculate E<sub>f</sub>, after excluding all non-representative hourly flow rates.
                        </li>
                    </ol>
                </p>
                <p>
                    If E<sub>f</sub> is above these limits, the owner or operator shall either:
                    <ol>
                        <li>
                            implement Option 1 in section 2.2.5.1 of this appendix;
                        </li>
                        <li>
                            perform a RATA in accordance with Option 2 in section 2.2.5.2 of this appendix; or
                            </li>
                        <li>
                            (if applicable) re-examine the hourly data used for the flow-to-load or GHR analysis and recalculate E<sub>f</sub>, after excluding all non-representative hourly flow rates, as provided in paragraph (c) of this section.
                        </li>
                    </ol>
                </p>
            </li>
        </ol>
    </li>
</ul>