<style>
    .img-thumbnail {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }

    em {
        text-decoration: underline;
    }

    .noStyle {
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    .anchorPad {
        padding-top: 75px;
        margin-top: -65px;
    }
</style>
<h2 id="BackToTop" class="anchorPad">
    Appendix D to Part 75 - Optional SO<sub>2</sub> Emissions Data Protocol for Gas-Fired and Oil-Fired Units
</h2>
<hr />
<h3>
    1.&emsp;Applicability
</h3>
<hr />
<h4 class="anchorPad">
    <em class="noStyle">
        1.&emsp;
        Applicability
    </em>
</h4>
<ul>
    <li>
        <p>
            1.1&emsp;
            This protocol may be used in lieu of continuous SO<sub>2</sub> pollutant concentration and flow monitors for the purpose of determining hourly SO<sub>2</sub> mass emissions and heat input from: gas-fired units, as defined in §72.2 of this chapter, or oil-fired units, as defined in §72.2 of this chapter. Section <a href="~/Part75/AppD.2#2.1" style="text-decoration: none">2.1</a> of this appendix provides procedures for measuring oil or gaseous fuel flow using a fuel flowmeter, section <a href="~/Part75/AppD.2#2.2" style="text-decoration: none">2.2</a> of this appendix provides procedures for conducting oil sampling and analysis to determine sulfur content and gross calorific value (GCV) of fuel oil, and section <a href="~/Part75/AppD.2#2.3" style="text-decoration: none">2.3</a> of this appendix provides procedures for determining the sulfur content and GCV of gaseous fuels.
        </p>
    </li>
    <li>
        <p>
            1.2&emsp;
            Pursuant to the procedures in <a href="~/Part75/75.20" style="text-decoration: none">§75.20</a>, complete all testing requirements to certify use of this protocol in lieu of a flow monitor and an SO<sub>2</sub> continuous emission monitoring system. Complete all testing requirements no later than the applicable deadline specified in <a href="~/Part75/75.4" style="text-decoration: none">§75.4</a>. Apply to the Administrator for initial certification to use this protocol no later than 45 days after the completion of all certification tests.
        </p>
    </li>
</ul>
<hr />
<h4>Reference</h4>
<p>
    [58 FR 3701, Jan. 11, 1993, as amended at 60 FR 26548, 26551, May 17, 1995; 61 FR 25585, May 22, 1996; 61 FR 59166, Nov. 20, 1996; 63 FR 57513, Oct. 27, 1998; 64 FR 28652, May 26, 1999; 64 FR 37582, July 12, 1999; 67 FR 40460, 40472, June 12, 2002; 67 FR 53505, Aug. 16, 2002; 73 FR 4369, Jan. 24, 2008; 76 FR 17324, Mar. 28, 2011; 76 FR 20536, Apr. 13, 2011; 77 FR 2460, Jan. 18, 2012]
</p>