<h2>Background</h2>
<ol type="I">
    <li>
        Sections 75.17(a)(1) and 75.17(a)(2)(i) allow the owner or operator of a group of NO<sub>x</sub>
        affected units (see definition below) that exhaust into a common stack to demonstrate
        compliance with the applicable NO<sub>x</sub> emission limits in the following ways:
        <ol type="A">
            <li>
                Monitor the NO<sub>x</sub> emission rate separately for each unit, in the duct from the unit
                to the common stack; or
            </li>
            <li>
                Monitor the NO<sub>x</sub> emission rate at the common stack and submit a compliance
                plan for approval by the permitting authority which indicates that:
                <ol>
                    <li>
                        Each unit will comply with the most stringent NO<sub>x</sub> emission limitation of any
                        unit using the common stack; or
                    </li>
                    <li>
                        Each unit will comply with the applicable NO<sub>x</sub> emission limit by averaging its
                        emissions with other units utilizing the common stack, pursuant to 40 CFR
                        Part 76; or
                    </li>
                    <li>
                        A petition will be submitted to determine each unit's NO<sub>x</sub> compliance by an
                        alternative method, satisfactory to the Administrator, using apportionment of
                        the common stack NO<sub>x</sub> emission rate and ensuring complete and accurate
                        estimation of emissions.
                    </li>
                </ol>
            </li>
        </ol>
    </li>
    <li>
        Section 75.17(a)(2)(iii) allows an owner or operator of one or more NO<sub>x</sub> affected
        units that exhaust into a common stack with NO<sub>x</sub> non-affected units (see definition
        below) to demonstrate that the NO<sub>x</sub> affected unit(s) meet the applicable NO<sub>x</sub> emission
        limitation(s) in the following ways:
        <ol type="A">
            <li>Monitor the NO<sub>x</sub> emission rate in the duct from each unit to the common stack; or</li>
            <li>
                Petition the Administrator for approval of an alternative method to determine each
                unit's NO<sub>x</sub> emission rate by an alternative method using apportionment of the
                common stack NO<sub>x</sub> emission rate and ensuring complete and accurate estimation
                of emissions.
            </li>
        </ol>
    </li>
    <li>
        Section 75.17(b) allows an owner or operator of one or more Acid Rain units (see
        definition below) that exhaust into a common stack with one or more non-Acid Rain
        units (see definition below) to determine the NO<sub>x</sub> emission rate(s) of the Acid Rain
        unit(s) in the following ways:
        <ol type="A">
            <li>
                Monitor NO<sub>x</sub> emission rate in the duct from each Acid Rain unit to the common
                stack; or
            </li>
            <li>
                Petition the Administrator for approval of an alternative method to determine each
                unit's NO<sub>x</sub> emission rate by an alternative method using apportionment of the
                common stack NO<sub>x</sub> emission rate and ensuring complete and accurate estimation
                of emissions.
            </li>
        </ol>
    </li>
</ol>
<h2>Definitions</h2>
<p>
    <b>Acid Rain Unit</b>: A unit subject to any Acid Rain emissions limitation under 40 CFR
    Parts 72 and 74, or 76.
</p>
<p>
    <b>Main Common Stack</b>: A stack through which the combined emissions from a group of
    units discharge to the atmosphere.
</p>
<p>
    <b>Non-Acid Rain Unit</b> A unit not subject to any SO<sub>2</sub> or NO<sub>x</sub> Acid Rain emission
    limitation under 40 CFR Parts 72, 74, or 76.
</p>
<p>
    <b>NO<sub>x</sub> Affected Unit</b>: An Acid Rain unit which is subject to a NO<sub>x</sub> emission limitation
    under 40 CFR Part 76.
</p>
<p>
    <b>NO<sub>x</sub> Non-Affected Unit</b>: An Acid Rain unit which is not subject to a NO<sub>x</sub> emission
    limitation under 40 CFR Part 76.
</p>
<p>
    <b>Secondary Common Stack</b>: A location in the duct work, upstream of the main common
    stack, where the combined heat input rate and/or combined emissions from two or more
    units are monitored.
</p>
<hr />
<h2>
    Question 22.4
</h2>

<h3>Topic</h3>
<em>
    Common Stack NO<sub>x</sub> Apportionment for Other Configurations
</em>

<h3>Question</h3>
<p>
    Question 22.2 addresses only common stack NO<sub>x</sub> apportionment for a
    configuration consisting of NO<sub>x</sub> affected and NO<sub>x</sub> non-affected units.
    What are the similarities and differences in the common stack NO<sub>x</sub>
    apportionment methodologies for other configurations? In particular,
    address the following cases:
    <ol>
        <li>
            a configuration in which Acid Rain units
            share a common stack with non-Acid Rain units; and
        </li>
        <li>
            a configuration in
            which a group of NO<sub>x</sub> affected units share a common stack.
        </li>
    </ol>
</p>
<h3>Answer</h3>
<p>
    For the first configuration (Acid Rain and non-Acid Rain units sharing a
    common stack), the procedures and mathematics are exactly analogous to
    the case described in Question 22.2. Simply replace the term "NO<sub>x</sub> 
    affected unit" with the term, "Acid Rain unit" and replace the term "NO<sub>x</sub>
    non-affected unit" with the term "non-Acid Rain unit."
</p>
<p>
    However, the second configuration (NO<sub>x</sub> affected units sharing a common
    stack) is not analogous to the case described in Question 22.2, as there are
    no NO<sub>x</sub> non-affected units. Options (1), (2), and (3) in Background section
    (I)(B), above, apply. If Option (3) is chosen, the owner or operator must
    submit a petition for an alternate apportionment method, satisfactory to the
    Administrator, ensuring complete and accurate estimation of emissions
    and no underestimation of any unit's emissions.
</p>
<h3>References</h3>
<p>
    § 75.17
</p>
<h3>History</h3>
<p>
    First published in March 2000, Update #12
</p>