<style>
    .img-thumbnail {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        margin-left: auto;
        margin-right: auto;
    }

    em {
        text-decoration: underline;
    }

    .noStyle {
        text-decoration: none;
    }

    ul {
        list-style: none;
    }

    .anchorPad {
        padding-top: 75px;
        margin-top: -65px;
    }
</style>
<h2 id="BackToTop" class="anchorPad">
    Appendix G to Part 75 - Determination of CO<sub>2</sub> Emissions
</h2>
<hr />
<h3>
   3.&emsp;Procedures for Estimating CO2 Emissions From Sorbent
</h3>
<hr />
<div class="container" style="max-height: 200px; overflow: auto">
    <a href="#3.1">3.1</a><br />
    <a href="#3.1.1">3.1.1</a><br />
    <a href="#3.1.1">3.1.1</a><br />
</div>
<hr />
<p>
    When the affected unit has a wet flue gas desulfurization system, is a fluidized bed boiler, or uses other emission controls with sorbent injection, use either a CO2 continuous emission monitoring system or an O2 monitor and a flow monitor, or use the procedures, methods, and equations in sections <a href="#3.1" style="text-decoration: none">3.1</a> through <a href="#3.2" style="text-decoration: none">3.2</a> of this appendix to determine daily CO2 mass emissions from the sorbent (in tons).
</p>
<p id="3.1" class="anchorPad">
    <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
    3.1&emsp;When limestone is the sorbent material, use the equations and procedures in either section <a href="#3.1.1" style="text-decoration: none">3.1.1</a> or <a href="#3.1.2" style="text-decoration: none">3.1.2</a> of this appendix.
</p>
<ul>
    <li id="3.1.1" class="anchorPad">
        <a href="#BackToTop" title="Back to Top"><span class="fa fa-chevron-up"></span></a>
        3.1.1&emsp;Use the following equation to estimate daily CO2 mass emissions from sorbent (in tons).
    </li>
</ul>
<hr />
<h4>Reference</h4>
<p>
    [58 FR 3701, Jan. 11, 1993, as amended at 60 FR 26556, May 17, 1995; 61 FR 25585, May 22, 1996; 64 FR 28671, May 26, 1999; 67 FR 40475, June 12, 2002; 67 FR 57274, Sept. 9, 2002; 73 FR 4376, Jan. 24, 2008]
</p>
